<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-system-group-map-heading">Create or edit a System Group Map</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!systemGroupMap.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="systemGroupMap.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_groupType">Group Type</label>
                    <select class="form-control" name="groupType" [(ngModel)]="systemGroupMap.groupType" id="field_groupType" >
                        <option value="ASSETS">ASSETS</option>
                        <option value="LIABILITIES">LIABILITIES</option>
                        <option value="EQUITIES">EQUITIES</option>
                        <option value="INCOME">INCOME</option>
                        <option value="EXPENSES">EXPENSES</option>
                        <option value="BANK_ACCOUNTS">BANK_ACCOUNTS</option>
                        <option value="CASH_IN_HAND">CASH_IN_HAND</option>
                        <option value="SUNDRY_DEBTOR">SUNDRY_DEBTOR</option>
                        <option value="SUNDRY_CREDITOR">SUNDRY_CREDITOR</option>
                        <option value="CURRENT_LIABILITIES">CURRENT_LIABILITIES</option>
                        <option value="CURRENT_ASSETS">CURRENT_ASSETS</option>
                        <option value="FIXED_ASSETS">FIXED_ASSETS</option>
                        <option value="LOAN">LOAN</option>
                        <option value="SHARE_CAPITAL">SHARE_CAPITAL</option>
                        <option value="DEPRECIATION">DEPRECIATION</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_group">Group</label>

                    <input type="text" class="form-control" name="mainGroup" id="field_group"
                           [(ngModel)]="selectedGroupName" [ngbTypeahead]="search"
                           (focus)="focus$.next($event.target.value)"
                           (click)="click$.next($event.target.value)"
                           #instance="ngbTypeahead"
                    />
                </div>



            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
