<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="quotationDetails">
            <h2><span>Quotation Details</span> {{quotationDetails.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Currency</span></dt>
                <dd>
                    <span>{{quotationDetails.currency}}</span>
                </dd>
                <dt><span>Rate</span></dt>
                <dd>
                    <span>{{quotationDetails.rate}}</span>
                </dd>
                <dt><span>Quantity</span></dt>
                <dd>
                    <span>{{quotationDetails.quantity}}</span>
                </dd>
                <dt><span>Pay Type</span></dt>
                <dd>
                    <span>{{quotationDetails.payType}}</span>
                </dd>
                <dt><span>Credit Limit</span></dt>
                <dd>
                    <span>{{quotationDetails.creditLimit}}</span>
                </dd>
                <dt><span>Vat Status</span></dt>
                <dd>
                    <span>{{quotationDetails.vatStatus}}</span>
                </dd>
                <dt><span>Ait Status</span></dt>
                <dd>
                    <span>{{quotationDetails.aitStatus}}</span>
                </dd>
                <dt><span>Warranty Status</span></dt>
                <dd>
                    <span>{{quotationDetails.warrantyStatus}}</span>
                </dd>
                <dt><span>Loading Port</span></dt>
                <dd>
                    <span>{{quotationDetails.loadingPort}}</span>
                </dd>
                <dt><span>Estimated Date</span></dt>
                <dd>
                    <span>{{quotationDetails.estimatedDate}}</span>
                </dd>
                <dt><span>Remarks</span></dt>
                <dd>
                    <span>{{quotationDetails.remarks}}</span>
                </dd>
                <dt><span>Modified By</span></dt>
                <dd>
                    <span>{{quotationDetails.modifiedBy}}</span>
                </dd>
                <dt><span>Modified On</span></dt>
                <dd>
                    <span>{{quotationDetails.modifiedOn}}</span>
                </dd>
                <dt><span>Quotation</span></dt>
                <dd>
                    <div *ngIf="quotationDetails.quotationId">
                        <a [routerLink]="['/quotation', quotationDetails.quotationId, 'view']">{{quotationDetails.quotationQuotationNo}}</a>
                    </div>
                </dd>
                <dt><span>Requisition Details</span></dt>
                <dd>
                    <div *ngIf="quotationDetails.requisitionDetailsId">
                        <a [routerLink]="['/requisition-details', quotationDetails.requisitionDetailsId, 'view']">{{quotationDetails.requisitionDetailsId}}</a>
                    </div>
                </dd>
                <dt><span>Product</span></dt>
                <dd>
                    <div *ngIf="quotationDetails.productId">
                        <a [routerLink]="['/product', quotationDetails.productId, 'view']">{{quotationDetails.productName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/quotation-details', quotationDetails.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
