<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-commercial-proforma-invoice-heading">Create or edit a Commercial Proforma Invoice</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!commercialProformaInvoice.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="commercialProformaInvoice.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_companyName">Company Name</label>
                    <input type="text" class="form-control" name="companyName" id="field_companyName"
                        [(ngModel)]="commercialProformaInvoice.companyName" required/>
                    <div [hidden]="!(editForm.controls.companyName?.dirty && editForm.controls.companyName?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.companyName?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_companyDescriptionOrAddress">Company Description Or Address</label>
                    <input type="text" class="form-control" name="companyDescriptionOrAddress" id="field_companyDescriptionOrAddress"
                        [(ngModel)]="commercialProformaInvoice.companyDescriptionOrAddress" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_proformaNo">Proforma No</label>
                    <input type="text" class="form-control" name="proformaNo" id="field_proformaNo"
                        [(ngModel)]="commercialProformaInvoice.proformaNo" required/>
                    <div [hidden]="!(editForm.controls.proformaNo?.dirty && editForm.controls.proformaNo?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.proformaNo?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_proformaDate">Proforma Date</label>
                    <div class="input-group">
                        <input id="field_proformaDate" type="text" class="form-control" name="proformaDate" ngbDatepicker  #proformaDateDp="ngbDatepicker" [(ngModel)]="commercialProformaInvoice.proformaDate"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="proformaDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_harmonicCode">Harmonic Code</label>
                    <input type="text" class="form-control" name="harmonicCode" id="field_harmonicCode"
                        [(ngModel)]="commercialProformaInvoice.harmonicCode" required/>
                    <div [hidden]="!(editForm.controls.harmonicCode?.dirty && editForm.controls.harmonicCode?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.harmonicCode?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_paymentTerm">Payment Term</label>
                    <input type="text" class="form-control" name="paymentTerm" id="field_paymentTerm"
                        [(ngModel)]="commercialProformaInvoice.paymentTerm" required/>
                    <div [hidden]="!(editForm.controls.paymentTerm?.dirty && editForm.controls.paymentTerm?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.paymentTerm?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_termsOfDelivery">Terms Of Delivery</label>
                    <input type="text" class="form-control" name="termsOfDelivery" id="field_termsOfDelivery"
                        [(ngModel)]="commercialProformaInvoice.termsOfDelivery" required/>
                    <div [hidden]="!(editForm.controls.termsOfDelivery?.dirty && editForm.controls.termsOfDelivery?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.termsOfDelivery?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_shipmentDate">Shipment Date</label>
                    <input type="text" class="form-control" name="shipmentDate" id="field_shipmentDate"
                        [(ngModel)]="commercialProformaInvoice.shipmentDate" required/>
                    <div [hidden]="!(editForm.controls.shipmentDate?.dirty && editForm.controls.shipmentDate?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.shipmentDate?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_portOfLanding">Port Of Landing</label>
                    <input type="text" class="form-control" name="portOfLanding" id="field_portOfLanding"
                        [(ngModel)]="commercialProformaInvoice.portOfLanding" required/>
                    <div [hidden]="!(editForm.controls.portOfLanding?.dirty && editForm.controls.portOfLanding?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.portOfLanding?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_portOfDestination">Port Of Destination</label>
                    <input type="text" class="form-control" name="portOfDestination" id="field_portOfDestination"
                        [(ngModel)]="commercialProformaInvoice.portOfDestination" required/>
                    <div [hidden]="!(editForm.controls.portOfDestination?.dirty && editForm.controls.portOfDestination?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.portOfDestination?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_createdBy">Created By</label>
                    <input type="text" class="form-control" name="createdBy" id="field_createdBy"
                        [(ngModel)]="commercialProformaInvoice.createdBy" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_createOn">Create On</label>
                    <div class="input-group">
                        <input id="field_createOn" type="text" class="form-control" name="createOn" ngbDatepicker  #createOnDp="ngbDatepicker" [(ngModel)]="commercialProformaInvoice.createOn"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="createOnDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_updatedBy">Updated By</label>
                    <input type="text" class="form-control" name="updatedBy" id="field_updatedBy"
                        [(ngModel)]="commercialProformaInvoice.updatedBy" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_updatedOn">Updated On</label>
                    <input type="text" class="form-control" name="updatedOn" id="field_updatedOn"
                        [(ngModel)]="commercialProformaInvoice.updatedOn" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_commercialPurchaseOrder">Commercial Purchase Order</label>
                    <select class="form-control" id="field_commercialPurchaseOrder" name="commercialPurchaseOrder" [(ngModel)]="commercialProformaInvoice.commercialPurchaseOrderId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="commercialPurchaseOrderOption.id" *ngFor="let commercialPurchaseOrderOption of commercialpurchaseorders; trackBy: trackCommercialPurchaseOrderById">{{commercialPurchaseOrderOption.purchaseOrderNo}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
