<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-production-heading">Create or edit a Production</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!production.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="production.id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_requisitions">Requisitions</label>
                    <select class="form-control" id="field_requisitions" name="requisitions" [(ngModel)]="production.requisitionsId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="requisitionOption.id" *ngFor="let requisitionOption of requisitions; trackBy: trackRequisitionById">{{requisitionOption.requisitionNo}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_productCategories">Product Categories</label>
                    <select class="form-control" id="field_productCategories" name="productCategories" [(ngModel)]="production.productCategoriesId" required>
                        <option [ngValue]="null"></option>
                        <option [ngValue]="productCategoryOption.id" *ngFor="let productCategoryOption of productcategories; trackBy: trackProductCategoryById">{{productCategoryOption.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_products">Products</label>
                    <select class="form-control" id="field_products" name="products" [(ngModel)]="production.productsId" required>
                        <option [ngValue]="null"></option>
                        <option [ngValue]="productOption.id" *ngFor="let productOption of products; trackBy: trackProductById">{{productOption.name}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_weightStep">Weight Step</label>
                    <select class="form-control" name="weightStep" [(ngModel)]="production.weightStep" id="field_weightStep"  required>
                        <option value="RAW">RAW</option>
                        <option value="FILLET">FILLET</option>
                        <option value="PROCESS_FILLET">PROCESS_FILLET</option>
                        <option value="FREEZING">FREEZING</option>
                    </select>
                    <div [hidden]="!(editForm.controls.weightStep?.dirty && editForm.controls.weightStep?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.weightStep?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_unit">Unit</label>
                    <select class="form-control" name="unit" [(ngModel)]="production.unit" id="field_unit"  required>
                        <option value="PCS">PCS</option>
                        <option value="KG">KG</option>
                        <option value="TON">TON</option>
                        <option value="GRAM">GRAM</option>
                    </select>
                    <div [hidden]="!(editForm.controls.unit?.dirty && editForm.controls.unit?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.unit?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_quantity">Quantity</label>
                    <input type="number" class="form-control" name="quantity" id="field_quantity"
                        [(ngModel)]="production.quantity" required/>
                    <div [hidden]="!(editForm.controls.quantity?.dirty && editForm.controls.quantity?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.quantity?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.quantity?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_byProductDescription">By Product Description</label>
                    <input type="text" class="form-control" name="byProductDescription" id="field_byProductDescription"
                        [(ngModel)]="production.byProductDescription" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_byProductQuantity">By Product Quantity</label>
                    <input type="number" class="form-control" name="byProductQuantity" id="field_byProductQuantity"
                        [(ngModel)]="production.byProductQuantity" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_remarks">Remarks</label>
                    <input type="text" class="form-control" name="remarks" id="field_remarks"
                        [(ngModel)]="production.remarks" />
                </div>
               <!-- <div class="form-group">
                    <label class="form-control-label" for="field_createdBy">Created By</label>
                    <input type="text" class="form-control" name="createdBy" id="field_createdBy"
                        [(ngModel)]="production.createdBy" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_createdOn">Created On</label>
                    <div class="d-flex">
                        <input id="field_createdOn" type="datetime-local" class="form-control" name="createdOn" [(ngModel)]="createdOn" placeholder="YYYY-MM-DD HH:mm"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_updatedBy">Updated By</label>
                    <input type="text" class="form-control" name="updatedBy" id="field_updatedBy"
                        [(ngModel)]="production.updatedBy" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_updatedOn">Updated On</label>
                    <div class="d-flex">
                        <input id="field_updatedOn" type="datetime-local" class="form-control" name="updatedOn" [(ngModel)]="updatedOn" placeholder="YYYY-MM-DD HH:mm"
                        />
                    </div>
                </div>-->

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
