<div class="row justify-content-center">
    <div class="col-12">
        <jhi-alert></jhi-alert>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-6">
        <h2 id="page-heading">Leave Balance</h2>
    </div>
    <div class="col-6">
        <form name="searchForm" class="form-inline">
            <div class="input-group w-100 mt-3">
                <!--<input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch"
                       name="currentSearch" placeholder="Query">
                <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                    <fa-icon [icon]="'search'"></fa-icon>
                </button>
                <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                    <fa-icon [icon]="'trash-alt'"></fa-icon>
                </button>
                <button id="jh-create-entity"
                        class="btn btn-primary float-right jh-create-entity create-leave-application"
                        [routerLink]="['/leave-application/new']">
                    <fa-icon [icon]="'plus'"></fa-icon>
                </button>-->
            </div>
        </form>
    </div>
</div>

<br/>

<div class="row">
    <div class="col-3">
        <label class="form-control-label">Year</label>
        <div class="input-group">
            <select class="form-control" name="yearFrom" [(ngModel)]="fromDate.year" id="field_YearFrom">
                <option [ngValue]="null">Year</option>
                <option [ngValue]="year.id" *ngFor="let year of years; trackBy: trackYearId">{{year.name}}</option>
            </select>

            <button class="input-group-append btn btn-info" (click)="getLeaveBalance(employee.employeeId, fromDate.year)">
                <fa-icon [icon]="'search'"></fa-icon>
            </button>
        </div>
    </div>
</div>

<br/>


<div class="row justify-content-center">
    <div class="col-12 ">
        <br/>
        <div class="table-responsive" *ngIf="leaveBalances">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th><span>Employee Id</span>
                    </th>
                    <th><span>Leave Types</span>
                    </th>
                    <th><span>Total days</span>
                    </th>
                    <th><span>Remaining days</span>
                    </th>
                    <th><button type="button" style="float: right"
                                class="btn btn-info btn-sm"
                                (click)="generateReport()" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_LEAVE_ADMIN', 'ROLE_LEAVE_MANAGER']">
                        <fa-icon [icon]="'download'"></fa-icon>
                    </button></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let leaveBalance of leaveBalances ;trackBy: trackId">
                    <td>{{leaveBalance.employeeId}}</td>
                    <td>
                        {{leaveBalance.leaveTypeName}}
                    </td>
                    <td>{{leaveBalance.totalLeaveApplicableDays}}</td>
                    <td>{{leaveBalance.remainingDays}}</td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
