<div class="row justify-content-center">
    <div class="col-12">
        <jhi-alert></jhi-alert>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-6">
        <h2 id="page-heading">Review Leave Applications</h2>
    </div>
    <div class="col-6">
        <form name="searchForm" class="form-inline">
            <div class="input-group w-100 mt-3">
                <!--input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch"
                       name="currentSearch" placeholder="Query">
                <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                    <fa-icon [icon]="'search'"></fa-icon>
                </button>
                <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                    <fa-icon [icon]="'trash-alt'"></fa-icon>
                </button>-->
            </div>
        </form>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-12 ">
        <br/>

        <div *ngIf="leaveApplications">
            <div *ngFor="let leaveApplication of leaveApplications ;trackBy: trackId">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span><b>{{leaveApplication.employeesFullName}}</b> has requested <b>{{leaveApplication.numberOfDays}}</b> day(s) leave.</span>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-3">
                                <label>Application Id: <strong>{{leaveApplication.id}}</strong></label>
                            </div>
                            <div class="col-9">
                                <label>Employee: <strong>{{leaveApplication.employeesFullName}}</strong></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <label>Leave Types: <strong>{{leaveApplication.leaveTypesName}}</strong></label>
                            </div>
                            <div class="col-3">
                                <label>From Date:
                                    <strong>{{leaveApplication.fromDate | date:'mediumDate'}}</strong></label>
                            </div>
                            <div class="col-3">
                                <label>To Date: <strong>{{leaveApplication.toDate | date:'mediumDate'}}</strong></label>
                            </div>
                            <div class="col-3">
                                <label>Total Day(s): <strong>{{leaveApplication.numberOfDays}}</strong></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-9">
                                <label>Reason: <strong>{{leaveApplication.reason}}</strong></label>
                            </div>

                            <div class="col-3">
                                <label>Status: <strong>{{leaveApplication.status}}</strong></label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <label>Applied By: <strong>{{leaveApplication.appliedByIdFullName}}</strong></label>
                            </div>
                            <div class="col-3">
                                <label>Applied On:
                                    <strong>{{leaveApplication.appliedOn | date:'medium'}}</strong></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-9">
                                {{leaveApplication.id | leaveAttachmentFilter: leaveAttachments}}
                            </div>
                            <div class="col-3" style="float: right">
                                <div class="btn-group flex-btn-group-container">
                                    <button type="submit"
                                            class="btn btn-danger btn-sm"
                                            (click)="save(false, leaveApplication)">
                                        <fa-icon [icon]="'times'"></fa-icon>
                                        <span class="d-none d-md-inline">Reject</span>
                                    </button>
                                    <button type="submit"
                                            class="btn btn-success btn-sm"
                                            (click)="save(true, leaveApplication)">
                                        <fa-icon [icon]="'check'"></fa-icon>
                                        <span class="d-none d-md-inline">Accept</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="table-responsive" *ngIf="leaveApplications">
            <table class="table table-striped">
                <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
                    <th jhiSortBy="id"><span>ID</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="employeeId"><span>Employee</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="leaveTypesName"><span>Leave Types</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="fromDate"><span>From Date</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="toDate"><span>To Date</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="numberOfDays"><span>Number Of Days</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="reason"><span>Reason</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="appliedBy"><span>Applied By</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="appliedOn"><span>Applied On</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="actionTakenBy"><span>Action Taken By</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="actionTakenOn"><span>Action Taken On</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="status"><span>Status</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th></th>
                </tr>
                </thead>
                <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']"
                       [infiniteScrollDistance]="0">
                <tr *ngFor="let leaveApplication of leaveApplications ;trackBy: trackId">
                    <td>&lt;!&ndash;<a
                        [routerLink]="['/leave-application', leaveApplication.id, 'view' ]">{{leaveApplication.id}}</a>&ndash;&gt;
                        {{leaveApplication.id}}
                    </td>
                    <td>{{leaveApplication.employeesFullName}}</td>
                    <td>
                        <div *ngIf="leaveApplication.leaveTypesId">
                            &lt;!&ndash;<a [routerLink]="['../leave-type', leaveApplication.leaveTypesId , 'view' ]">{{leaveApplication.leaveTypesName}}</a>&ndash;&gt; {{leaveApplication.leaveTypesName}}
                        </div>
                    </td>
                    <td>{{leaveApplication.fromDate | date:'mediumDate'}}</td>
                    <td>{{leaveApplication.toDate | date:'mediumDate'}}</td>
                    <td>{{leaveApplication.numberOfDays}}</td>
                    <td>{{leaveApplication.reason}}</td>
                    <td>{{leaveApplication.appliedByIdId}}</td>
                    <td>{{leaveApplication.appliedOn | date:'medium'}}</td>
                    <td>{{leaveApplication.actionTakenByIdId}}</td>
                    <td>{{leaveApplication.actionTakenOn | date:'medium'}}</td>
                    <td>{{leaveApplication.status}}</td>
                    <td class="text-right" width="20%">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    class="btn btn-danger btn-sm"
                             (click)="save(false, leaveApplication)" >
                                <fa-icon [icon]="'times'"></fa-icon>
                                <span class="d-none d-md-inline">Reject</span>
                            </button>
                            <button type="submit"
                                    class="btn btn-success btn-sm"
                                    (click)="save(true, leaveApplication)">
                                <fa-icon [icon]="'check'"></fa-icon>
                                <span class="d-none d-md-inline">Accept</span>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>-->
    </div>
</div>
