<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="academicInformationAttachment">
            <h2><span>Academic Information Attachment</span> {{academicInformationAttachment.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>File</span></dt>
                <dd>
                    <div *ngIf="academicInformationAttachment.file">
                        <a (click)="openFile(academicInformationAttachment.fileContentType, academicInformationAttachment.file)">open</a>
                        {{academicInformationAttachment.fileContentType}}, {{byteSize(academicInformationAttachment.file)}}
                    </div>
                </dd>
                <dt><span>Employee</span></dt>
                <dd>
                    <div *ngIf="academicInformationAttachment.employeeId">
                        <a [routerLink]="['/employee', academicInformationAttachment.employeeId, 'view']">{{academicInformationAttachment.employeeEmployeeId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/academic-information-attachment', academicInformationAttachment.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
