<div *ngIf="showAcademicInformationAttachmentSection">
    <h3 id="page-heading">
        <span></span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-academic-information-attachment" (click)="addAcademicInformationAttachment()">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down" >
            Add attachment
            </span>
        </button>
    </h3>

    <br/>
    <div class="table-responsive" *ngIf="academicInformationAttachments">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>File</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let academicInformationAttachment of academicInformationAttachments ;trackBy: trackId">
                <td><a [routerLink]="['/academic-information-attachment', academicInformationAttachment.id, 'view' ]">{{academicInformationAttachment.id}}</a></td>
                <td>
                    <a *ngIf="academicInformationAttachment.file" (click)="openFile(academicInformationAttachment.fileContentType, academicInformationAttachment.file)">open</a>
                    <span *ngIf="academicInformationAttachment.file">{{academicInformationAttachment.fileContentType}}, {{byteSize(academicInformationAttachment.file)}}</span>
                </td>

                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                (click)="viewAcademicInformationAttachment(academicInformationAttachment)"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                (click)="edit(academicInformationAttachment)"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                (click)="delete(academicInformationAttachment)"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div *ngIf="!showAcademicInformationAttachmentSection">
    <jhi-academic-information-attachment-update *ngIf="showAddOrUpdateSection" [academicInformationAttachment]="academicInformationAttachment" (showAcademicInformationAttachmentSection)="showAcademicInformationAttachment()"></jhi-academic-information-attachment-update>
    <jhi-academic-information-attachment-detail *ngIf="!showAddOrUpdateSection" [academicInformationAttachment]="academicInformationAttachment" (showAcademicInformationAttachmentSection)="showAcademicInformationAttachment()" (editAcademicInformationAttachment)="editAcademicInformationAttachment()"></jhi-academic-information-attachment-detail>
</div>

<jhi-academic-information-attachment-delete-popup *ngIf="showDeleteDialog" [academicInformationAttachment]="academicInformationAttachment" (showAcademicInformationAttachment)="showAcademicInformationAttachment()"></jhi-academic-information-attachment-delete-popup>
