<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-commercial-pi-heading">Create or edit a Commercial Pi</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!commercialPi.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="commercialPi.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_companyName">Company Name</label>
                    <input type="text" class="form-control" name="companyName" id="field_companyName"
                        [(ngModel)]="commercialPi.companyName" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_companyDescription">Company Description</label>
                    <input type="text" class="form-control" name="companyDescription" id="field_companyDescription"
                        [(ngModel)]="commercialPi.companyDescription" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_proformaNo">Proforma No</label>
                    <input type="text" class="form-control" name="proformaNo" id="field_proformaNo"
                        [(ngModel)]="commercialPi.proformaNo" required/>
                    <div [hidden]="!(editForm.controls.proformaNo?.dirty && editForm.controls.proformaNo?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.proformaNo?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_proformaDate">Proforma Date</label>
                    <div class="input-group">
                        <input id="field_proformaDate" type="text" class="form-control" name="proformaDate" ngbDatepicker  #proformaDateDp="ngbDatepicker" [(ngModel)]="commercialPi.proformaDate"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="proformaDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_harmonicCode">Harmonic Code</label>
                    <input type="text" class="form-control" name="harmonicCode" id="field_harmonicCode"
                        [(ngModel)]="commercialPi.harmonicCode" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_paymentType">Payment Type</label>
                    <select class="form-control" name="paymentType" [(ngModel)]="commercialPi.paymentType" id="field_paymentType"  required>
                        <option value="LC">LC</option>
                        <option value="TT">TT</option>
                        <option value="CASH">CASH</option>
                        <option value="CHEQUE">CHEQUE</option>
                        <option value="OTHERS">OTHERS</option>
                    </select>
                    <div [hidden]="!(editForm.controls.paymentType?.dirty && editForm.controls.paymentType?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.paymentType?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_paymentTerm">Payment Term</label>
                    <input type="text" class="form-control" name="paymentTerm" id="field_paymentTerm"
                        [(ngModel)]="commercialPi.paymentTerm" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_termsOfDelivery">Terms Of Delivery</label>
                    <input type="text" class="form-control" name="termsOfDelivery" id="field_termsOfDelivery"
                        [(ngModel)]="commercialPi.termsOfDelivery" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_shipmentDate">Shipment Date</label>
                    <input type="text" class="form-control" name="shipmentDate" id="field_shipmentDate"
                        [(ngModel)]="commercialPi.shipmentDate" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_portOfLoading">Port Of Loading</label>
                    <input type="text" class="form-control" name="portOfLoading" id="field_portOfLoading"
                        [(ngModel)]="commercialPi.portOfLoading" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_portOfDestination">Port Of Destination</label>
                    <input type="text" class="form-control" name="portOfDestination" id="field_portOfDestination"
                        [(ngModel)]="commercialPi.portOfDestination" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_purchaseOrderNo">Purchase Order No</label>
                    <input type="text" class="form-control" name="purchaseOrderNo" id="field_purchaseOrderNo"
                        [(ngModel)]="commercialPi.purchaseOrderNo" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_piStatus">Pi Status</label>
                    <select class="form-control" name="piStatus" [(ngModel)]="commercialPi.piStatus" id="field_piStatus" >
                        <option value="WAITING_FOR_PI_APPROVAL_BY_THE_CUSTOMER">WAITING_FOR_PI_APPROVAL_BY_THE_CUSTOMER</option>
                        <option value="PI_APPROVED_BY_THE_CUSTOMER">PI_APPROVED_BY_THE_CUSTOMER</option>
                        <option value="PI_REJECTED_BY_THE_CUSTOMER">PI_REJECTED_BY_THE_CUSTOMER</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_createdBy">Created By</label>
                    <input type="text" class="form-control" name="createdBy" id="field_createdBy"
                        [(ngModel)]="commercialPi.createdBy" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_createdOn">Created On</label>
                    <div class="d-flex">
                        <input id="field_createdOn" type="datetime-local" class="form-control" name="createdOn" [(ngModel)]="createdOn" placeholder="YYYY-MM-DD HH:mm"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_updatedBy">Updated By</label>
                    <input type="text" class="form-control" name="updatedBy" id="field_updatedBy"
                        [(ngModel)]="commercialPi.updatedBy" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_updatedOn">Updated On</label>
                    <div class="d-flex">
                        <input id="field_updatedOn" type="datetime-local" class="form-control" name="updatedOn" [(ngModel)]="updatedOn" placeholder="YYYY-MM-DD HH:mm"
                        />
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_commercialBudget">Commercial Budget</label>
                    <select class="form-control" id="field_commercialBudget" name="commercialBudget" [(ngModel)]="commercialPi.commercialBudgetId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="commercialBudgetOption.id" *ngFor="let commercialBudgetOption of commercialbudgets; trackBy: trackCommercialBudgetById">{{commercialBudgetOption.budgetNo}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
