<div class="row">
    <div class="col-12">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-commercial-budget-heading">Create or edit a Commercial Budget</h2>
            <jhi-alert-error></jhi-alert-error>
            <div class="row">
                <div class="form-group col-3" [hidden]="!commercialBudget.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                           [(ngModel)]="commercialBudget.id" readonly/>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-3">
                    <label class="form-control-label" for="field_budgetNo">Budget No</label>
                    <input type="text" class="form-control" name="budgetNo" id="field_budgetNo"
                           [(ngModel)]="commercialBudget.budgetNo" required/>
                    <div [hidden]="!(editForm.controls.budgetNo?.dirty && editForm.controls.budgetNo?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.budgetNo?.errors?.required">
                            This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group col-3">
                    <label class="form-control-label" for="field_type">Type</label>
                    <select class="form-control" name="type" [(ngModel)]="commercialBudget.type" id="field_type"
                            required>
                        <option value="LOCAL">LOCAL</option>
                        <option value="FOREIGN">FOREIGN</option>
                    </select>
                    <div [hidden]="!(editForm.controls.type?.dirty && editForm.controls.type?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.type?.errors?.required">
                            This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group col-3">
                    <label class="form-control-label" for="field_customer">Customer</label>
                    <select class="form-control" name="customer" [(ngModel)]="commercialBudget.customer"
                            id="field_customer" required>
                        <option value="ZONE">ZONE</option>
                        <option value="FOREIGN">FOREIGN</option>
                    </select>
                    <div [hidden]="!(editForm.controls.customer?.dirty && editForm.controls.customer?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.customer?.errors?.required">
                            This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group col-3">
                    <label class="form-control-label" for="field_budgetDate">Budget Date</label>
                    <div class="input-group">
                        <input id="field_budgetDate" type="text" class="form-control" name="budgetDate" ngbDatepicker
                               #budgetDateDp="ngbDatepicker" [(ngModel)]="commercialBudget.budgetDate"
                               required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="budgetDateDp.toggle()"><fa-icon
                                [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.budgetDate?.dirty && editForm.controls.budgetDate?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.budgetDate?.errors?.required">
                            This field is required.
                        </small>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-3">
                    <label class="form-control-label" for="field_totalQuantity">Total Quantity</label>
                    <input type="number" class="form-control" name="totalQuantity" id="field_totalQuantity"
                           [(ngModel)]="commercialBudget.totalQuantity" readonly/>
                </div>
                <div class="form-group col-3">
                    <label class="form-control-label" for="field_totalOfferedPrice">Total Offered Price</label>
                    <input type="number" class="form-control" name="totalOfferedPrice" id="field_totalOfferedPrice"
                           [(ngModel)]="commercialBudget.totalOfferedPrice" readonly/>
                </div>
                <div class="form-group col-3">
                    <label class="form-control-label" for="field_totalBuyingPrice">Total Buying Price</label>
                    <input type="number" class="form-control" name="totalBuyingPrice" id="field_totalBuyingPrice"
                           [(ngModel)]="commercialBudget.totalBuyingPrice" readonly/>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-3">
                    <label class="form-control-label" for="field_profitAmount">Profit Amount</label>
                    <input type="number" class="form-control" name="profitAmount" id="field_profitAmount"
                           [(ngModel)]="commercialBudget.profitAmount" readonly/>
                </div>
                <div class="form-group col-3">
                    <label class="form-control-label" for="field_profitPercentage">Profit Percentage</label>
                    <input type="number" class="form-control" name="profitPercentage" id="field_profitPercentage"
                           [(ngModel)]="commercialBudget.profitPercentage" readonly/>
                </div>
                <div class="form-group col-3">
                    <label class="form-control-label" for="field_budgetStatus">Budget Status</label>
                    <select class="form-control" name="budgetStatus" [(ngModel)]="commercialBudget.budgetStatus"
                            id="field_budgetStatus" readonly disabled>
                        <option value="WAITING_FOR_APPROVAL">WAITING_FOR_APPROVAL</option>
                        <option value="APPROVED">APPROVED</option>
                        <option value="REJECTED">REJECTED</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-3">
                    <label class="form-control-label" for="field_proformaNo">Proforma No</label>
                    <input type="text" class="form-control" name="proformaNo" id="field_proformaNo"
                           [(ngModel)]="commercialBudget.proformaNo" required/>
                </div>
            </div>

            <div style="float: right" [hidden]="commercialBudget.id">
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving"
                        class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>

<div class="row" *ngIf="commercialProductInfos">
    <div class="col-12">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th><span>Task No</span></th>
                    <th><span>Products</span></th>
                    <th><span>Product Categories</span></th>
                    <th><span>Offered Quantity</span></th>
                    <th><span>Offered Unit</span></th>
                    <th><span>Offered Unit Price</span></th>
                    <th><span>Offered Total Price</span></th>
                    <th><span><b>||</b></span></th>
                    <th><span>Buying Quantity</span></th>
                    <th><span>Buying Unit</span></th>
                    <th><span>Buying Unit Price</span></th>
                    <th><span>Buying Total Price</span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let commercialProductInfo of commercialProductInfos;">
                    <td>{{commercialProductInfo.taskNo}}</td>
                    <td>
                        <div
                            *ngIf="commercialProductInfo.productCategoriesId">{{commercialProductInfo.productCategoriesName}}
                        </div>
                    </td>
                    <td>
                        <div *ngIf="commercialProductInfo.productsId">{{commercialProductInfo.productsName}}
                        </div>
                    </td>
                    <td>{{commercialProductInfo.offeredQuantity}}</td>
                    <td>{{commercialProductInfo.offeredUnit}}</td>
                    <td>{{commercialProductInfo.offeredUnitPrice}}</td>
                    <td>{{commercialProductInfo.offeredTotalPrice}}</td>
                    <td><b>||</b></td>
                    <td>{{commercialProductInfo.buyingQuantity}}</td>
                    <td>{{commercialProductInfo.buyingUnit}}</td>
                    <td>{{commercialProductInfo.buyingUnitPrice}}</td>
                    <td>{{commercialProductInfo.buyingTotalPrice}}</td>
                    <td width="20%">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    [routerLink]="['/commercial-product-info', commercialProductInfo.id, 'view' ]"
                                    class="btn btn-info btn-sm">
                                <fa-icon [icon]="'eye'"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>
                            <button type="submit" [hidden]="commercialBudget.budgetStatus=='APPROVED'"
                                    [routerLink]="['/commercial-product-info', commercialProductInfo.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div>
            <button id="jh-create-entity" [hidden]="commercialBudget.budgetStatus=='APPROVED'"
                    class="btn btn-primary jh-create-entity create-commercial-product-info"
                    [routerLink]="['/commercial-product-info/new']">
                <fa-icon [icon]="'plus'"></fa-icon>
                <span class="hidden-sm-down">
             Add Products
            </span>
            </button>
        </div>
    </div>
    <div class="col-6">
        <div style="float: right">
            <button type="button" id="reject-entity" [hidden]="commercialBudget.budgetStatus=='APPROVED'"
                    class="btn btn-danger" (click)="this.rejected=true;save();">
                <fa-icon [icon]="'times'"></fa-icon>&nbsp;<span>Reject</span>
            </button>
            <button type="button" id="approve-entity" [hidden]="commercialBudget.budgetStatus=='APPROVED'"
                    class="btn btn-success" (click)="this.approved=true;save();">
                <fa-icon [icon]="'check'"></fa-icon>&nbsp;<span>Approve</span>
            </button>
        </div>
    </div>
</div>
