<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="commercialPurchaseOrder">
            <h2><span>Commercial Purchase Order</span> {{commercialPurchaseOrder.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Purchase Order No</span></dt>
                <dd>
                    <span>{{commercialPurchaseOrder.purchaseOrderNo}}</span>
                </dd>
                <dt><span>Purchase Order Date</span></dt>
                <dd>
                    <span>{{commercialPurchaseOrder.purchaseOrderDate}}</span>
                </dd>
                <dt><span>Origin Of Goods</span></dt>
                <dd>
                    <span>{{commercialPurchaseOrder.originOfGoods}}</span>
                </dd>
                <dt><span>Final Destination</span></dt>
                <dd>
                    <span>{{commercialPurchaseOrder.finalDestination}}</span>
                </dd>
                <dt><span>Shipment Date</span></dt>
                <dd>
                    <span>{{commercialPurchaseOrder.shipmentDate}}</span>
                </dd>
                <dt><span>Created By</span></dt>
                <dd>
                    <span>{{commercialPurchaseOrder.createdBy}}</span>
                </dd>
                <dt><span>Create On</span></dt>
                <dd>
                    <span>{{commercialPurchaseOrder.createOn}}</span>
                </dd>
                <dt><span>Updated By</span></dt>
                <dd>
                    <span>{{commercialPurchaseOrder.updatedBy}}</span>
                </dd>
                <dt><span>Updated On</span></dt>
                <dd>
                    <span>{{commercialPurchaseOrder.updatedOn}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/commercial-purchase-order', commercialPurchaseOrder.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
