<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-contra-voucher-heading">Create or edit a Contra Voucher</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!contraVoucher.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="contraVoucher.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_voucherNo">Voucher No</label>
                    <input type="text" class="form-control" name="voucherNo" id="field_voucherNo"
                        [(ngModel)]="contraVoucher.voucherNo" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_voucherDate">Voucher Date</label>
                    <div class="input-group">
                        <input id="field_voucherDate" type="text" class="form-control" name="voucherDate" ngbDatepicker  #voucherDateDp="ngbDatepicker" [(ngModel)]="contraVoucher.voucherDate"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="voucherDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_postDate">Post Date</label>
                    <div class="input-group">
                        <input id="field_postDate" type="text" class="form-control" name="postDate" ngbDatepicker  #postDateDp="ngbDatepicker" [(ngModel)]="contraVoucher.postDate"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="postDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_applicationType">Application Type</label>
                    <select class="form-control" name="applicationType" [(ngModel)]="contraVoucher.applicationType" id="field_applicationType" >
                        <option value="REQUISITION">REQUISITION</option>
                        <option value="PURCHASE_ORDER">PURCHASE_ORDER</option>
                        <option value="PAY_ROLL">PAY_ROLL</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_applicationId">Application Id</label>
                    <input type="number" class="form-control" name="applicationId" id="field_applicationId"
                        [(ngModel)]="contraVoucher.applicationId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_conversionFactor">Conversion Factor</label>
                    <input type="number" class="form-control" name="conversionFactor" id="field_conversionFactor"
                        [(ngModel)]="contraVoucher.conversionFactor" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_modifiedBy">Modified By</label>
                    <input type="text" class="form-control" name="modifiedBy" id="field_modifiedBy"
                        [(ngModel)]="contraVoucher.modifiedBy" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_modifiedOn">Modified On</label>
                    <div class="input-group">
                        <input id="field_modifiedOn" type="text" class="form-control" name="modifiedOn" ngbDatepicker  #modifiedOnDp="ngbDatepicker" [(ngModel)]="contraVoucher.modifiedOn"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="modifiedOnDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_currency">Currency</label>
                    <select class="form-control" id="field_currency" name="currency" [(ngModel)]="contraVoucher.currencyId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="currencyOption.id" *ngFor="let currencyOption of currencies; trackBy: trackCurrencyById">{{currencyOption.notation}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
