<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-commercial-invoice-heading">Create or edit a Commercial Invoice</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!commercialInvoice.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="commercialInvoice.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_invoiceNo">Invoice No</label>
                    <input type="text" class="form-control" name="invoiceNo" id="field_invoiceNo"
                        [(ngModel)]="commercialInvoice.invoiceNo" required/>
                    <div [hidden]="!(editForm.controls.invoiceNo?.dirty && editForm.controls.invoiceNo?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.invoiceNo?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_invoiceDate">Invoice Date</label>
                    <input type="text" class="form-control" name="invoiceDate" id="field_invoiceDate"
                        [(ngModel)]="commercialInvoice.invoiceDate" required/>
                    <div [hidden]="!(editForm.controls.invoiceDate?.dirty && editForm.controls.invoiceDate?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.invoiceDate?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_termsOfPayment">Terms Of Payment</label>
                    <input type="text" class="form-control" name="termsOfPayment" id="field_termsOfPayment"
                        [(ngModel)]="commercialInvoice.termsOfPayment" required/>
                    <div [hidden]="!(editForm.controls.termsOfPayment?.dirty && editForm.controls.termsOfPayment?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.termsOfPayment?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_consignedTo">Consigned To</label>
                    <input type="text" class="form-control" name="consignedTo" id="field_consignedTo"
                        [(ngModel)]="commercialInvoice.consignedTo" required/>
                    <div [hidden]="!(editForm.controls.consignedTo?.dirty && editForm.controls.consignedTo?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.consignedTo?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_portOfLoading">Port Of Loading</label>
                    <input type="text" class="form-control" name="portOfLoading" id="field_portOfLoading"
                        [(ngModel)]="commercialInvoice.portOfLoading" required/>
                    <div [hidden]="!(editForm.controls.portOfLoading?.dirty && editForm.controls.portOfLoading?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.portOfLoading?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_portOfDischarge">Port Of Discharge</label>
                    <input type="text" class="form-control" name="portOfDischarge" id="field_portOfDischarge"
                        [(ngModel)]="commercialInvoice.portOfDischarge" required/>
                    <div [hidden]="!(editForm.controls.portOfDischarge?.dirty && editForm.controls.portOfDischarge?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.portOfDischarge?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_exportRegistrationCertificateNo">Export Registration Certificate No</label>
                    <input type="text" class="form-control" name="exportRegistrationCertificateNo" id="field_exportRegistrationCertificateNo"
                        [(ngModel)]="commercialInvoice.exportRegistrationCertificateNo" required/>
                    <div [hidden]="!(editForm.controls.exportRegistrationCertificateNo?.dirty && editForm.controls.exportRegistrationCertificateNo?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.exportRegistrationCertificateNo?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_createdBy">Created By</label>
                    <input type="text" class="form-control" name="createdBy" id="field_createdBy"
                        [(ngModel)]="commercialInvoice.createdBy" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_createOn">Create On</label>
                    <div class="input-group">
                        <input id="field_createOn" type="text" class="form-control" name="createOn" ngbDatepicker  #createOnDp="ngbDatepicker" [(ngModel)]="commercialInvoice.createOn"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="createOnDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_updatedBy">Updated By</label>
                    <input type="text" class="form-control" name="updatedBy" id="field_updatedBy"
                        [(ngModel)]="commercialInvoice.updatedBy" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_updatedOn">Updated On</label>
                    <input type="text" class="form-control" name="updatedOn" id="field_updatedOn"
                        [(ngModel)]="commercialInvoice.updatedOn" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_commercialPurchaseOrder">Commercial Purchase Order</label>
                    <select class="form-control" id="field_commercialPurchaseOrder" name="commercialPurchaseOrder" [(ngModel)]="commercialInvoice.commercialPurchaseOrderId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="commercialPurchaseOrderOption.id" *ngFor="let commercialPurchaseOrderOption of commercialpurchaseorders; trackBy: trackCommercialPurchaseOrderById">{{commercialPurchaseOrderOption.purchaseOrderNo}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_commercialProformaInvoice">Commercial Proforma Invoice</label>
                    <select class="form-control" id="field_commercialProformaInvoice" name="commercialProformaInvoice" [(ngModel)]="commercialInvoice.commercialProformaInvoiceId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="commercialProformaInvoiceOption.id" *ngFor="let commercialProformaInvoiceOption of commercialproformainvoices; trackBy: trackCommercialProformaInvoiceById">{{commercialProformaInvoiceOption.proformaNo}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_commercialPackaging">Commercial Packaging</label>
                    <select class="form-control" id="field_commercialPackaging" name="commercialPackaging" [(ngModel)]="commercialInvoice.commercialPackagingId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="commercialPackagingOption.id" *ngFor="let commercialPackagingOption of commercialpackagings; trackBy: trackCommercialPackagingById">{{commercialPackagingOption.consignmentNo}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
