<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="commercialInvoice">
            <h2><span>Commercial Invoice</span> {{commercialInvoice.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Invoice No</span></dt>
                <dd>
                    <span>{{commercialInvoice.invoiceNo}}</span>
                </dd>
                <dt><span>Invoice Date</span></dt>
                <dd>
                    <span>{{commercialInvoice.invoiceDate}}</span>
                </dd>
                <dt><span>Terms Of Payment</span></dt>
                <dd>
                    <span>{{commercialInvoice.termsOfPayment}}</span>
                </dd>
                <dt><span>Consigned To</span></dt>
                <dd>
                    <span>{{commercialInvoice.consignedTo}}</span>
                </dd>
                <dt><span>Port Of Loading</span></dt>
                <dd>
                    <span>{{commercialInvoice.portOfLoading}}</span>
                </dd>
                <dt><span>Port Of Discharge</span></dt>
                <dd>
                    <span>{{commercialInvoice.portOfDischarge}}</span>
                </dd>
                <dt><span>Export Registration Certificate No</span></dt>
                <dd>
                    <span>{{commercialInvoice.exportRegistrationCertificateNo}}</span>
                </dd>
                <dt><span>Created By</span></dt>
                <dd>
                    <span>{{commercialInvoice.createdBy}}</span>
                </dd>
                <dt><span>Created On</span></dt>
                <dd>
                    <span>{{commercialInvoice.createdOn}}</span>
                </dd>
                <dt><span>Updated By</span></dt>
                <dd>
                    <span>{{commercialInvoice.updatedBy}}</span>
                </dd>
                <dt><span>Updated On</span></dt>
                <dd>
                    <span>{{commercialInvoice.updatedOn}}</span>
                </dd>
                <dt><span>Commercial Purchase Order</span></dt>
                <dd>
                    <div *ngIf="commercialInvoice.commercialPurchaseOrderId">
                        <a [routerLink]="['/commercial-purchase-order', commercialInvoice.commercialPurchaseOrderId, 'view']">{{commercialInvoice.commercialPurchaseOrderPurchaseOrderNo}}</a>
                    </div>
                </dd>
                <dt><span>Commercial Proforma Invoice</span></dt>
                <dd>
                    <div *ngIf="commercialInvoice.commercialProformaInvoiceId">
                        <a [routerLink]="['/commercial-proforma-invoice', commercialInvoice.commercialProformaInvoiceId, 'view']">{{commercialInvoice.commercialProformaInvoiceProformaNo}}</a>
                    </div>
                </dd>
                <dt><span>Commercial Packaging</span></dt>
                <dd>
                    <div *ngIf="commercialInvoice.commercialPackagingId">
                        <a [routerLink]="['/commercial-packaging', commercialInvoice.commercialPackagingId, 'view']">{{commercialInvoice.commercialPackagingConsignmentNo}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/commercial-invoice', commercialInvoice.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
