<div>

    <div class="row">
        <div class="col-6">
            <h2>Purchase Committee</h2>
        </div>
        <div class="col-6" align="right">
            <button mat-raised-button color="primary" [routerLink]="['/purchase-committee/new']">Add New Member</button>
        </div>
    </div>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <!--<div class="row" *ngIf="purchaseCommittees">
        <div class="col-12" >
            <table style="width:100%;" mat-table [dataSource]="purchaseCommittees" class="mat-elevation-z8">
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> Id </th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>

                &lt;!&ndash; Name Column &ndash;&gt;
                <ng-container matColumnDef="employeeFullName">
                    <th mat-header-cell *matHeaderCellDef> Member Name</th>
                    <td mat-cell *matCellDef="let element"> {{element.employeeFullName}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div>-->
    <div class="table-responsive" *ngIf="purchaseCommittees">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th jhiSortBy="employeeFullName"><span>Employee</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let purchaseCommittee of purchaseCommittees ;trackBy: trackId">
                <td>
                    <div *ngIf="purchaseCommittee.employeeId">
                        {{purchaseCommittee.employeeFullName}}
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/purchase-committee', purchaseCommittee.id, 'edit']" mat-raised-button
                                color="primary">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'purchase-committee', { outlets: { popup: purchaseCommittee.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                mat-raised-button color="warn">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Pager is not implemented yet, so this is normal pagination instead -->
    <div *ngIf="purchaseCommittees && purchaseCommittees.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
