<div *ngIf="showTrainingInformationAttachmentSection">
    <h2 id="page-heading">
        <span></span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-training-information-attachment" (click)="addTrainingInformationAttachment()">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down" >
            Add
            </span>
        </button>
    </h2>
    <br/>
    <div class="table-responsive" *ngIf="trainingInformationAttachments">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>File</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let trainingInformationAttachment of trainingInformationAttachments ;trackBy: trackId">
                <td><a [routerLink]="['/training-information-attachment', trainingInformationAttachment.id, 'view' ]">{{trainingInformationAttachment.id}}</a></td>
                <td>
                    <a *ngIf="trainingInformationAttachment.file" (click)="openFile(trainingInformationAttachment.fileContentType, trainingInformationAttachment.file)">open</a>
                    <span *ngIf="trainingInformationAttachment.file">{{trainingInformationAttachment.fileContentType}}, {{byteSize(trainingInformationAttachment.file)}}</span>
                </td>

                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                (click)="viewTrainingInformationAttachment(trainingInformationAttachments)"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                (click)="edit(trainingInformationAttachment)"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                (click)="delete(trainingInformationAttachment)"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div *ngIf="!showTrainingInformationAttachmentSection">
    <jhi-training-information-attachment-update *ngIf="showAddOrUpdateSection" [trainingInformationAttachment]="trainingInformationAttachment" (showTrainingInformationAttachmentSection)="showTrainingInformationAttachment()"></jhi-training-information-attachment-update>
    <jhi-training-information-attachment-detail *ngIf="!showAddOrUpdateSection" [trainingInformationAttachment]="trainingInformationAttachment" (showTrainingInformationSection)="showTrainingInformationAttachment()" (editTrainingInformationSection)="editTrainingInformationAttachment()"></jhi-training-information-attachment-detail>
</div>

<jhi-training-information-attachment-delete-popup *ngIf="showDeleteDialog" [trainingInformationAttachment]="academicInformationAttachment" (showTrainingInformationAttachmentSection)="showTrainingInformationAttachment()"></jhi-training-information-attachment-delete-popup>

