<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-commercial-budget-heading">Create or edit a Commercial Budget</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!commercialBudget.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="commercialBudget.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_budgetNo">Budget No</label>
                    <input type="text" class="form-control" name="budgetNo" id="field_budgetNo"
                        [(ngModel)]="commercialBudget.budgetNo" required/>
                    <div [hidden]="!(editForm.controls.budgetNo?.dirty && editForm.controls.budgetNo?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.budgetNo?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_type">Type</label>
                    <select class="form-control" name="type" [(ngModel)]="commercialBudget.type" id="field_type"  required>
                        <option value="LOCAL">LOCAL</option>
                        <option value="FOREIGN">FOREIGN</option>
                    </select>
                    <div [hidden]="!(editForm.controls.type?.dirty && editForm.controls.type?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.type?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_customer">Customer</label>
                    <select class="form-control" name="customer" [(ngModel)]="commercialBudget.customer" id="field_customer"  required>
                        <option value="ZONE">ZONE</option>
                        <option value="FOREIGN">FOREIGN</option>
                    </select>
                    <div [hidden]="!(editForm.controls.customer?.dirty && editForm.controls.customer?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.customer?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_budgetDate">Budget Date</label>
                    <div class="input-group">
                        <input id="field_budgetDate" type="text" class="form-control" name="budgetDate" ngbDatepicker  #budgetDateDp="ngbDatepicker" [(ngModel)]="commercialBudget.budgetDate"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="budgetDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.budgetDate?.dirty && editForm.controls.budgetDate?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.budgetDate?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_companyName">Company Name</label>
                    <input type="text" class="form-control" name="companyName" id="field_companyName"
                        [(ngModel)]="commercialBudget.companyName" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_paymentType">Payment Type</label>
                    <select class="form-control" name="paymentType" [(ngModel)]="commercialBudget.paymentType" id="field_paymentType" >
                        <option value="LC">LC</option>
                        <option value="TT">TT</option>
                        <option value="CASH">CASH</option>
                        <option value="CHEQUE">CHEQUE</option>
                        <option value="OTHERS">OTHERS</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_transportationType">Transportation Type</label>
                    <select class="form-control" name="transportationType" [(ngModel)]="commercialBudget.transportationType" id="field_transportationType"  required>
                        <option value="CFR">CFR</option>
                        <option value="CIF">CIF</option>
                        <option value="FOB">FOB</option>
                    </select>
                    <div [hidden]="!(editForm.controls.transportationType?.dirty && editForm.controls.transportationType?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.transportationType?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_seaPortName">Sea Port Name</label>
                    <input type="text" class="form-control" name="seaPortName" id="field_seaPortName"
                        [(ngModel)]="commercialBudget.seaPortName" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_seaPortCost">Sea Port Cost</label>
                    <input type="number" class="form-control" name="seaPortCost" id="field_seaPortCost"
                        [(ngModel)]="commercialBudget.seaPortCost" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_airPortName">Air Port Name</label>
                    <input type="text" class="form-control" name="airPortName" id="field_airPortName"
                        [(ngModel)]="commercialBudget.airPortName" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_airPortCost">Air Port Cost</label>
                    <input type="number" class="form-control" name="airPortCost" id="field_airPortCost"
                        [(ngModel)]="commercialBudget.airPortCost" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_landPortName">Land Port Name</label>
                    <input type="text" class="form-control" name="landPortName" id="field_landPortName"
                        [(ngModel)]="commercialBudget.landPortName" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_landPortCost">Land Port Cost</label>
                    <input type="number" class="form-control" name="landPortCost" id="field_landPortCost"
                        [(ngModel)]="commercialBudget.landPortCost" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_insurancePrice">Insurance Price</label>
                    <input type="number" class="form-control" name="insurancePrice" id="field_insurancePrice"
                        [(ngModel)]="commercialBudget.insurancePrice" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_totalTransportationCost">Total Transportation Cost</label>
                    <input type="number" class="form-control" name="totalTransportationCost" id="field_totalTransportationCost"
                        [(ngModel)]="commercialBudget.totalTransportationCost" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_totalQuantity">Total Quantity</label>
                    <input type="number" class="form-control" name="totalQuantity" id="field_totalQuantity"
                        [(ngModel)]="commercialBudget.totalQuantity" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_totalOfferedPrice">Total Offered Price</label>
                    <input type="number" class="form-control" name="totalOfferedPrice" id="field_totalOfferedPrice"
                        [(ngModel)]="commercialBudget.totalOfferedPrice" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_totalBuyingPrice">Total Buying Price</label>
                    <input type="number" class="form-control" name="totalBuyingPrice" id="field_totalBuyingPrice"
                        [(ngModel)]="commercialBudget.totalBuyingPrice" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_profitAmount">Profit Amount</label>
                    <input type="number" class="form-control" name="profitAmount" id="field_profitAmount"
                        [(ngModel)]="commercialBudget.profitAmount" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_profitPercentage">Profit Percentage</label>
                    <input type="number" class="form-control" name="profitPercentage" id="field_profitPercentage"
                        [(ngModel)]="commercialBudget.profitPercentage" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_budgetStatus">Budget Status</label>
                    <select class="form-control" name="budgetStatus" [(ngModel)]="commercialBudget.budgetStatus" id="field_budgetStatus" >
                        <option value="SAVE_AS_DRAFT">SAVE_AS_DRAFT</option>
                        <option value="WAITING_FOR_APPROVAL">WAITING_FOR_APPROVAL</option>
                        <option value="APPROVED">APPROVED</option>
                        <option value="REJECTED">REJECTED</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_proformaNo">Proforma No</label>
                    <input type="text" class="form-control" name="proformaNo" id="field_proformaNo"
                        [(ngModel)]="commercialBudget.proformaNo" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_createdBy">Created By</label>
                    <input type="text" class="form-control" name="createdBy" id="field_createdBy"
                        [(ngModel)]="commercialBudget.createdBy" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_createdOn">Created On</label>
                    <div class="d-flex">
                        <input id="field_createdOn" type="datetime-local" class="form-control" name="createdOn" [(ngModel)]="createdOn" placeholder="YYYY-MM-DD HH:mm"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_updatedBy">Updated By</label>
                    <input type="text" class="form-control" name="updatedBy" id="field_updatedBy"
                        [(ngModel)]="commercialBudget.updatedBy" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_updatedOn">Updated On</label>
                    <div class="d-flex">
                        <input id="field_updatedOn" type="datetime-local" class="form-control" name="updatedOn" [(ngModel)]="updatedOn" placeholder="YYYY-MM-DD HH:mm"
                        />
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
