<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-advance-heading">Create or edit a Advance</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!advance.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="advance.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_amount">Amount</label>
                    <input type="number" class="form-control" name="amount" id="field_amount"
                        [(ngModel)]="advance.amount" (input)="amountChanged()" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_reason">Reason</label>
                    <textarea class="form-control" name="reason" id="field_reason"
                        [(ngModel)]="advance.reason" ></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_providedOn">Provided On</label>
                    <div class="input-group">
                        <input id="field_providedOn" type="text" class="form-control" name="providedOn" ngbDatepicker  #providedOnDp="ngbDatepicker" [(ngModel)]="advance.providedOn"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="providedOnDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_monthlyPayable">Monthly Payable</label>
                    <input type="number" class="form-control" name="monthlyPayable" id="field_monthlyPayable"
                        [(ngModel)]="advance.monthlyPayable" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_paymentStatus">Payment Status</label>
                    <select class="form-control" name="paymentStatus" [(ngModel)]="advance.paymentStatus" id="field_paymentStatus" >
                        <option value="PAID">PAID</option>
                        <option value="NOT_PAID">NOT_PAID</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_left">Left</label>
                    <input type="number" class="form-control" name="left" id="field_left"
                        [(ngModel)]="advance.left" />
                </div>
                <!--<div class="form-group">
                    <label class="form-control-label" for="field_modifiedBy">Modified By</label>
                    <input type="text" class="form-control" name="modifiedBy" id="field_modifiedBy"
                        [(ngModel)]="advance.modifiedBy" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_modifiedOn">Modified On</label>
                    <div class="input-group">
                        <input id="field_modifiedOn" type="text" class="form-control" name="modifiedOn" ngbDatepicker  #modifiedOnDp="ngbDatepicker" [(ngModel)]="advance.modifiedOn"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="modifiedOnDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_employee">Employee</label>
                    <select class="form-control" id="field_employee" name="employee" [(ngModel)]="advance.employeeId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="employeeOption.id" *ngFor="let employeeOption of employees; trackBy: trackEmployeeById">{{employeeOption.fullName}}</option>
                    </select>
                </div>-->
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
