<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="advance">
            <h2><span>Advance</span> {{advance.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Amount</span></dt>
                <dd>
                    <span>{{advance.amount}}</span>
                </dd>
                <dt><span>Reason</span></dt>
                <dd>
                    <span>{{advance.reason}}</span>
                </dd>
                <dt><span>Provided On</span></dt>
                <dd>
                    <span>{{advance.providedOn}}</span>
                </dd>
                <dt><span>Monthly Payable</span></dt>
                <dd>
                    <span>{{advance.monthlyPayable}}</span>
                </dd>
                <dt><span>Payment Status</span></dt>
                <dd>
                    <span>{{advance.paymentStatus}}</span>
                </dd>
                <dt><span>Left</span></dt>
                <dd>
                    <span>{{advance.left}}</span>
                </dd>
               <!-- <dt><span>Modified By</span></dt>
                <dd>
                    <span>{{advance.modifiedBy}}</span>
                </dd>
                <dt><span>Modified On</span></dt>
                <dd>
                    <span>{{advance.modifiedOn}}</span>
                </dd>
                <dt><span>Employee</span></dt>
                <dd>
                    <div *ngIf="advance.employeeId">
                        <a [routerLink]="['/employee', advance.employeeId, 'view']">{{advance.employeeFullName}}</a>
                    </div>
                </dd>-->
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/advance', advance.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
