<div class="row justify-content-center">
    <div class="col-12">
        <jhi-alert></jhi-alert>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-6">
        <h2 id="page-heading">Over Time</h2>
    </div>
    <div class="col-6">
        <!--<form name="searchForm" class="form-inline">
            <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
        </form>-->

        <div style="float: right">
            <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity over-time"
                    [routerLink]="['/over-time/new']" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_OVERTIME_ADMIN', 'ROLE_OVERTIME_MANAGER']">
                <fa-icon [icon]="'plus'"></fa-icon>
            </button>
        </div>
    </div>
</div>

<br/>

<div class="row">
    <div class="col-5">
        <label class="form-control-label">From</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">DD/MM/YYYY</span>
            </div>
            <select class="form-control" name="dayFrom" [(ngModel)]="fromDate.day" id="field_DayFrom">
                <option [ngValue]="null">Day</option>
                <option [ngValue]="day.id" *ngFor="let day of days; trackBy: trackDayId">{{day.name}}</option>
            </select>
            <select class="form-control" name="monthFrom" [(ngModel)]="fromDate.month" id="field_MonthFrom">
                <option [ngValue]="null">Month</option>
                <option [ngValue]="month.id"
                        *ngFor="let month of months; trackBy: trackMonthId">{{month.name}}</option>
            </select>

            <select class="form-control" name="yearFrom" [(ngModel)]="fromDate.year" id="field_YearFrom">
                <option [ngValue]="null">Year</option>
                <option [ngValue]="year.id" *ngFor="let year of years; trackBy: trackYearId">{{year.name}}</option>
            </select>
        </div>
    </div>
    <div class="col-5">
        <label class="form-control-label">To</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">DD/MM/YYYY</span>
            </div>
            <select class="form-control" name="dayTo" [(ngModel)]="toDate.day" id="field_DayTo">
                <option [ngValue]="null">Day</option>
                <option [ngValue]="day.id" *ngFor="let day of days; trackBy: trackDayId">{{day.name}}</option>
            </select>
            <select class="form-control" name="monthTo" [(ngModel)]="toDate.month" id="field_MonthTo">
                <option [ngValue]="null">Month</option>
                <option [ngValue]="month.id"
                        *ngFor="let month of months; trackBy: trackMonthId">{{month.name}}</option>
            </select>

            <select class="form-control" name="yearTo" [(ngModel)]="toDate.year" id="field_YearTo">
                <option [ngValue]="null">Year</option>
                <option [ngValue]="year.id" *ngFor="let year of years; trackBy: trackYearId">{{year.name}}</option>
            </select>
        </div>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-6">
        <div class="input-group">
            <select class="form-control" id="field_EmployeeId" name="employeeId"
                    [(ngModel)]="employee">
                <option [ngValue]="null">Select an Employee</option>
                <option [ngValue]="emp"
                        *ngFor="let emp of employees">{{emp.fullName + " [" + emp.departmentName + "] "}}</option>
            </select>
            <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                <fa-icon [icon]="'search'"></fa-icon>
            </button>
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-12 ">
        <br/>
        <div class="table-responsive" *ngIf="overTimes">
            <table class="table table-striped">
                <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
                    <th jhiSortBy="id"><span>ID</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="employeeFullName"><span>Employee</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="overTimeDate"><span>Over Time Date</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="fromTime"><span>From Time</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="toTime"><span>To Time</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="duration"><span>Duration</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <!--<th jhiSortBy="createdBy"><span>Created By</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="createdOn"><span>Created On</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="updatedBy"><span>Updated By</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="updatedOn"><span>Updated On</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>-->

                    <th>
                        <button type="button" style="float: right"
                                *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_OVERTIME_ADMIN', 'ROLE_OVERTIME_MANAGER']"
                                class="btn btn-info btn-sm"
                                (click)="generateReport()">
                            <fa-icon [icon]="'download'"></fa-icon>
                        </button>
                    </th>
                </tr>
                </thead>
                <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']"
                       [infiniteScrollDistance]="0">
                <tr *ngFor="let overTime of overTimes ;trackBy: trackId">
                    <td><a [routerLink]="['/over-time', overTime.id, 'view' ]">{{overTime.id}}</a></td>
                    <td>
                        <div *ngIf="overTime.employeeId">
                            <a [routerLink]="['../employee', overTime.employeeId , 'view' ]">{{overTime.employeeFullName}}</a>
                        </div>
                    </td>
                    <td>{{overTime.overTimeDate | date:'mediumDate'}}</td>
                    <td>{{overTime.fromTime | date:'medium'}}</td>
                    <td>{{overTime.toTime | date:'medium'}}</td>
                    <td>{{overTime.duration}}</td>
                    <!--<td>{{overTime.createdBy}}</td>
                    <td>{{overTime.createdOn | date:'medium'}}</td>
                    <td>{{overTime.updatedBy}}</td>
                    <td>{{overTime.updatedOn | date:'medium'}}</td>-->

                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_OVERTIME_ADMIN', 'ROLE_OVERTIME_MANAGER']"
                                    [routerLink]="['/over-time', overTime.id, 'view' ]"
                                    class="btn btn-info btn-sm">
                                <fa-icon [icon]="'eye'"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>
                            <button type="submit"
                                    *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_OVERTIME_ADMIN', 'ROLE_OVERTIME_MANAGER']"
                                    [routerLink]="['/over-time', overTime.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>
                            <button type="submit"
                                    [routerLink]="['/', 'over-time', { outlets: { popup: overTime.id + '/delete'} }]"
                                    *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_OVERTIME_ADMIN']"
                                    replaceUrl="true"
                                    queryParamsHandling="merge"
                                    class="btn btn-danger btn-sm">
                                <fa-icon [icon]="'times'"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
