<div class="row justify-content-center">
    <div class="col-12">
        <jhi-alert></jhi-alert>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-6">
        <h2 id="page-heading">Stock Out Items</h2>
    </div>
    <div class="col-6">
        <form name="searchForm" class="form-inline">
            <div class="input-group w-100 mt-3">
                <!--<input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch"
                       name="currentSearch" placeholder="Query">
                <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                    <fa-icon [icon]="'search'"></fa-icon>
                </button>
                <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                    <fa-icon [icon]="'trash-alt'"></fa-icon>
                </button>
                <button id="jh-create-entity"
                        class="btn btn-primary float-right jh-create-entity create-stock-out-item"
                        [routerLink]="['/stock-out-item/new']">
                    <fa-icon [icon]="'plus'"></fa-icon>
                </button>-->
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div align="right">
            <button id="jh-create-entity"
                    class="btn btn-primary float-right jh-create-entity create-stock-out-item"
                    [routerLink]="['/stock-out-item/new']">
                <fa-icon [icon]="'plus'"></fa-icon>
            </button>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-2">
        <label class="form-control-label" for="field_productCategories">Product Category</label>
    </div>

    <div class="col-2">
        <label class="form-control-label" for="field_products">Product</label>
    </div>

    <div class="col-2">
        <label class="form-control-label" for="field_inventoryLocations">Inventory Location</label>
    </div>

    <div class="col-2">
        <label class="form-control-label" for="field_inventorySubLocations">Inventory Sub Location</label>
    </div>

    <div class="col-2">
        <label class="form-control-label" for="field_containerTrackingId">Container Tracking Id</label>
    </div>
</div>

<div class="row">

    <div class="col-2">
        <select class="form-control" id="field_productCategories" name="productCategories"
                [(ngModel)]="productCategoryId"
                (ngModelChange)="getProducts()">
            <option [ngValue]="null">Select Item Category</option>
            <option [ngValue]="itemCategoryOption.id"
                    *ngFor="let itemCategoryOption of productcategories; trackBy: trackProductCategoryById">{{itemCategoryOption.name}}</option>
        </select>
    </div>

    <div class="col-2">
        <select class="form-control" id="field_products" name="products"
                [(ngModel)]="productId">
            <option [ngValue]="null">Select Item Sub Category</option>
            <option [ngValue]="itemSubCategoryOption.id"
                    *ngFor="let itemSubCategoryOption of products; trackBy: trackProductById">{{itemSubCategoryOption.name}}</option>
        </select>
    </div>

    <div class="col-2">
        <select class="form-control" id="field_inventoryLocations" name="inventoryLocations"
                [(ngModel)]="inventoryLocationId" (ngModelChange)="getInventorySubLocation()">
            <option [ngValue]="null">Select Inventory Location</option>
            <option [ngValue]="inventoryLocationOption.id"
                    *ngFor="let inventoryLocationOption of inventorylocations; trackBy: trackInventoryLocationById">{{inventoryLocationOption.name}}</option>
        </select>
    </div>

    <div class="col-2">
        <select class="form-control" id="field_inventorySubLocations" name="inventorySubLocations"
                [(ngModel)]="inventorySubLocationId">
            <option [ngValue]="null">Select Inventory Sub Location</option>
            <option [ngValue]="inventorySubLocationOption.id"
                    *ngFor="let inventorySubLocationOption of inventorysublocations; trackBy: trackInventorySubLocationById">{{inventorySubLocationOption.name}}</option>
        </select>
    </div>

    <div class="col-2">
        <input type="text" class="form-control" name="containerTrackingId" id="field_containerTrackingId"
               [(ngModel)]="containerTrackingId"/>
    </div>

    <div class="col-2">
        <button class="btn btn-info" (click)="hunt()">
            <fa-icon [icon]="'search'"></fa-icon>
        </button>
    </div>
</div>


<div class="row justify-content-center">
    <div class="col-12 ">
        <br/>
        <div class="table-responsive" *ngIf="stockOutItems">
            <table class="table table-striped">
                <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
                    <th jhiSortBy="id"><span>ID</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="productCategoriesName"><span>Product Categories</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="productsName"><span>Products</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="inventoryLocationsName"><span>Inventory Locations</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="inventorySubLocationsName"><span>Inventory Sub Locations</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="containerTrackingId"><span>Container Tracking Id</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="quantity"><span>Quantity</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <!--<th jhiSortBy="stockOutBy"><span>Stock Out By</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>-->
                    <th jhiSortBy="stockOutDate"><span>Stock Out Date</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <!--<th jhiSortBy="receiverId"><span>Receiver Id</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="receivingPlace"><span>Receiving Place</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="remarks"><span>Remarks</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="stockInItemsId"><span>Stock In Items</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>-->
                    <th></th>
                </tr>
                </thead>
                <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']"
                       [infiniteScrollDistance]="0">
                <tr *ngFor="let stockOutItem of stockOutItems ;trackBy: trackId">
                    <td><a [routerLink]="['/stock-out-item', stockOutItem.id, 'view' ]">{{stockOutItem.id}}</a></td>
                    <td>
                        <div *ngIf="stockOutItem.productCategoriesId">
                            <a [routerLink]="['../product-category', stockOutItem.productCategoriesId , 'view' ]">{{stockOutItem.productCategoriesName}}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="stockOutItem.productsId">
                            <a [routerLink]="['../product', stockOutItem.productsId , 'view' ]">{{stockOutItem.productsName}}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="stockOutItem.inventoryLocationsId">
                            <a [routerLink]="['../inventory-location', stockOutItem.inventoryLocationsId , 'view' ]">{{stockOutItem.inventoryLocationsName}}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="stockOutItem.inventorySubLocationsId">
                            <a [routerLink]="['../inventory-sub-location', stockOutItem.inventorySubLocationsId , 'view' ]">{{stockOutItem.inventorySubLocationsName}}</a>
                        </div>
                    </td>
                    <td>{{stockOutItem.containerTrackingId}}</td>
                    <td>{{stockOutItem.quantity}}</td>
                    <!--<td>{{stockOutItem.stockOutBy}}</td>-->
                    <td>{{stockOutItem.stockOutDate | date:'medium'}}</td>
                    <!--<td>{{stockOutItem.receiverId}}</td>
                    <td>{{stockOutItem.receivingPlace}}</td>
                    <td>{{stockOutItem.remarks}}</td>
                    <td>
                        <div *ngIf="stockOutItem.stockInItemsId">
                            <a [routerLink]="['../stock-in-item', stockOutItem.stockInItemsId , 'view' ]">{{stockOutItem.stockInItemsId}}</a>
                        </div>
                    </td>-->
                    <td class="text-right" width="20%">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    [routerLink]="['/stock-out-item', stockOutItem.id, 'view' ]"
                                    *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_INVENTORY_ADMIN', 'ROLE_INVENTORY_MANAGER']"
                                    class="btn btn-info btn-sm">
                                <fa-icon [icon]="'eye'"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>
                            <button type="submit"
                                    [routerLink]="['/stock-out-item', stockOutItem.id, 'edit']"
                                    *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_INVENTORY_ADMIN']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>
                            <button type="submit"
                                    [routerLink]="['/', 'stock-out-item', { outlets: { popup: stockOutItem.id + '/delete'} }]"
                                    *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_INVENTORY_ADMIN']"
                                    replaceUrl="true"
                                    queryParamsHandling="merge"
                                    class="btn btn-danger btn-sm">
                                <fa-icon [icon]="'times'"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-4">
        <div class="input-group">
            <input type="text" class="form-control" name="remarks" id="field_challan_id"
                   [(ngModel)]="challan" placeholder="Enter Stock Out Id"/>
            <button class="input-group-append btn btn-info" (click)="downloadChallan()">
                <fa-icon [icon]="'download'"></fa-icon>Challan
            </button>
        </div>
    </div>
</div>
