<div class="row">
    <div class="col-md-3">
        <div class="card ">
            <div class="card-header text-white bg-secondary">Select</div>
            <div class="card-body">
                <form >
                    <div class="form-group form-inline">
                        <label  for="office" class="col-3 form-control-label" align="left">Office</label>
                        <select class="col-9 form-control" name="office" id="office" [(ngModel)]="payrollManagement.office">
                            <option [ngValue]="officeOption" *ngFor="let officeOption of officeList">{{officeOption.name}}</option>
                        </select>

                    </div>
                    <div class="form-group form-inline">
                        <label for="designation" class="col-3 form-control-label" align="left">Designation</label>
                        <select class="col-9 form-control" name="designation" id="designation" [(ngModel)]="payrollManagement.designation">
                            <option [ngValue]="designationOption" *ngFor="let designationOption of designationList">{{designationOption.name}}</option>
                        </select>
                    </div>
                </form>

            </div>
            <div class="card-footer" align="right">
                <button class="btn btn
            -secondary">Search</button>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="card" style="min-height: 350px;">
            <div class="card-header text-white bg-secondary">Employee List</div>
            <div class="card-body">

            </div>
        </div>
    </div>
</div>

