<!--
<div>
    <h2 id="page-heading">
        <span>Dt Transactions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-dt-transaction" [routerLink]="['/dt-transaction/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down" >
            Create new Dt Transaction
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="dtTransactions">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="voucherNo"><span>Voucher No</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="voucherDate"><span>Voucher Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="serialNo"><span>Serial No</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="amount"><span>Amount</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="balanceType"><span>Balance Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="type"><span>Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="invoiceNo"><span>Invoice No</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="invoiceDate"><span>Invoice Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="instrumentType"><span>Instrument Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="instrumentNo"><span>Instrument No</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="instrumentDate"><span>Instrument Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fCurrency"><span>F Currency</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="convFactor"><span>Conv Factor</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="postDate"><span>Post Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="narration"><span>Narration</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifiedBy"><span>Modified By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifiedOn"><span>Modified On</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="reference"><span>Reference</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="accountName"><span>Account</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="voucherName"><span>Voucher</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="currencyNotation"><span>Currency</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let dtTransaction of dtTransactions ;trackBy: trackId">
                <td><a [routerLink]="['/dt-transaction', dtTransaction.id, 'view' ]">{{dtTransaction.id}}</a></td>
                <td>{{dtTransaction.voucherNo}}</td>
                <td>{{dtTransaction.voucherDate | date:'mediumDate'}}</td>
                <td>{{dtTransaction.serialNo}}</td>
                <td>{{dtTransaction.amount}}</td>
                <td>{{dtTransaction.balanceType}}</td>
                <td>{{dtTransaction.type}}</td>
                <td>{{dtTransaction.invoiceNo}}</td>
                <td>{{dtTransaction.invoiceDate | date:'mediumDate'}}</td>
                <td>{{dtTransaction.instrumentType}}</td>
                <td>{{dtTransaction.instrumentNo}}</td>
                <td>{{dtTransaction.instrumentDate | date:'mediumDate'}}</td>
                <td>{{dtTransaction.fCurrency}}</td>
                <td>{{dtTransaction.convFactor}}</td>
                <td>{{dtTransaction.postDate | date:'mediumDate'}}</td>
                <td>{{dtTransaction.narration}}</td>
                <td>{{dtTransaction.modifiedBy}}</td>
                <td>{{dtTransaction.modifiedOn | date:'mediumDate'}}</td>
                <td>{{dtTransaction.reference}}</td>
                <td>
                    <div *ngIf="dtTransaction.accountId">
                        <a [routerLink]="['../mst-account', dtTransaction.accountId , 'view' ]" >{{dtTransaction.accountName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="dtTransaction.voucherId">
                        <a [routerLink]="['../voucher', dtTransaction.voucherId , 'view' ]" >{{dtTransaction.voucherName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="dtTransaction.currencyId">
                        <a [routerLink]="['../currency', dtTransaction.currencyId , 'view' ]" >{{dtTransaction.currencyNotation}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/dt-transaction', dtTransaction.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/dt-transaction', dtTransaction.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'dt-transaction', { outlets: { popup: dtTransaction.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    &lt;!&ndash; Pager is not implemented yet, so this is normal pagination instead &ndash;&gt;
    <div *ngIf="dtTransactions && dtTransactions.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
-->
