<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-depreciation-map-heading">Create or edit a Depreciation Map</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!depreciationMap.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="depreciationMap.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_depreciationAccountId">Depreciation Account Id</label>
                    <input type="number" class="form-control" name="depreciationAccountId" id="field_depreciationAccountId"
                        [(ngModel)]="depreciationMap.depreciationAccountId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_depreciationAccountName">Depreciation Account Name</label>
                    <input type="text" class="form-control" name="depreciationAccountName" id="field_depreciationAccountName"
                        [(ngModel)]="depreciationMap.depreciationAccountName" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_accountId">Account Id</label>
                    <input type="number" class="form-control" name="accountId" id="field_accountId"
                        [(ngModel)]="depreciationMap.accountId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_accountName">Account Name</label>
                    <input type="text" class="form-control" name="accountName" id="field_accountName"
                        [(ngModel)]="depreciationMap.accountName" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_createdBy">Created By</label>
                    <input type="text" class="form-control" name="createdBy" id="field_createdBy"
                        [(ngModel)]="depreciationMap.createdBy" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_createdOn">Created On</label>
                    <div class="d-flex">
                        <input id="field_createdOn" type="datetime-local" class="form-control" name="createdOn" [(ngModel)]="createdOn" placeholder="YYYY-MM-DD HH:mm"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_modifiedBy">Modified By</label>
                    <input type="text" class="form-control" name="modifiedBy" id="field_modifiedBy"
                        [(ngModel)]="depreciationMap.modifiedBy" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_modifiedOn">Modified On</label>
                    <div class="d-flex">
                        <input id="field_modifiedOn" type="datetime-local" class="form-control" name="modifiedOn" [(ngModel)]="modifiedOn" placeholder="YYYY-MM-DD HH:mm"
                        />
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
