<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-stock-in-process-heading">Create a Stock In Process</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!stockInProcess.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="stockInProcess.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_itemCategories">Item Categories</label>
                    <select class="form-control" id="field_itemCategories" name="itemCategories" [(ngModel)]="stockInProcess.itemCategoriesId"  (ngModelChange)="getItemSubCategories()"
                            required>
                        <option [ngValue]="null"></option>
                        <option [ngValue]="itemCategoryOption.id" *ngFor="let itemCategoryOption of itemcategories; trackBy: trackItemCategoryById">{{itemCategoryOption.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_itemSubCategories">Item Sub Categories</label>
                    <select class="form-control" id="field_itemSubCategories" name="itemSubCategories" [(ngModel)]="stockInProcess.itemSubCategoriesId" required>
                        <option [ngValue]="null"></option>
                        <option [ngValue]="itemSubCategoryOption.id" *ngFor="let itemSubCategoryOption of itemsubcategories; trackBy: trackItemSubCategoryById">{{itemSubCategoryOption.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_inventoryLocations">Inventory Locations</label>
                    <select class="form-control" id="field_inventoryLocations" name="inventoryLocations" [(ngModel)]="stockInProcess.inventoryLocationsId" (ngModelChange)="getInventorySubLocation()" required>
                        <option [ngValue]="null"></option>
                        <option [ngValue]="inventoryLocationOption.id" *ngFor="let inventoryLocationOption of inventorylocations; trackBy: trackInventoryLocationById">{{inventoryLocationOption.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_inventorySubLocations">Inventory Sub Locations</label>
                    <select class="form-control" id="field_inventorySubLocations" name="inventorySubLocations" [(ngModel)]="stockInProcess.inventorySubLocationsId" required>
                        <option [ngValue]="null"></option>
                        <option [ngValue]="inventorySubLocationOption.id" *ngFor="let inventorySubLocationOption of inventorysublocations; trackBy: trackInventorySubLocationById">{{inventorySubLocationOption.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_totalQuantity">Total Quantity</label>
                    <input type="number" class="form-control" name="totalQuantity" id="field_totalQuantity"
                        [(ngModel)]="stockInProcess.totalQuantity" required/>
                    <div [hidden]="!(editForm.controls.totalQuantity?.dirty && editForm.controls.totalQuantity?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.totalQuantity?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.totalQuantity?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_unit">Unit</label>
                    <select class="form-control" name="unit" [(ngModel)]="stockInProcess.unit" id="field_unit"  required>
                        <option value="KG">KG</option>
                        <option value="PCS">PCS</option>
                        <option value="LITER">LITER</option>
                        <option value="DOZEN">DOZEN</option>
                        <option value="OTHERS">OTHERS</option>
                    </select>
                    <div [hidden]="!(editForm.controls.unit?.dirty && editForm.controls.unit?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.unit?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_unitPrice">Unit Price</label>
                    <input type="number" class="form-control" name="unitPrice" id="field_unitPrice"
                        [(ngModel)]="stockInProcess.unitPrice" required/>
                    <div [hidden]="!(editForm.controls.unitPrice?.dirty && editForm.controls.unitPrice?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.unitPrice?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.unitPrice?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_totalContainer">Total Container</label>
                    <input type="number" class="form-control" name="totalContainer" id="field_totalContainer"
                        [(ngModel)]="stockInProcess.totalContainer" required/>
                    <div [hidden]="!(editForm.controls.totalContainer?.dirty && editForm.controls.totalContainer?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.totalContainer?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.totalContainer?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_containerCategory">Container Category</label>
                    <select class="form-control" name="containerCategory" [(ngModel)]="stockInProcess.containerCategory" id="field_containerCategory"  required>
                        <option value="BOTTLE">BOTTLE</option>
                        <option value="DRUM">DRUM</option>
                        <option value="PACKET">PACKET</option>
                        <option value="SACK">SACK</option>
                        <option value="OTHERS">OTHERS</option>
                    </select>
                    <div [hidden]="!(editForm.controls.containerCategory?.dirty && editForm.controls.containerCategory?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.containerCategory?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_containerTrackingId">Container Tracking Id (Comma Separated)</label>
                    <input type="text" class="form-control" name="containerTrackingId" id="field_containerTrackingId"
                        [(ngModel)]="stockInProcess.containerTrackingId" placeholder="A-100, B-220, ..." required/>
                    <div [hidden]="!(editForm.controls.containerTrackingId?.dirty && editForm.controls.containerTrackingId?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.containerTrackingId?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_quantityPerContainer">Quantity Per Container (Comma Separated)</label>
                    <input type="text" class="form-control" name="quantityPerContainer" id="field_quantityPerContainer"
                        [(ngModel)]="stockInProcess.quantityPerContainer" placeholder="10, 20, ..." required/>
                    <div [hidden]="!(editForm.controls.quantityPerContainer?.dirty && editForm.controls.quantityPerContainer?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.quantityPerContainer?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_manufacturers">Manufacturers</label>
                    <select class="form-control" id="field_manufacturers" name="manufacturers" [(ngModel)]="stockInProcess.manufacturersId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="manufacturerOption.id" *ngFor="let manufacturerOption of manufacturers; trackBy: trackManufacturerById">{{manufacturerOption.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_expiryDate">Expiry Date</label>
                    <div class="input-group">
                        <input id="field_expiryDate" type="text" class="form-control" name="expiryDate" ngbDatepicker  #expiryDateDp="ngbDatepicker" [(ngModel)]="stockInProcess.expiryDate"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="expiryDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_purchaseOrderId">Purchase Order Id</label>
                    <input type="text" class="form-control" name="purchaseOrderId" id="field_purchaseOrderId"
                        [(ngModel)]="stockInProcess.purchaseOrderId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_remarks">Remarks</label>
                    <input type="text" class="form-control" name="remarks" id="field_remarks"
                        [(ngModel)]="stockInProcess.remarks" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
