<div class="row justify-content-center">
    <div class="col-12">
        <jhi-alert></jhi-alert>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-6">
        <h2 id="page-heading">Commercial Pos</h2>
    </div>
    <div class="col-6">
        <form name="searchForm" class="form-inline">
            <div class="input-group w-100 mt-3">
                <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch"
                       name="currentSearch" placeholder="Search Commercial Purchase Order">
                <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                    <fa-icon [icon]="'search'"></fa-icon>
                </button>
                <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                    <fa-icon [icon]="'trash-alt'"></fa-icon>
                </button>
                <!--<button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-commercial-po"
                        [routerLink]="['/commercial-po/new']">
                    <fa-icon [icon]="'plus'"></fa-icon>
                </button>-->
            </div>
        </form>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-12 ">
        <br/>

        <div class="table-responsive" *ngIf="commercialPos">
            <table class="table table-striped">
                <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
                    <th jhiSortBy="id"><span>ID</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="purchaseOrderNo"><span>Purchase Order No</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="purchaseOrderDate"><span>Purchase Order Date</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="originOfGoods"><span>Origin Of Goods</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="finalDestination"><span>Final Destination</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="shipmentDate"><span>Shipment Date</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="poStatus"><span>Po Status</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="commercialPiProformaNo"><span>Commercial Pi</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th></th>
                </tr>
                </thead>
                <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']"
                       [infiniteScrollDistance]="0">
                <tr *ngFor="let commercialPo of commercialPos ;trackBy: trackId">
                    <td><a [routerLink]="['/commercial-po', commercialPo.id, 'view' ]">{{commercialPo.id}}</a></td>
                    <td>{{commercialPo.purchaseOrderNo}}</td>
                    <td>{{commercialPo.purchaseOrderDate | date:'mediumDate'}}</td>
                    <td>{{commercialPo.originOfGoods}}</td>
                    <td>{{commercialPo.finalDestination}}</td>
                    <td>{{commercialPo.shipmentDate | date:'mediumDate'}}</td>
                    <td>{{commercialPo.poStatus}}</td>
                    <td>
                        <div *ngIf="commercialPo.commercialPiId">
                            <a [routerLink]="['../commercial-pi', commercialPo.commercialPiId , 'view' ]">{{commercialPo.commercialPiProformaNo}}</a>
                        </div>
                    </td>
                    <td class="text-right" width="20%">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    [routerLink]="['/commercial-po', commercialPo.id, 'view' ]"
                                    class="btn btn-info btn-sm">
                                <fa-icon [icon]="'eye'"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>
                            <button type="submit"
                                    [routerLink]="['/commercial-po', commercialPo.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>
                            <!--<button type="submit"
                                    [routerLink]="['/', 'commercial-po', { outlets: { popup: commercialPo.id + '/delete'} }]"
                                    replaceUrl="true"
                                    queryParamsHandling="merge"
                                    class="btn btn-danger btn-sm">
                                <fa-icon [icon]="'times'"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>-->
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
