<div class="row justify-content-center">
    <div class="col-12">
        <div *ngIf="monthlySalary">
            <h2><span>Pay roll</span> of <b>{{monthlySalary.employeeFullName}}</b>, of year {{monthlySalary.year}}-{{monthlySalary.month}} </h2>
            <hr>
            <jhi-alert></jhi-alert>
        </div>

    </div>
    <div class="col-12">
        <div class="alert alert-info" align="center">
            Total Working Days: <b>{{totalWorkingDays}}</b> || Total Present: <b>{{totalPresent}}</b>
        </div>
    </div>
    <div class="col-6 justify-content-center">
        <div class="card">
            <div class="card-header bg-secondary text-white">Earnings</div>
            <div class="card-body">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <td>Particulars</td>
                        <td>Taka</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Basic Salary</td>
                        <td>{{monthlySalary.basic | currency: ' '}}</td>
                    </tr>
                    <tr>
                        <td>House Rent</td>
                        <td>{{monthlySalary.houseRent | currency: ' '}}</td>
                    </tr>
                    <tr>
                        <td>Medical Allowances</td>
                        <td>{{monthlySalary.medicalAllowance | currency: ' '}}</td>
                    </tr>
                    <tr>
                        <td>Other Allowances</td>
                        <td>{{monthlySalary.otherAllowance | currency: ' '}}</td>
                    </tr>
                    <tr>
                        <td>Bill Payable</td>
                        <td>{{monthlySalary.billPayable | currency: ' '}}</td>
                    </tr>

                    <tr>
                        <td><br/></td>
                        <td><br/></td>
                    </tr>
                    <tr>
                        <td><br/></td>
                        <td><br/></td>
                    </tr>
                    <tr>
                        <td>Festival bonus</td>
                        <td>{{monthlySalary.festivalAllowance | currency: ' '}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-6 justify-content-center">
        <div class="card">
            <div class="card-header bg-secondary text-white">Deductions</div>
            <div class="card-body">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <td>Particulars</td>
                        <td>Taka</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Absent</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Lop/Fine</td>
                        <td>{{monthlySalary.fine | currency: ' '}}</td>
                    </tr>
                    <tr>
                        <td>Advance</td>
                        <td>{{monthlySalary.advanceHO | currency: ' '}}</td>
                    </tr>
                  <!--  <tr>
                        <td>Advance (Factory)</td>
                        <td>{{monthlySalary.advanceFactory | currency: ' '}}</td>
                    </tr>-->
                    <tr>
                        <td>Provident Fund</td>
                        <td>{{monthlySalary.providentFund | currency: ' '}}</td>
                    </tr>
                    <tr>
                        <td>Tax (AIT)</td>
                        <td>{{monthlySalary.tax | currency: ' '}}</td>
                    </tr>
                    <tr>
                        <td>Loan Amount</td>
                        <td>{{monthlySalary.loanAmount | currency: ' '}}</td>
                    </tr>
                    <tr>
                        <td>Bill Receivable</td>
                        <td>{{monthlySalary.billReceivable | currency: ' '}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <div class="col-12">
        <div class="alert alert-info">
            <div class="row">
                <div class="col-md-4">
                    <p>Salary Payable</p>
                </div>
                <div class="col-md-6">
                    <input class="form-control" [(ngModel)]="monthlySalary.payable"/>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-secondary" (click)="update()">Update</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <jhi-alert></jhi-alert>
    </div>

    <div class="col-12" style="padding-top:2em;">
        <jhi-monthly-salary-comments [monthlySalaryId]="monthlySalary.id"></jhi-monthly-salary-comments>
    </div>

    <div class="col-12 " align="right">
        <button type="submit"
                (click)="previousState()"
                class="btn btn-info">
            <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
        </button>
        <button type="button"
                [routerLink]="['/monthly-salary', monthlySalary.id, 'edit']"
                class="btn btn-primary">
            <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
        </button>
    </div>
</div>
