<div>
    <h2 id="page-heading">
        <span>Monthly Salaries</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-monthly-salary" [routerLink]="['/monthly-salary/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down" >
            Create new Monthly Salary
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="monthlySalaries">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="year"><span>Year</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="month"><span>Month</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="basic"><span>Basic</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="houseRent"><span>House Rent</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="medicalAllowance"><span>Medical Allowance</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="otherAllowance"><span>Other Allowance</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="festivalAllowance"><span>Festival Allowance</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="absent"><span>Absent</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fine"><span>Fine</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="advanceHO"><span>Advance HO</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="advanceFactory"><span>Advance Factory</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="providentFund"><span>Provident Fund</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tax"><span>Tax</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="loanAmount"><span>Loan Amount</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="billPayable"><span>Bill Payable</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="billReceivable"><span>Bill Receivable</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="payable"><span>Payable</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifiedBy"><span>Modified By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifiedOn"><span>Modified On</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="employeeFullName"><span>Employee</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let monthlySalary of monthlySalaries ;trackBy: trackId">
                <td><a [routerLink]="['/monthly-salary', monthlySalary.id, 'view' ]">{{monthlySalary.id}}</a></td>
                <td>{{monthlySalary.year}}</td>
                <td>{{monthlySalary.month}}</td>
                <td>{{monthlySalary.basic}}</td>
                <td>{{monthlySalary.houseRent}}</td>
                <td>{{monthlySalary.medicalAllowance}}</td>
                <td>{{monthlySalary.otherAllowance}}</td>
                <td>{{monthlySalary.festivalAllowance}}</td>
                <td>{{monthlySalary.absent}}</td>
                <td>{{monthlySalary.fine}}</td>
                <td>{{monthlySalary.advanceHO}}</td>
                <td>{{monthlySalary.advanceFactory}}</td>
                <td>{{monthlySalary.providentFund}}</td>
                <td>{{monthlySalary.tax}}</td>
                <td>{{monthlySalary.loanAmount}}</td>
                <td>{{monthlySalary.billPayable}}</td>
                <td>{{monthlySalary.billReceivable}}</td>
                <td>{{monthlySalary.payable}}</td>
                <td>{{monthlySalary.modifiedBy}}</td>
                <td>{{monthlySalary.modifiedOn | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="monthlySalary.employeeId">
                        <a [routerLink]="['../employee', monthlySalary.employeeId , 'view' ]" >{{monthlySalary.employeeFullName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/monthly-salary', monthlySalary.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/monthly-salary', monthlySalary.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'monthly-salary', { outlets: { popup: monthlySalary.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Pager is not implemented yet, so this is normal pagination instead -->
    <div *ngIf="monthlySalaries && monthlySalaries.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
