<div class="row justify-content-center">
    <div class="col-8">
        <jhi-alert-error></jhi-alert-error>
        <jhi-alert></jhi-alert>
    </div>
    <div class="col-8">
        <div class="card">
            <div class="card-header bg-secondary text-white">Balance Sheet</div>
            <div class="card-body">
                <div class="row justify-content-center">
                    <div class="col-8">
                        <form name="specification" role="form">
                            <div>
                                <div class="form-group">
                                    <label class="form-control-label" for="field_voucherDate">As on  Date</label>
                                    <div class="input-group">
                                        <input id="field_voucherDate" type="date" class="form-control" name="asOnDate" ngbDatepicker  #voucherDateDp="ngbDatepicker" [(ngModel)]="asOnDate"
                                        />
                                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="voucherDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                                    </div>
                                </div>
                                <!--<div class="form-group">
                                    <label class="form-control-label" for="field_type">Fetch Type</label>
                                    <select class="form-control" name="type" [(ngModel)]="fetchType" id="field_type" >
                                        <option value="0">SUMMARIZED</option>
                                        <option value="1">DETAILED</option>
                                    </select>
                                </div>-->
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-8">
                        <button class="btn btn-secondary" (click)="downloadBalanceSheet()">Download Report</button>
                    </div>
                    <br/>
                    <br/>
                    <!--<div class="col-8">
                        <div class="spinner-grow text-muted"></div>
                        <div class="spinner-grow text-primary"></div>
                        <div class="spinner-grow text-success"></div>
                        <div class="spinner-grow text-info"></div>
                        <div class="spinner-grow text-warning"></div>
                        <div class="spinner-grow text-danger"></div>
                        <div class="spinner-grow text-secondary"></div>
                        <div class="spinner-grow text-dark"></div>
                        <div class="spinner-grow text-light"></div>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>
