<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="leaveType">
            <h2><span>Leave Type</span> {{leaveType.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{leaveType.name}}</span>
                </dd>
                <dt><span>Paid Leave</span></dt>
                <dd>
                    <span>{{leaveType.paidLeave}}</span>
                </dd>
                <dt><span>Maximum Number Of Days</span></dt>
                <dd>
                    <span>{{leaveType.maximumNumberOfDays}}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{leaveType.description}}</span>
                </dd>
                <dt><span>Created By</span></dt>
                <dd>
                    <span>{{leaveType.createdBy}}</span>
                </dd>
                <dt><span>Created On</span></dt>
                <dd>
                    <span>{{leaveType.createdOn}}</span>
                </dd>
                <dt><span>Updated By</span></dt>
                <dd>
                    <span>{{leaveType.updatedBy}}</span>
                </dd>
                <dt><span>Updated On</span></dt>
                <dd>
                    <span>{{leaveType.updatedOn}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/leave-type', leaveType.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
