<div class="row justify-content-center">
    <div class="col-12">
        <jhi-alert></jhi-alert>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-6">
        <h2 id="page-heading">Leave Types</h2>
    </div>
    <div class="col-6">
        <!--<form name="searchForm" class="form-inline">
            <div class="input-group w-100 mt-3">
                <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch"
                       name="currentSearch" placeholder="Query">
                <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                    <fa-icon [icon]="'search'"></fa-icon>
                </button>
                <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                    <fa-icon [icon]="'trash-alt'"></fa-icon>
                </button>
                <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-leave-type"
                        [routerLink]="['/leave-type/new']">
                    <fa-icon [icon]="'plus'"></fa-icon>
                </button>
            </div>
        </form>-->
        <div style="float:right">
            <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-leave-type"
                    [routerLink]="['/leave-type/new']">
                <fa-icon [icon]="'plus'"></fa-icon>
            </button>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-12 ">
        <br/>
        <div class="table-responsive" *ngIf="leaveTypes">
            <table class="table table-striped">
                <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
                    <th jhiSortBy="id"><span>ID</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="name"><span>Name</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="paidLeave"><span>Paid Leave</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="maximumNumberOfDays"><span>Maximum Number Of Days</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="description"><span>Description</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th>
                        <button type="button" style="float: right"
                                class="btn btn-info btn-sm"
                                (click)="generateReport()" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_LEAVE_ADMIN']">
                            <fa-icon [icon]="'download'"></fa-icon>
                        </button>
                    </th>
                </tr>
                </thead>
                <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']"
                       [infiniteScrollDistance]="0">
                <tr *ngFor="let leaveType of leaveTypes ;trackBy: trackId">
                    <td><a [routerLink]="['/leave-type', leaveType.id, 'view' ]">{{leaveType.id}}</a></td>
                    <td>{{leaveType.name}}</td>
                    <td>{{leaveType.paidLeave}}</td>
                    <td>{{leaveType.maximumNumberOfDays}}</td>
                    <td>{{leaveType.description}}</td>
                    <td class="text-right" width="20%">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    [routerLink]="['/leave-type', leaveType.id, 'view' ]"
                                    *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_LEAVE_ADMIN', 'ROLE_LEAVE_MANAGER']"
                                    class="btn btn-info btn-sm">
                                <fa-icon [icon]="'eye'"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>
                            <button type="submit"
                                    [routerLink]="['/leave-type', leaveType.id, 'edit']"
                                    *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_LEAVE_ADMIN', 'ROLE_LEAVE_MANAGER']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>
                            <button type="submit"
                                    [routerLink]="['/', 'leave-type', { outlets: { popup: leaveType.id + '/delete'} }]"
                                    *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_LEAVE_ADMIN']"
                                    replaceUrl="true"
                                    queryParamsHandling="merge"
                                    class="btn btn-danger btn-sm">
                                <fa-icon [icon]="'times'"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
