<div class="row justify-content-center">
    <div class="col-12">
        <jhi-alert></jhi-alert>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-6">
        <h2 id="page-heading">
            <span> Employeess</span>
        </h2>
    </div>
    <div class="col-6">
        <form name="searchForm" class="form-inline">
            <div class="input-group w-100 mt-3">
                <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                    <fa-icon [icon]="'search'"></fa-icon>
                </button>
                <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                    <fa-icon [icon]="'trash-alt'"></fa-icon>
                </button>
                <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-employee" [routerLink]="['/employee/new']">
                    <fa-icon [icon]="'plus'"></fa-icon>
                </button>
            </div>
        </form>

    </div>
</div>
<div class="row justify-content-center">
    <div class="col-12">
        <div class="table-responsive" *ngIf="employees">
            <table class="table table-striped">
                <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                    <th jhiSortBy="photo"><span>Photo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                    <th jhiSortBy="employeeId"><span>Employee Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                    <th jhiSortBy="fullName"><span>Full Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                    <th jhiSortBy="officeName"><span>Office</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                    <th jhiSortBy="departmentName"><span>Department</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let employee of employees ;trackBy: trackId">
                    <td>
                        <a *ngIf="employee.photo" >
                            <img [src]="'data:' + employee.photoContentType + ';base64,' + employee.photo" width="60" height="50" alt="employee image"/>
                        </a>
                    </td>
                     <td>{{employee.employeeId}}</td>
                     <td>{{employee.fullName}}</td>
                     <td>{{employee.officeName}}</td>
                    <td>{{employee.departmentName}}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/fine', employee.employeeLongId,'employee']"
                                    class="btn btn-info btn-sm">
                                <fa-icon [icon]="'money-bill-wave'"></fa-icon>
                                <span class="d-none d-md-inline">Fine</span>
                            </button>
                            <button type="submit"
                                    [routerLink]="['/loan', employee.employeeLongId, 'employee' ]"
                                    class="btn btn-primary btn-sm">
                                <fa-icon [icon]="'money-bill-alt'"></fa-icon>
                                <span class="d-none d-md-inline">Loan</span>
                            </button>
                            <button type="submit"
                                    [routerLink]="['/fine-advance-loan-management', employee.id, 'view' ]"
                                    class="btn btn-secondary btn-sm">
                                <fa-icon [icon]="'credit-card'"></fa-icon>
                                <span class="d-none d-md-inline">Advance</span>
                            </button>
                            <button type="submit"
                                    [routerLink]="['/fine-advance-loan-management', employee.id, 'view' ]"
                                    class="btn btn-danger btn-sm">
                                <fa-icon [icon]="'piggy-bank'"></fa-icon>
                                <span class="d-none d-md-inline">Provident</span>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- Pager is not implemented yet, so this is normal pagination instead -->
        <div *ngIf="employees && employees.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
    </div>
</div>
