<div>
    <h2 id="page-heading">
        <span>Requisition Voucher Relations</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-requisition-voucher-relation" [routerLink]="['/requisition-voucher-relation/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down" >
            Create new Requisition Voucher Relation
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="requisitionVoucherRelations">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="voucherNo"><span>Voucher No</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="amount"><span>Amount</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifiedBy"><span>Modified By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifiedOn"><span>Modified On</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="voucherName"><span>Voucher</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="requisitionRequisitionNo"><span>Requisition</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let requisitionVoucherRelation of requisitionVoucherRelations ;trackBy: trackId">
                <td><a [routerLink]="['/requisition-voucher-relation', requisitionVoucherRelation.id, 'view' ]">{{requisitionVoucherRelation.id}}</a></td>
                <td>{{requisitionVoucherRelation.voucherNo}}</td>
                <td>{{requisitionVoucherRelation.amount}}</td>
                <td>{{requisitionVoucherRelation.modifiedBy}}</td>
                <td>{{requisitionVoucherRelation.modifiedOn | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="requisitionVoucherRelation.voucherId">
                        <a [routerLink]="['../voucher', requisitionVoucherRelation.voucherId , 'view' ]" >{{requisitionVoucherRelation.voucherName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="requisitionVoucherRelation.requisitionId">
                        <a [routerLink]="['../requisition', requisitionVoucherRelation.requisitionId , 'view' ]" >{{requisitionVoucherRelation.requisitionRequisitionNo}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/requisition-voucher-relation', requisitionVoucherRelation.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/requisition-voucher-relation', requisitionVoucherRelation.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'requisition-voucher-relation', { outlets: { popup: requisitionVoucherRelation.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
