<div class="row justify-content-center">
    <div class="col-12"><jhi-alert-error></jhi-alert-error></div>
</div>
<div class="row justify-content-center">
    <div class="col-6">
        <div class="row justify-content-center">
            <div class="col-4">Voucher No</div>
            <div class="col-8"><input type="text" class="form-control"
                                      [(ngModel)]="voucherNo" readonly /></div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4">Voucher Date</div>
            <div class="col-8">
                <div class="input-group">
                    <input id="field_postDate" type="text" class="form-control" name="postDate" ngbDatepicker  #postDateDp="ngbDatepicker" [(ngModel)]="voucherDate"
                    />
                    <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="postDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4">Currency</div>
            <div class="col-4">
                <select class="form-control" id="field-currency" name="currency" [(ngModel)]="selectedCurrency" >
                    <option [ngValue]="null">Select Currency</option>
                    <option [ngValue]="currency" *ngFor="let currency of currencies;">{{currency.notation}}</option>
                </select>
            </div>
            <div class="col-2">Base:</div>
            <div class="col-2">{{conversionFactor.bcovFactor}}</div>
        </div>

        <div class="row justify-content-center">
            <div class="col-4">Type</div>
            <div class="col-8">
                <select class="form-control" name="type" [(ngModel)]="type" id="field_type" >
                    <option value="SELLING">SELLING</option>
                    <option value="BUYING">BUYING</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="col-6" align="right"><p>Total Debit</p></div>
        <div class="col-6"><p>{{totalDebit| currency: ' '}}</p></div>
        <div class="col-6" align="right"><p>Total Credit</p></div>
        <div class="col-6"><p>{{totalCredit | currency: ' '}}</p></div>
        <div class="col-12"><br/></div>
        <div class="col-12" align="center"><p>Status</p></div>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-12" align="center">
        <button class="btn btn-primary">Add</button>
    </div>
</div>

