<div *ngIf="showExperienceInformationSection">
    <h2 id="page-heading">
        <span></span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-experience-information" (click)="addExperienceInformation()">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down" >
            Add
            </span>
        </button>
    </h2>

    <br/>
    <div class="table-responsive" *ngIf="experienceInformations">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="organization"><span>Organization</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="designation"><span>Designation</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="startDate"><span>Start Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="endDate"><span>End Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="employmentType"><span>Employment Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let experienceInformation of experienceInformations ;trackBy: trackId">
                <td><a [routerLink]="['/experience-information', experienceInformation.id, 'view' ]">{{experienceInformation.id}}</a></td>
                <td>{{experienceInformation.organization}}</td>
                <td>{{experienceInformation.designation}}</td>
                <td>{{experienceInformation.startDate | date:'mediumDate'}}</td>
                <td>{{experienceInformation.endDate | date:'mediumDate'}}</td>
                <td>{{experienceInformation.employmentType}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                (click)="viewExperienceInformation(experienceInformation)"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                (click)="edit(experienceInformation)"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                (click)="delete(experienceInformation)"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Pager is not implemented yet, so this is normal pagination instead -->
    <div *ngIf="experienceInformations && experienceInformations.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>


<div *ngIf="!showExperienceInformationSection">
    <jhi-experience-information-update *ngIf="showAddOrUpdateSection"  [experienceInformation]="experienceInformation" (showExperienceInformationSection)="showExperienceInformation()"></jhi-experience-information-update>
    <jhi-experience-information-detail *ngIf="!showAddOrUpdateSection" [experienceInformation]="experienceInformation" (showExperienceInformationSection)="showExperienceInformation()" (editExperienceInformation)="editExperienceInformation()"></jhi-experience-information-detail>
</div>

<jhi-experience-information-delete-popup *ngIf="showDeleteDialog" [experienceInformation]="experienceInformation" (showExperienceInformationSection)="showExperienceInformation()"></jhi-experience-information-delete-popup>

