<div *ngIf="employee.id===undefined">

</div>
<div *ngIf="employee.id!=undefined && showAcademicInformationManagementSection">
    <h3 id="page-heading">
        <span></span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-academic-information" (click)="addAcademicInformation()">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down" >
            Create new Academic Information
            </span>
        </button>
    </h3>
<!--    <jhi-alert></jhi-alert>-->

    <br/>
    <div class="table-responsive" *ngIf="academicInformations">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="degree"><span>Degree</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="boardOrUniversity"><span>Board Or University</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="passingYear"><span>Passing Year</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="group"><span>Group</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <!--<th jhiSortBy="employeeId"><span>Employee</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let academicInformation of academicInformations ;trackBy: trackId">
                <td><a [routerLink]="['/academic-information', academicInformation.id, 'view' ]">{{academicInformation.id}}</a></td>
                <td>{{academicInformation.degree}}</td>
                <td>{{academicInformation.boardOrUniversity}}</td>
                <td>{{academicInformation.passingYear}}</td>
                <td>{{academicInformation.group}}</td>
                <!--<td>
                    <div *ngIf="academicInformation.employeeId">
                        <a [routerLink]="['../employee', academicInformation.employeeId , 'view' ]" >{{academicInformation.employeeId}}</a>
                    </div>
                </td>-->
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                (click)="viewAcademicInformation(academicInformation)"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                (click)="edit(academicInformation)"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                (click) = "delete(academicInformation)"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Pager is not implemented yet, so this is normal pagination instead -->
    <div *ngIf="academicInformations && academicInformations.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
    <div>
        <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
            <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Close</span>
        </button>
    </div>
</div>
<div *ngIf="!showAcademicInformationManagementSection">
    <jhi-academic-information-update *ngIf="showAddOrUpdateSection"  [academicInformation]="academicInformation" (showAcademicInformationSection)="showAcademicInformation()"></jhi-academic-information-update>
    <jhi-academic-information-detail *ngIf="!showAddOrUpdateSection" [academicInformation]="academicInformation" (showAcademicInformationSection)="showAcademicInformation()" (editAcademicInformation)="editAcademicInformation()"></jhi-academic-information-detail>
</div>

<jhi-academic-information-delete-popup *ngIf="showDeleteDialog" [academicInformation]="academicInformation" (showAcademicInformationSection)="showAcademicInformation()"></jhi-academic-information-delete-popup>
