<div class="row justify-content-center">
    <div class="col-md-4" *ngIf="receiptVoucher.applicationType">
        <jhi-purchase-order-extended-detail *ngIf="receiptVoucher.applicationType==='PURCHASE_ORDER'" [purchaseOrderId]="receiptVoucher.applicationId"></jhi-purchase-order-extended-detail>
    </div>
    <div class="col-md-8">
        <form name="editForm" role="form" novalidate  #editForm="ngForm">
            <h2 *ngIf="!receiptVoucher.id" id="jhi-receipt-voucher-heading">Create a Receipt Voucher</h2>
            <h2 *ngIf="receiptVoucher.id" id="jhi-receipt-voucher-update-heading">Receipt Voucher <b>{{receiptVoucher.voucherNo}}</b></h2>

            <div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label class="form-control-label" for="field_voucherNo">Voucher No</label>
                            <input readonly type="text" class="form-control" name="voucherNo" id="field_voucherNo"
                                   value="{{receiptVoucher.voucherNo}}" />
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="field_voucherDate">Voucher Date</label>
                            <div class="input-group">
                                <input [disabled]="receiptVoucher.postDate" id="field_voucherDate" type="date" class="form-control" name="voucherDate" ngbDatepicker  #voucherDateDp="ngbDatepicker" [(ngModel)]="receiptVoucher.voucherDate"
                                />
                                <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="voucherDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="field_postDate">Post Date</label>
                            <div class="input-group">
                                <input disabled id="field_postDate" type="date" class="form-control" name="postDate" ngbDatepicker  #postDateDp="ngbDatepicker" [(ngModel)]="receiptVoucher.postDate"
                                />
                                <span class="input-group-append">
                            <button disabled type="button" class="btn btn-secondary" (click)="postDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label class="form-control-label" for="field_applicationType">Application Type</label>
                            <select class="form-control" name="applicationType" [(ngModel)]="receiptVoucher.applicationType" id="field_applicationType" >
                                <option value="REQUISITION">REQUISITION</option>
                                <option value="PAY_ROLL">PAY_ROLL</option>
                                <option value="PURCHASE_ORDER">PURCHASE_ORDER</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="field_applicationId">Application Id</label>
                            <input type="number" class="form-control" name="applicationId" id="field_applicationId"
                                   [(ngModel)]="receiptVoucher.applicationId" />
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="field_account">Debit Account</label>
                            <select [disabled]="receiptVoucher.postDate" class="form-control" id="field_account" name="account" [(ngModel)]="receiptVoucher.accountId" >
                                <option [ngValue]="null"></option>
                                <option [ngValue]="mstAccountOption.id" *ngFor="let mstAccountOption of mstaccounts; trackBy: trackMstAccountById">{{mstAccountOption.name}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="field_totalAmount">Total Voucher Amount</label>
                            <input readonly type="text" class="form-control" name="voucherNo" id="field_totalAmount"
                                   [(ngModel)]="totalAmount" />
                        </div>
                    </div>
                </div>


            </div>
            <jhi-alert></jhi-alert>

        </form>
    </div>
    <div class="col-12" *ngIf="receiptVoucher.id">
        <jhi-receipt-voucher-transaction [receiptVoucher]="receiptVoucher" (totalAmountChanged)="calculateTotalAmount($event)"></jhi-receipt-voucher-transaction>
    </div>
    <div class="col-md-12">
        <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
            <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Back</span>
        </button>
        <button  (click)="save()" id="save-entity" [disabled]="editForm.form.invalid || isSaving || receiptVoucher.postDate" class="btn btn-primary">
            <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
        </button>
        <button  *ngIf="totalAmount>0" (click)="post()" id="post" [disabled]="editForm.form.invalid || isSaving ||receiptVoucher.postDate" class="btn btn-secondary">
            <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Post</span>
        </button>
        <button  type="submit" *ngIf="receiptVoucher.postDate" id="report"  class="btn btn-secondary" (click)="downloadVoucherReport()">
            <fa-icon [icon]="'file-pdf'"></fa-icon>&nbsp;<span>Download Report</span>
        </button>
    </div>
</div>
