<div>
    <h2 id="page-heading">
        <span>Receipt Vouchers</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-receipt-voucher" [routerLink]="['/receipt-voucher/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down" >
            Create new Receipt Voucher
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="receiptVouchers">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="voucherNo"><span>Voucher No</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="voucherDate"><span>Voucher Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="postDate"><span>Post Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifiedBy"><span>Modified By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifiedOn"><span>Modified On</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="accountName"><span>Account</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let receiptVoucher of receiptVouchers ;trackBy: trackId">
                <td><a [routerLink]="['/receipt-voucher', receiptVoucher.id, 'view' ]">{{receiptVoucher.id}}</a></td>
                <td>{{receiptVoucher.voucherNo}}</td>
                <td>{{receiptVoucher.voucherDate | date:'mediumDate'}}</td>
                <td>{{receiptVoucher.postDate | date:'mediumDate'}}</td>
                <td>{{receiptVoucher.modifiedBy}}</td>
                <td>{{receiptVoucher.modifiedOn | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="receiptVoucher.accountId">
                        <a [routerLink]="['../mst-account', receiptVoucher.accountId , 'view' ]" >{{receiptVoucher.accountName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">

                        <button type="submit"
                                [routerLink]="['/receipt-voucher', receiptVoucher.id, 'edit']"
                                class="btn btn-info btn-sm">
                            <fa-icon  [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Pager is not implemented yet, so this is normal pagination instead -->
    <div *ngIf="receiptVouchers && receiptVouchers.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
    <div class="col-12">
        <button class="btn btn-secondary" (click)="back()">Back</button>
    </div>
</div>
