<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-commercial-work-order-heading">Create or edit a Commercial Work Order</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!commercialWorkOrder.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="commercialWorkOrder.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_commercialPurchaseOrder">Commercial Purchase Order</label>
                    <select class="form-control" id="field_commercialPurchaseOrder" name="commercialPurchaseOrder" [(ngModel)]="commercialWorkOrder.commercialPurchaseOrderId" required>
                        <option [ngValue]="null"></option>
                        <option [ngValue]="commercialPurchaseOrderOption.id" *ngFor="let commercialPurchaseOrderOption of commercialpurchaseorders; trackBy: trackCommercialPurchaseOrderById">{{commercialPurchaseOrderOption.purchaseOrderNo}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_refNo">Ref No</label>
                    <input type="text" class="form-control" name="refNo" id="field_refNo"
                        [(ngModel)]="commercialWorkOrder.refNo" required/>
                    <div [hidden]="!(editForm.controls.refNo?.dirty && editForm.controls.refNo?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.refNo?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_workOrderDate">Work Order Date</label>
                    <div class="input-group">
                        <input id="field_workOrderDate" type="text" class="form-control" name="workOrderDate" ngbDatepicker  #workOrderDateDp="ngbDatepicker" [(ngModel)]="commercialWorkOrder.workOrderDate"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="workOrderDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.workOrderDate?.dirty && editForm.controls.workOrderDate?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.workOrderDate?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_deliveryDate">Delivery Date</label>
                    <div class="input-group">
                        <input id="field_deliveryDate" type="text" class="form-control" name="deliveryDate" ngbDatepicker  #deliveryDateDp="ngbDatepicker" [(ngModel)]="commercialWorkOrder.deliveryDate"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="deliveryDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.deliveryDate?.dirty && editForm.controls.deliveryDate?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.deliveryDate?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_remarks">Remarks</label>
                    <input type="text" class="form-control" name="remarks" id="field_remarks"
                        [(ngModel)]="commercialWorkOrder.remarks" />
                </div>
                <!--<div class="form-group">
                    <label class="form-control-label" for="field_createdBy">Created By</label>
                    <input type="text" class="form-control" name="createdBy" id="field_createdBy"
                        [(ngModel)]="commercialWorkOrder.createdBy" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_createOn">Create On</label>
                    <div class="input-group">
                        <input id="field_createOn" type="text" class="form-control" name="createOn" ngbDatepicker  #createOnDp="ngbDatepicker" [(ngModel)]="commercialWorkOrder.createOn"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="createOnDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_updatedBy">Updated By</label>
                    <input type="text" class="form-control" name="updatedBy" id="field_updatedBy"
                        [(ngModel)]="commercialWorkOrder.updatedBy" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_updatedOn">Updated On</label>
                    <div class="input-group">
                        <input id="field_updatedOn" type="text" class="form-control" name="updatedOn" ngbDatepicker  #updatedOnDp="ngbDatepicker" [(ngModel)]="commercialWorkOrder.updatedOn"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="updatedOnDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>-->
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
