<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="holiday">
            <h2><span>Holiday</span> {{holiday.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>From Date</span></dt>
                <dd>
                    <span>{{holiday.fromDate}}</span>
                </dd>
                <dt><span>To Date</span></dt>
                <dd>
                    <span>{{holiday.toDate}}</span>
                </dd>
                <dt><span>Number Of Days</span></dt>
                <dd>
                    <span>{{holiday.numberOfDays}}</span>
                </dd>
                <dt><span>Moon Dependency</span></dt>
                <dd>
                    <span>{{holiday.moonDependency}}</span>
                </dd>
                <dt><span>Holiday Declared By</span></dt>
                <dd>
                    <span>{{holiday.holidayDeclaredBy}}</span>
                </dd>
                <dt><span>Remarks</span></dt>
                <dd>
                    <span>{{holiday.remarks}}</span>
                </dd>
                <dt><span>Created By</span></dt>
                <dd>
                    <span>{{holiday.createdBy}}</span>
                </dd>
                <dt><span>Created On</span></dt>
                <dd>
                    <span>{{holiday.createdOn}}</span>
                </dd>
                <dt><span>Updated By</span></dt>
                <dd>
                    <span>{{holiday.updatedBy}}</span>
                </dd>
                <dt><span>Updated On</span></dt>
                <dd>
                    <span>{{holiday.updatedOn}}</span>
                </dd>
                <dt><span>Holiday Year</span></dt>
                <dd>
                    <span>{{holiday.holidayYear}}</span>
                </dd>
                <dt><span>Holiday Type</span></dt>
                <dd>
                    <div *ngIf="holiday.holidayTypeId">
                        <a [routerLink]="['/holiday-type', holiday.holidayTypeId, 'view']">{{holiday.holidayTypeName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/holiday', holiday.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
