<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-mst-account-heading">Create or edit a Mst Account</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!mstAccount.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="mstAccount.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_code">Code</label>
                    <input type="text" class="form-control" name="code" id="field_code"
                        [(ngModel)]="mstAccount.code" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="mstAccount.name" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_yearOpenBalance">Year Open Balance</label>
                    <input type="number" class="form-control" name="yearOpenBalance" id="field_yearOpenBalance"
                        [(ngModel)]="mstAccount.yearOpenBalance" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_yearOpenBalanceType">Year Open Balance Type</label>
                    <select class="form-control" name="yearOpenBalanceType" [(ngModel)]="mstAccount.yearOpenBalanceType" id="field_yearOpenBalanceType" >
                        <option value="DEBIT">DEBIT</option>
                        <option value="CREDIT">CREDIT</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_yearCloseBalance">Year Close Balance</label>
                    <input type="number" class="form-control" name="yearCloseBalance" id="field_yearCloseBalance"
                        [(ngModel)]="mstAccount.yearCloseBalance" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_reservedFlag">Reserved Flag</label>
                    <select class="form-control" name="reservedFlag" [(ngModel)]="mstAccount.reservedFlag" id="field_reservedFlag" >
                        <option value="RESERVED">RESERVED</option>
                        <option value="NOT_RESERVED">NOT_RESERVED</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_modifiedBy">Modified By</label>
                    <input type="text" class="form-control" name="modifiedBy" id="field_modifiedBy"
                        [(ngModel)]="mstAccount.modifiedBy" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_modifiedOn">Modified On</label>
                    <div class="input-group">
                        <input id="field_modifiedOn" type="text" class="form-control" name="modifiedOn" ngbDatepicker  #modifiedOnDp="ngbDatepicker" [(ngModel)]="mstAccount.modifiedOn"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="modifiedOnDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_depreciationRate">Depreciation Rate</label>
                    <input type="number" class="form-control" name="depreciationRate" id="field_depreciationRate"
                        [(ngModel)]="mstAccount.depreciationRate" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_depreciationType">Depreciation Type</label>
                    <select class="form-control" name="depreciationType" [(ngModel)]="mstAccount.depreciationType" id="field_depreciationType" >
                        <option value="MONTHLY">MONTHLY</option>
                        <option value="YEARLY">YEARLY</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_group">Group</label>
                    <select class="form-control" id="field_group" name="group" [(ngModel)]="mstAccount.groupId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="mstGroupOption.id" *ngFor="let mstGroupOption of mstgroups; trackBy: trackMstGroupById">{{mstGroupOption.name}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
