<div>
    <h2 id="page-heading">
        <span>Mst Accounts</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-mst-account" [routerLink]="['/mst-account/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down" >
            Create new Mst Account
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="mstAccounts">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="code"><span>Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span>Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="yearOpenBalance"><span>Year Open Balance</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="yearOpenBalanceType"><span>Year Open Balance Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="yearCloseBalance"><span>Year Close Balance</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="reservedFlag"><span>Reserved Flag</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifiedBy"><span>Modified By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifiedOn"><span>Modified On</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="depreciationRate"><span>Depreciation Rate</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="depreciationType"><span>Depreciation Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="groupName"><span>Group</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let mstAccount of mstAccounts ;trackBy: trackId">
                <td><a [routerLink]="['/mst-account', mstAccount.id, 'view' ]">{{mstAccount.id}}</a></td>
                <td>{{mstAccount.code}}</td>
                <td>{{mstAccount.name}}</td>
                <td>{{mstAccount.yearOpenBalance}}</td>
                <td>{{mstAccount.yearOpenBalanceType}}</td>
                <td>{{mstAccount.yearCloseBalance}}</td>
                <td>{{mstAccount.reservedFlag}}</td>
                <td>{{mstAccount.modifiedBy}}</td>
                <td>{{mstAccount.modifiedOn | date:'mediumDate'}}</td>
                <td>{{mstAccount.depreciationRate}}</td>
                <td>{{mstAccount.depreciationType}}</td>
                <td>
                    <div *ngIf="mstAccount.groupId">
                        <a [routerLink]="['../mst-group', mstAccount.groupId , 'view' ]" >{{mstAccount.groupName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/mst-account', mstAccount.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/mst-account', mstAccount.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'mst-account', { outlets: { popup: mstAccount.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Pager is not implemented yet, so this is normal pagination instead -->
    <div *ngIf="mstAccounts && mstAccounts.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
