<!--
<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-dt-transaction-heading">Create or edit a Dt Transaction</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!dtTransaction.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                           [(ngModel)]="dtTransaction.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_voucherNo">Voucher No</label>
                    <input type="text" class="form-control" name="voucherNo" id="field_voucherNo"
                           [(ngModel)]="dtTransaction.voucherNo" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_voucherDate">Voucher Date</label>
                    <div class="input-group">
                        <input id="field_voucherDate" type="text" class="form-control" name="voucherDate" ngbDatepicker  #voucherDateDp="ngbDatepicker" [(ngModel)]="dtTransaction.voucherDate"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="voucherDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_serialNo">Serial No</label>
                    <input type="number" class="form-control" name="serialNo" id="field_serialNo"
                           [(ngModel)]="dtTransaction.serialNo" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_amount">Amount</label>
                    <input type="number" class="form-control" name="amount" id="field_amount"
                           [(ngModel)]="dtTransaction.amount" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_balanceType">Balance Type</label>
                    <select class="form-control" name="balanceType" [(ngModel)]="dtTransaction.balanceType" id="field_balanceType" >
                        <option value="DEBIT">DEBIT</option>
                        <option value="CREDIT">CREDIT</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_type">Type</label>
                    <select class="form-control" name="type" [(ngModel)]="dtTransaction.type" id="field_type" >
                        <option value="SELLING">SELLING</option>
                        <option value="BUYING">BUYING</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_invoiceNo">Invoice No</label>
                    <input type="text" class="form-control" name="invoiceNo" id="field_invoiceNo"
                           [(ngModel)]="dtTransaction.invoiceNo" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_invoiceDate">Invoice Date</label>
                    <div class="input-group">
                        <input id="field_invoiceDate" type="text" class="form-control" name="invoiceDate" ngbDatepicker  #invoiceDateDp="ngbDatepicker" [(ngModel)]="dtTransaction.invoiceDate"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="invoiceDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_fCurrency">F Currency</label>
                    <input type="number" class="form-control" name="fCurrency" id="field_fCurrency"
                           [(ngModel)]="dtTransaction.fCurrency" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_convFactor">Conv Factor</label>
                    <input type="number" class="form-control" name="convFactor" id="field_convFactor"
                           [(ngModel)]="dtTransaction.convFactor" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_postDate">Post Date</label>
                    <div class="input-group">
                        <input id="field_postDate" type="text" class="form-control" name="postDate" ngbDatepicker  #postDateDp="ngbDatepicker" [(ngModel)]="dtTransaction.postDate"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="postDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_narration">Narration</label>
                    <input type="text" class="form-control" name="narration" id="field_narration"
                           [(ngModel)]="dtTransaction.narration" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_modifiedBy">Modified By</label>
                    <input type="text" class="form-control" name="modifiedBy" id="field_modifiedBy"
                           [(ngModel)]="dtTransaction.modifiedBy" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_modifiedOn">Modified On</label>
                    <div class="input-group">
                        <input id="field_modifiedOn" type="text" class="form-control" name="modifiedOn" ngbDatepicker  #modifiedOnDp="ngbDatepicker" [(ngModel)]="dtTransaction.modifiedOn"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="modifiedOnDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_reference">Reference</label>
                    <input type="text" class="form-control" name="reference" id="field_reference"
                           [(ngModel)]="dtTransaction.reference" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_creditorLedger">Creditor Ledger</label>
                    <select class="form-control" id="field_creditorLedger" name="creditorLedger" [(ngModel)]="dtTransaction.creditorLedgerId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="creditorLedgerOption.id" *ngFor="let creditorLedgerOption of creditorledgers; trackBy: trackCreditorLedgerById">{{creditorLedgerOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_debtorLedger">Debtor Ledger</label>
                    <select class="form-control" id="field_debtorLedger" name="debtorLedger" [(ngModel)]="dtTransaction.debtorLedgerId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="debtorLedgerOption.id" *ngFor="let debtorLedgerOption of debtorledgers; trackBy: trackDebtorLedgerById">{{debtorLedgerOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_chequeRegister">Cheque Register</label>
                    <select class="form-control" id="field_chequeRegister" name="chequeRegister" [(ngModel)]="dtTransaction.chequeRegisterId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="chequeRegisterOption.id" *ngFor="let chequeRegisterOption of chequeregisters; trackBy: trackChequeRegisterById">{{chequeRegisterOption.chequeNo}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_account">Account</label>
                    <select class="form-control" id="field_account" name="account" [(ngModel)]="dtTransaction.accountId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="mstAccountOption.id" *ngFor="let mstAccountOption of mstaccounts; trackBy: trackMstAccountById">{{mstAccountOption.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_voucher">Voucher</label>
                    <select class="form-control" id="field_voucher" name="voucher" [(ngModel)]="dtTransaction.voucherId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="voucherOption.id" *ngFor="let voucherOption of vouchers; trackBy: trackVoucherById">{{voucherOption.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_currency">Currency</label>
                    <select class="form-control" id="field_currency" name="currency" [(ngModel)]="dtTransaction.currencyId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="currencyOption.id" *ngFor="let currencyOption of currencies; trackBy: trackCurrencyById">{{currencyOption.notation}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
-->
