<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-leave-attachment-heading">Create or edit a Leave Attachment</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!leaveAttachment.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                           [(ngModel)]="leaveAttachment.id" readonly/>
                </div>


                <div class="form-group">
                    <label class="form-control-label" for="field_employees">Employees</label>
                    <select class="form-control" id="field_employees" name="employees"
                            [(ngModel)]="employee" (ngModelChange)="changeLeaveApplicationId()" required>
                        <option [ngValue]="null"></option>
                        <option [ngValue]="employeeOption"
                                *ngFor="let employeeOption of employees; trackBy: trackEmployeeById">{{employeeOption.fullName + " [" + employeeOption.departmentName + "]"}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_leaveApplication">Leave Application</label>
                    <select class="form-control" id="field_leaveApplication" name="leaveApplication"
                            [(ngModel)]="leaveAttachment.leaveApplicationId" required>
                        <option *ngIf="!editForm.value.leaveApplication" [ngValue]="null" selected></option>
                        <option [ngValue]="leaveApplicationOption.id"
                                *ngFor="let leaveApplicationOption of leaveapplications; trackBy: trackLeaveApplicationById">{{leaveApplicationOption.id}}</option>
                    </select>
                </div>
                <div
                    [hidden]="!(editForm.controls.leaveApplication?.dirty && editForm.controls.leaveApplication?.invalid)">
                    <small class="form-text text-danger"
                           [hidden]="!editForm.controls.leaveApplication?.errors?.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_file">File</label>
                    <div>
                        <div *ngIf="leaveAttachment.file" class="form-text text-danger clearfix">
                            <a class="pull-left"
                               (click)="openFile(leaveAttachment.fileContentType, leaveAttachment.file)">open</a><br>
                            <span class="pull-left">{{leaveAttachment.fileContentType}}
                                , {{byteSize(leaveAttachment.file)}}</span>
                            <button type="button"
                                    (click)="leaveAttachment.file=null;leaveAttachment.fileContentType=null;"
                                    class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_file"
                               (change)="setFileData($event, leaveAttachment, 'file', false)"/>
                    </div>
                    <input type="hidden" class="form-control" name="file" id="field_file"
                           [(ngModel)]="leaveAttachment.file" required/>
                    <input type="hidden" class="form-control" name="fileContentType" id="field_fileContentType"
                           [(ngModel)]="leaveAttachment.fileContentType"/>
                    <div [hidden]="!(editForm.controls.file?.dirty && editForm.controls.file?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.file?.errors?.required">
                            This field is required.
                        </small>
                    </div>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving"
                        class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
