<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-salary-heading">Create or edit a Salary</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!salary.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="salary.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_gross">Gross</label>
                    <input type="number" class="form-control" name="gross" id="field_gross"
                           [(ngModel)]="salary.gross" required/>
                    <div [hidden]="!(editForm.controls.gross?.dirty && editForm.controls.gross?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.gross?.errors?.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.gross?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_basic">Basic (% of Gross)</label>
                    <input type="number" class="form-control" name="basic" id="field_basic"
                           [(ngModel)]="salary.basic" required/>
                    <div [hidden]="!(editForm.controls.basic?.dirty && editForm.controls.basic?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.basic?.errors?.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.basic?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_startedOn">Started On</label>
                    <div class="input-group">
                        <input id="field_startedOn" type="text" class="form-control" name="startedOn" ngbDatepicker  #startedOnDp="ngbDatepicker" [(ngModel)]="salary.startedOn"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="startedOnDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_endedOn">Ended On</label>
                    <div class="input-group">
                        <input id="field_endedOn" type="text" class="form-control" name="endedOn" ngbDatepicker  #endedOnDp="ngbDatepicker" [(ngModel)]="salary.endedOn"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="endedOnDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_salaryStatus">Salary Status</label>
                    <select class="form-control" name="salaryStatus" [(ngModel)]="salary.salaryStatus" id="field_salaryStatus" >
                        <option value="ACTIVE">ACTIVE</option>
                        <option value="NOT_ACTIVE">NOT_ACTIVE</option>
                    </select>
                </div>
                <!--<div class="form-group">
                    <label class="form-control-label" for="field_modifiedBy">Modified By</label>
                    <input type="text" class="form-control" name="modifiedBy" id="field_modifiedBy"
                        [(ngModel)]="salary.modifiedBy" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_modifiedOn">Modified On</label>
                    <div class="input-group">
                        <input id="field_modifiedOn" type="text" class="form-control" name="modifiedOn" ngbDatepicker  #modifiedOnDp="ngbDatepicker" [(ngModel)]="salary.modifiedOn"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="modifiedOnDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_employee">Employee</label>
                    <select class="form-control" id="field_employee" name="employee" [(ngModel)]="salary.employeeId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="employeeOption.id" *ngFor="let employeeOption of employees; trackBy: trackEmployeeById">{{employeeOption.id}}</option>
                    </select>
                </div>-->
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
