<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="requisitionMessages">
            <h2><span>Requisition Messages</span> {{requisitionMessages.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Comments</span></dt>
                <dd>
                    <span>{{requisitionMessages.comments}}</span>
                </dd>
                <dt><span>Commented On</span></dt>
                <dd>
                    <span>{{requisitionMessages.commentedOn}}</span>
                </dd>
                <dt><span>Commenter</span></dt>
                <dd>
                    <div *ngIf="requisitionMessages.commenterId">
                        <a [routerLink]="['/employee', requisitionMessages.commenterId, 'view']">{{requisitionMessages.commenterFullName}}</a>
                    </div>
                </dd>
                <dt><span>Requisition</span></dt>
                <dd>
                    <div *ngIf="requisitionMessages.requisitionId">
                        <a [routerLink]="['/requisition', requisitionMessages.requisitionId, 'view']">{{requisitionMessages.requisitionId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/requisition-messages', requisitionMessages.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
