<div>
    <h2 id="page-heading">
        <span>Supply Shops</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-supply-shop" [routerLink]="['/supply-shop/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down" >
            Create new Supply Shop
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="supplyShops">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span>Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="contact"><span>Contact</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="email"><span>Email</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="address"><span>Address</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="additionalInformation"><span>Additional Information</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createdBy"><span>Created By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createdOn"><span>Created On</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="updatedBy"><span>Updated By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="updatedOn"><span>Updated On</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="supplyZoneName"><span>Supply Zone</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="supplyAreaName"><span>Supply Area</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="supplyZoneManagerId"><span>Supply Zone Manager</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="supplyAreaManagerId"><span>Supply Area Manager</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="supplySalesRepresentativeName"><span>Supply Sales Representative</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let supplyShop of supplyShops ;trackBy: trackId">
                <td><a [routerLink]="['/supply-shop', supplyShop.id, 'view' ]">{{supplyShop.id}}</a></td>
                <td>{{supplyShop.name}}</td>
                <td>{{supplyShop.contact}}</td>
                <td>{{supplyShop.email}}</td>
                <td>{{supplyShop.address}}</td>
                <td>{{supplyShop.additionalInformation}}</td>
                <td>{{supplyShop.createdBy}}</td>
                <td>{{supplyShop.createdOn | date:'medium'}}</td>
                <td>{{supplyShop.updatedBy}}</td>
                <td>{{supplyShop.updatedOn | date:'medium'}}</td>
                <td>
                    <div *ngIf="supplyShop.supplyZoneId">
                        <a [routerLink]="['../supply-zone', supplyShop.supplyZoneId , 'view' ]" >{{supplyShop.supplyZoneName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="supplyShop.supplyAreaId">
                        <a [routerLink]="['../supply-area', supplyShop.supplyAreaId , 'view' ]" >{{supplyShop.supplyAreaName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="supplyShop.supplyZoneManagerId">
                        <a [routerLink]="['../supply-zone-manager', supplyShop.supplyZoneManagerId , 'view' ]" >{{supplyShop.supplyZoneManagerId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="supplyShop.supplyAreaManagerId">
                        <a [routerLink]="['../supply-area-manager', supplyShop.supplyAreaManagerId , 'view' ]" >{{supplyShop.supplyAreaManagerId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="supplyShop.supplySalesRepresentativeId">
                        <a [routerLink]="['../supply-sales-representative', supplyShop.supplySalesRepresentativeId , 'view' ]" >{{supplyShop.supplySalesRepresentativeName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/supply-shop', supplyShop.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/supply-shop', supplyShop.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'supply-shop', { outlets: { popup: supplyShop.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
