<div>
    <h2 id="page-heading">
        <span>Shop</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-supply-shop"
                [routerLink]="['/supply-shop/new']"
                *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_SCM_ADMIN', 'ROLE_SCM_AREA_MANAGER']">
            <fa-icon [icon]="'plus'"></fa-icon>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="supplyShops">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
                <th jhiSortBy="id"><span>ID</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="supplyZoneName"><span>Supply Zone</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="supplyZoneManagerId"><span>Supply Zone Manager</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="supplyAreaName"><span>Supply Area</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="supplyAreaManagerId"><span>Supply Area Manager</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="supplySalesRepresentativeName"><span>Supply Sales Representative</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="name"><span>Shop Name</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>

                <th *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_SCM_ADMIN', 'ROLE_SCM_AREA_MANAGER']"></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']"
                   [infiniteScrollDistance]="0">
            <tr *ngFor="let supplyShop of supplyShops ;trackBy: trackId">
                <td><a [routerLink]="['/supply-shop', supplyShop.id, 'view' ]">{{supplyShop.id}}</a></td>
                <td>
                    <div *ngIf="supplyShop.supplyZoneId">
                        <a [routerLink]="['../supply-zone', supplyShop.supplyZoneId , 'view' ]">{{supplyShop.supplyZoneName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="supplyShop.supplyZoneManagerId">
                        <a [routerLink]="['../supply-zone-manager', supplyShop.supplyZoneManagerId , 'view' ]">{{supplyShop.supplyZoneManagerId | scmZoneManagerFilter: supplyZoneManagers}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="supplyShop.supplyAreaId">
                        <a [routerLink]="['../supply-area', supplyShop.supplyAreaId , 'view' ]">{{supplyShop.supplyAreaName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="supplyShop.supplyAreaManagerId">
                        <a [routerLink]="['../supply-area-manager', supplyShop.supplyAreaManagerId , 'view' ]">{{supplyShop.supplyAreaManagerId | scmAreaManagerFilter: supplyAreaManagers}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="supplyShop.supplySalesRepresentativeId">
                        <a [routerLink]="['../supply-sales-representative', supplyShop.supplySalesRepresentativeId , 'view' ]">{{supplyShop.supplySalesRepresentativeName}}</a>
                    </div>
                </td>
                <td>{{supplyShop.name}}</td>

                <td class="text-right" width="20%"
                    *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_SCM_ADMIN', 'ROLE_SCM_AREA_MANAGER']">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/supply-shop', supplyShop.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/supply-shop', supplyShop.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
