<div>
    <h2 id="page-heading">
        <span>Salary Vouchers for month <b>{{salaryVoucherRelation.month}}</b></span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-salary-voucher-relation" [routerLink]="['/salary-voucher-relation',salaryVoucherRelation.officeId, salaryVoucherRelation.year, salaryVoucherRelation.month,'new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down" >
            Create new Salary Voucher Relation
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="salaryVoucherRelations">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="year"><span>Year</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="month"><span>Month</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="voucherNo"><span>Voucher No</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifiedBy"><span>Modified By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifiedOn"><span>Modified On</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="officeName"><span>Office</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let salaryVoucherRelation of salaryVoucherRelations ;trackBy: trackId">
                <td><a [routerLink]="['/salary-voucher-relation', salaryVoucherRelation.id, 'view' ]">{{salaryVoucherRelation.id}}</a></td>
                <td>{{salaryVoucherRelation.year}}</td>
                <td>{{salaryVoucherRelation.month}}</td>
                <td style="cursor: pointer;" (click)="gotoVoucher(salaryVoucherRelation)">{{salaryVoucherRelation.voucherNo}}</td>
                <td>{{salaryVoucherRelation.modifiedBy}}</td>
                <td>{{salaryVoucherRelation.modifiedOn | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="salaryVoucherRelation.officeId">
                        <a [routerLink]="['../office', salaryVoucherRelation.officeId , 'view' ]" >{{salaryVoucherRelation.officeName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/salary-voucher-relation', salaryVoucherRelation.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/salary-voucher-relation', salaryVoucherRelation.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'salary-voucher-relation', { outlets: { popup: salaryVoucherRelation.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-12" align="right">
            <button class="btn btn-secondary" (click)="previousState()">Back</button>
        </div>
    </div>
</div>
