<div>
    <h2 id="page-heading">
        <span>Quotations</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-quotation" [routerLink]="['/quotation', quotation.requisitionId,'new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down" >
            Add
            </span>
        </button>
    </h2>
    <div class="row">
        <div class="col-sm-12">

        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="quotations">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th jhiSortBy="quotationNo"><span>Quotation No</span> </th>
                <th jhiSortBy="selectionStatus"><span>Selection Status</span> </th>
                <th jhiSortBy="vendorCompanyName"><span>Vendor</span> </th>
                <th jhiSortBy="totalAmount"><span>Total Amount</span></th>
                <th></th>
            </tr>

            </thead>
            <tbody>
            <tr *ngFor="let quotation of quotations ;trackBy: trackId">
                <td>{{quotation.quotationNo}}</td>
                <td>{{quotation.selectionStatus}}</td>
                <td>
                    <div *ngIf="quotation.vendorId">
                        <a [routerLink]="['../vendor', quotation.vendorId , 'view' ]" >{{quotation.vendorCompanyName}}</a>
                    </div>
                </td>
                <td>{{quotation.totalAmount}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/quotation', quotation.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                        </button>
                        <button type="submit"
                                [routerLink]="['/quotation', quotation.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'quotation', { outlets: { popup: quotation.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Pager is not implemented yet, so this is normal pagination instead -->
    <div *ngIf="quotations && quotations.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>

</div>
