<div>
    <h2 id="page-heading">
        <span>Requisition Details</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-requisition-details" [routerLink]="['/requisition-details', requisitionDetail.requisitionId,'new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down" >
            Add
            </span>
        </button>
    </h2>

    <br/>
    <div class="table-responsive" *ngIf="requisitionDetails">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th jhiSortBy="requiredOn"><span>Required On</span> </th>
                <th jhiSortBy="estimatedDate"><span>Estimated Date</span> </th>
                <th jhiSortBy="uom"><span>Uom</span> </th>
                <th jhiSortBy="unit"><span>Unit</span> </th>
                <th jhiSortBy="unitPrice"><span>Unit Price</span> </th>
                <th jhiSortBy="productName"><span>Product</span> </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let requisitionDetails of requisitionDetails ;trackBy: trackId">
                <td>{{requisitionDetails.requiredOn | date:'mediumDate'}}</td>
                <td>{{requisitionDetails.estimatedDate | date:'mediumDate'}}</td>
                <td>{{requisitionDetails.uom}}</td>
                <td>{{requisitionDetails.unit}}</td>
                <td>{{requisitionDetails.unitPrice}}</td>
                <td>
                    <div *ngIf="requisitionDetails.productId">
                        {{requisitionDetails.productName}}
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/requisition-details', requisitionDetails.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                        </button>
                        <button type="submit"
                                [routerLink]="['/requisition-details', requisitionDetails.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                        </button>
                        <button
                                (click)="delete(requisitionDetails.id)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Pager is not implemented yet, so this is normal pagination instead -->
    <div *ngIf="requisitionDetails && requisitionDetails.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>

</div>



<!-- The Modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Modal Heading</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                Modal body..
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

