<div>
    <h2 id="page-heading">
        <span>Messages</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-requisition-messages" [routerLink]="['/requisition-messages',requisitionId,'new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down" >
            Add Message
            </span>
        </button>
    </h2>
    <br/>
    <div class="table-responsive" *ngIf="requisitionMessages">
        <table class="table table-striped">

            <tbody>
            <tr *ngFor="let requisitionMessages of requisitionMessages ;trackBy: trackId">
                <td>
                    <b>{{requisitionMessages.comments}}</b><br/>
                    By {{requisitionMessages.commenterFullName}} on {{requisitionMessages.commentedOn|date: 'mediumDate'}}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Pager is not implemented yet, so this is normal pagination instead -->
    <div *ngIf="requisitionMessages && requisitionMessages.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
