<div class="row justify-content-center">
    <div class="col-12">
        <jhi-alert></jhi-alert>
    </div>
    <div class="col-12">
        <div *ngIf="requisition">
            <h2><span>Requisition</span> <b>{{requisition.requisitionNo}}</b></h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <div class="row">
                <dl class="col-md-4 jh-entity-details">
                    <dt><span>Requisition No</span></dt>
                    <dd>
                        <span>{{requisition.requisitionNo}}</span>
                    </dd>
                    <dt><span>Reason</span></dt>
                    <dd>
                        <span>{{requisition.reason}}</span>
                    </dd>
                    <dt><span>Requisition Date</span></dt>
                    <dd>
                        <span>{{requisition.requisitionDate}}</span>
                    </dd>
                    <dt><span>Requester</span></dt>
                    <dd>
                        <div *ngIf="requisition.employeeId">
                            <a [routerLink]="['/employee', requisition.employeeId, 'view']">{{requisition.employeeFullName}}</a>
                        </div>
                    </dd>

                </dl>
                <dl class="col-md-4 jh-entity-details">
                    <dt><span>Office</span></dt>
                    <dd>
                        <div *ngIf="requisition.officeId">
                            <a [routerLink]="['/office', requisition.officeId, 'view']">{{requisition.officeName}}</a>
                        </div>
                    </dd>
                    <dt><span>Product Category</span></dt>
                    <dd>
                        <div *ngIf="requisition.productCategoryId">
                            <a [routerLink]="['/product-category', requisition.productCategoryId, 'view']">{{requisition.productCategoryName}}</a>
                        </div>
                    </dd>
                    <dt><span>Department</span></dt>
                    <dd>
                        <div *ngIf="requisition.departmentId">
                            <a [routerLink]="['/department', requisition.departmentId, 'view']">{{requisition.departmentName}}</a>
                        </div>
                    </dd>
                    <dt><span>Amount</span></dt>
                    <dd>
                        <span>{{requisition.amount}}</span>
                    </dd>

                </dl>
                <dl class="col-md-4 jh-entity-details">

                    <dt><span>Status</span></dt>
                    <dd>
                        <span>{{requisition.status}}</span>
                    </dd>
                    <dt><span>Department Head Remarks</span></dt>
                    <dd>
                        <span>{{requisition.headRemarks}}</span>
                    </dd>
                    <dt><span>Purchase Committee Remarks</span></dt>
                    <dd>
                        <span>{{requisition.purchaseCommitteeRemarks}}</span>
                    </dd>
                    <dt><span>Cfo Remarks</span></dt>
                    <dd>
                        <span>{{requisition.cfoRemarks}}</span>
                    </dd>

                </dl>

            </div>
            <div class="row">
                <div class="col-6">
                    <jhi-requisition-details-extended-directive [requisition]="requisition"></jhi-requisition-details-extended-directive>
                </div>
                <div class="col-6">
                    <jhi-quotation-for-requisition [requisition]="requisition"></jhi-quotation-for-requisition>
                </div>
            </div>


            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back to Requisitions</span>
            </button>

            <button type="button"
                    [routerLink]="['/requisition', requisition.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
