<div class="row justify-content-center">
    <div class="col-12">
        <jhi-alert></jhi-alert>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-6">
        <h2 id="page-heading">Attendances</h2>
    </div>
    <div class="col-6">
        <div>
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <!-- <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch"
                            ngbDatepicker
                            #attendanceDateDp="ngbDatepicker"
                            name="currentSearch" placeholder="Select a date">
                     <span class="input-group-append">
                             <button type="button" class="btn btn-secondary" (click)="attendanceDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                         </span>
                     <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                         <fa-icon [icon]="'search'"></fa-icon>
                     </button>
                     <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                         <fa-icon [icon]="'trash-alt'"></fa-icon>
                     </button>-->
                </div>
            </form>
        </div>
    </div>
</div>

<br/>
<div class="row">
    <div class="col-4">
        <select class="form-control" id="field_DistinctAttendanceDate" name="distinctAttendanceDate"
                [(ngModel)]="currentSearch" (ngModelChange)="loadAll()">
            <option [ngValue]="null">Select a date</option>
            <option [ngValue]="attendanceDistinctDate.attendanceDate"
                    *ngFor="let attendanceDistinctDate of distinctAttendanceDate">{{attendanceDistinctDate.attendanceDate | date:'mediumDate'}}</option>
        </select>
    </div>
    <div class="col-8">
        <button *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_ATTENDANCE_ADMIN']" id="jh-create-entity"
                class="btn btn-primary float-right jh-create-entity create-attendance"
                [routerLink]="['/attendance/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
        </button>
    </div>
</div>


<div class="row justify-content-center">
    <div class="col-12 ">
        <br/>
        <div class="table-responsive" *ngIf="attendances">
            <table class="table table-striped">
                <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
                    <th jhiSortBy="id"><span>ID</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="employeeId"><span>Employee Id</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="attendanceDate"><span>Attendance Date</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="inTime"><span>In Time</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="outTime"><span>Out Time</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="attendanceExcelUploadId"><span>Attendance Excel Upload</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th></th>
                </tr>
                </thead>
                <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']"
                       [infiniteScrollDistance]="0">
                <tr *ngFor="let attendance of attendances ;trackBy: trackId">
                    <td><a [routerLink]="['/attendance', attendance.id, 'view' ]">{{attendance.id}}</a></td>
                    <td>{{attendance.employeeId}}</td>
                    <td>{{attendance.attendanceDate | date:'mediumDate'}}</td>
                    <td>{{attendance.inTime | date:'medium'}}</td>
                    <td>{{attendance.outTime | date:'medium'}}</td>
                    <td>
                        <div *ngIf="attendance.attendanceExcelUploadId">
                            <a [routerLink]="['../attendance-excel-upload', attendance.attendanceExcelUploadId , 'view' ]">{{attendance.attendanceExcelUploadId}}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    [routerLink]="['/attendance', attendance.id, 'view' ]"
                                    class="btn btn-info btn-sm">
                                <fa-icon [icon]="'eye'"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>
                            <button type="submit"
                                    [routerLink]="['/attendance', attendance.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>
                            <button type="submit" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_ATTENDANCE_ADMIN']"
                                    [routerLink]="['/', 'attendance', { outlets: { popup: attendance.id + '/delete'} }]"
                                    replaceUrl="true"
                                    queryParamsHandling="merge"
                                    class="btn btn-danger btn-sm">
                                <fa-icon [icon]="'times'"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
