<div>
    <h2 id="page-heading">
        <span>Area Manager</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-supply-area-manager" [routerLink]="['/supply-area-manager/new']" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_SCM_ADMIN', 'ROLE_SCM_ZONE_MANAGER']">
            <fa-icon [icon]="'plus'"></fa-icon>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="supplyAreaManagers">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="supplyZoneName"><span>Zone</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="supplyZoneManagerId"><span>Zone Manager</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="supplyAreaName"><span>Area</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="employeeFullName"><span>Employee</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="status"><span>Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>

            <th *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_SCM_ADMIN', 'ROLE_SCM_ZONE_MANAGER']"></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let supplyAreaManager of supplyAreaManagers ;trackBy: trackId">
                <td><a [routerLink]="['/supply-area-manager', supplyAreaManager.id, 'view' ]">{{supplyAreaManager.id}}</a></td>
                <td>
                    <div *ngIf="supplyAreaManager.supplyZoneId">
                        <a [routerLink]="['../supply-zone', supplyAreaManager.supplyZoneId , 'view' ]" >{{supplyAreaManager.supplyZoneName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="supplyAreaManager.supplyZoneManagerId">
                        <a [routerLink]="['../supply-zone-manager', supplyAreaManager.supplyZoneManagerId , 'view' ]" >{{supplyAreaManager.supplyZoneManagerId | scmZoneManagerFilter: supplyZoneManagers}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="supplyAreaManager.supplyAreaId">
                        <a [routerLink]="['../supply-area', supplyAreaManager.supplyAreaId , 'view' ]" >{{supplyAreaManager.supplyAreaName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="supplyAreaManager.employeeId">
                        <a [routerLink]="['../employee', supplyAreaManager.employeeId , 'view' ]" >{{supplyAreaManager.employeeFullName}}</a>
                    </div>
                </td>
                <td>{{supplyAreaManager.status}}</td>

                <td class="text-right" width="20%" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_SCM_ADMIN', 'ROLE_SCM_ZONE_MANAGER']">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/supply-area-manager', supplyAreaManager.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/supply-area-manager', supplyAreaManager.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
