<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="supplyAreaManager">
            <h2><span>Area Manager</span> {{supplyAreaManager.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Created By</span></dt>
                <dd>
                    <span>{{supplyAreaManager.createdBy}}</span>
                </dd>
                <dt><span>Created On</span></dt>
                <dd>
                    <span>{{supplyAreaManager.createdOn}}</span>
                </dd>
                <dt><span>Updated By</span></dt>
                <dd>
                    <span>{{supplyAreaManager.updatedBy}}</span>
                </dd>
                <dt><span>Updated On</span></dt>
                <dd>
                    <span>{{supplyAreaManager.updatedOn}}</span>
                </dd>
                <dt><span>End Date</span></dt>
                <dd>
                    <span>{{supplyAreaManager.endDate}}</span>
                </dd>
                <dt><span>Status</span></dt>
                <dd>
                    <span>{{supplyAreaManager.status}}</span>
                </dd>
                <dt><span>Zone</span></dt>
                <dd>
                    <div *ngIf="supplyAreaManager.supplyZoneId">
                        <a [routerLink]="['/supply-zone', supplyAreaManager.supplyZoneId, 'view']">{{supplyAreaManager.supplyZoneName}}</a>
                    </div>
                </dd>
                <dt><span>Area</span></dt>
                <dd>
                    <div *ngIf="supplyAreaManager.supplyAreaId">
                        <a [routerLink]="['/supply-area', supplyAreaManager.supplyAreaId, 'view']">{{supplyAreaManager.supplyAreaName}}</a>
                    </div>
                </dd>
                <dt><span>Employee</span></dt>
                <dd>
                    <div *ngIf="supplyAreaManager.employeeId">
                        <a [routerLink]="['/employee', supplyAreaManager.employeeId, 'view']">{{supplyAreaManager.employeeFullName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>
        </div>
    </div>
</div>
