<div>
    <h2 id="page-heading">
        <span>Account Balances</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-account-balance" [routerLink]="['/account-balance/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down" >
            Create new Account Balance
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="accountBalances">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="yearOpenBalance"><span>Year Open Balance</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="yearOpenBalanceType"><span>Year Open Balance Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="totDebitTrans"><span>Tot Debit Trans</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="totCreditTrans"><span>Tot Credit Trans</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifiedOn"><span>Modified On</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifiedBy"><span>Modified By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="financialAccountYearDurationStr"><span>Financial Account Year</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="accountName"><span>Account</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let accountBalance of accountBalances ;trackBy: trackId">
                <td><a [routerLink]="['/account-balance', accountBalance.id, 'view' ]">{{accountBalance.id}}</a></td>
                <td>{{accountBalance.yearOpenBalance}}</td>
                <td>{{accountBalance.yearOpenBalanceType}}</td>
                <td>{{accountBalance.totDebitTrans}}</td>
                <td>{{accountBalance.totCreditTrans}}</td>
                <td>{{accountBalance.modifiedOn | date:'mediumDate'}}</td>
                <td>{{accountBalance.modifiedBy}}</td>
                <td>
                    <div *ngIf="accountBalance.financialAccountYearId">
                        <a [routerLink]="['../financial-account-year', accountBalance.financialAccountYearId , 'view' ]" >{{accountBalance.financialAccountYearDurationStr}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="accountBalance.accountId">
                        <a [routerLink]="['../mst-account', accountBalance.accountId , 'view' ]" >{{accountBalance.accountName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/account-balance', accountBalance.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/account-balance', accountBalance.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'account-balance', { outlets: { popup: accountBalance.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Pager is not implemented yet, so this is normal pagination instead -->
    <div *ngIf="accountBalances && accountBalances.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
