<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-system-group-map-heading">Create or edit a System Group Map</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!systemGroupMap.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="systemGroupMap.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_groupType">Group Type</label>
                    <select class="form-control" name="groupType" [(ngModel)]="systemGroupMap.groupType" id="field_groupType" >
                        <option value="ASSETS">ASSETS</option>
                        <option value="LIABILITIES">LIABILITIES</option>
                        <option value="INCOME">INCOME</option>
                        <option value="EXPENSES">EXPENSES</option>
                        <option value="BANK_ACCOUNTS">BANK_ACCOUNTS</option>
                        <option value="CASH_IN_HAND">CASH_IN_HAND</option>
                        <option value="SUNDRY_DEBTOR">SUNDRY_DEBTOR</option>
                        <option value="SUNDRY_CREDITOR">SUNDRY_CREDITOR</option>
                        <option value="CURRENT_LIABILITIES">CURRENT_LIABILITIES</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_modifiedBy">Modified By</label>
                    <input type="text" class="form-control" name="modifiedBy" id="field_modifiedBy"
                        [(ngModel)]="systemGroupMap.modifiedBy" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_modifiedOn">Modified On</label>
                    <div class="input-group">
                        <input id="field_modifiedOn" type="text" class="form-control" name="modifiedOn" ngbDatepicker  #modifiedOnDp="ngbDatepicker" [(ngModel)]="systemGroupMap.modifiedOn"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="modifiedOnDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_group">Group</label>
                    <select class="form-control" id="field_group" name="group" [(ngModel)]="systemGroupMap.groupId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="mstGroupOption.id" *ngFor="let mstGroupOption of mstgroups; trackBy: trackMstGroupById">{{mstGroupOption.name}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
