<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="stockInItem">
            <h2><span>Stock In Item</span> {{stockInItem.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Quantity</span></dt>
                <dd>
                    <span>{{stockInItem.quantity}}</span>
                </dd>
                <dt><span>Unit</span></dt>
                <dd>
                    <span>{{stockInItem.unit}}</span>
                </dd>
                <dt><span>Price</span></dt>
                <dd>
                    <span>{{stockInItem.price}}</span>
                </dd>
                <dt><span>Container Category</span></dt>
                <dd>
                    <span>{{stockInItem.containerCategory}}</span>
                </dd>
                <dt><span>Container Tracking Id</span></dt>
                <dd>
                    <span>{{stockInItem.containerTrackingId}}</span>
                </dd>
                <dt><span>Mfg Date</span></dt>
                <dd>
                    <span>{{stockInItem.mfgDate}}</span>
                </dd>
                <dt><span>Expiry Date</span></dt>
                <dd>
                    <span>{{stockInItem.expiryDate}}</span>
                </dd>
                <dt><span>Type Of Product</span></dt>
                <dd>
                    <span>{{stockInItem.typeOfProduct}}</span>
                </dd>
                <dt><span>Stock In By</span></dt>
                <dd>
                    <span>{{stockInItem.stockInBy}}</span>
                </dd>
                <dt><span>Stock In Date</span></dt>
                <dd>
                    <span>{{stockInItem.stockInDate}}</span>
                </dd>
                <dt><span>Remarks</span></dt>
                <dd>
                    <span>{{stockInItem.remarks}}</span>
                </dd>
                <dt><span>Product Categories</span></dt>
                <dd>
                    <div *ngIf="stockInItem.productCategoriesId">
                        <a [routerLink]="['/product-category', stockInItem.productCategoriesId, 'view']">{{stockInItem.productCategoriesName}}</a>
                    </div>
                </dd>
                <dt><span>Products</span></dt>
                <dd>
                    <div *ngIf="stockInItem.productsId">
                        <a [routerLink]="['/product', stockInItem.productsId, 'view']">{{stockInItem.productsName}}</a>
                    </div>
                </dd>
                <dt><span>Inventory Locations</span></dt>
                <dd>
                    <div *ngIf="stockInItem.inventoryLocationsId">
                        <a [routerLink]="['/inventory-location', stockInItem.inventoryLocationsId, 'view']">{{stockInItem.inventoryLocationsName}}</a>
                    </div>
                </dd>
                <dt><span>Inventory Sub Locations</span></dt>
                <dd>
                    <div *ngIf="stockInItem.inventorySubLocationsId">
                        <a [routerLink]="['/inventory-sub-location', stockInItem.inventorySubLocationsId, 'view']">{{stockInItem.inventorySubLocationsName}}</a>
                    </div>
                </dd>
                <dt><span>Vendor</span></dt>
                <dd>
                    <div *ngIf="stockInItem.vendorId">
                        <a [routerLink]="['/vendor', stockInItem.vendorId, 'view']">{{stockInItem.vendorCompanyName}}</a>
                    </div>
                </dd>
                <dt><span>Stock In Processes</span></dt>
                <dd>
                    <div *ngIf="stockInItem.stockInProcessesId">
                        <a [routerLink]="['/stock-in-process', stockInItem.stockInProcessesId, 'view']">{{stockInItem.stockInProcessesId}}</a>
                    </div>
                </dd>
                <dt><span>Requisitions</span></dt>
                <dd>
                    <div *ngIf="stockInItem.requisitionsId">
                        <a [routerLink]="['/requisition', stockInItem.requisitionsId, 'view']">{{stockInItem.requisitionsRequisitionNo}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/stock-in-item', stockInItem.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
