<div>
    <h2 id="page-heading">
        <span>Stock In Items</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-stock-in-item" [routerLink]="['/stock-in-item/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down" >
            Create new Stock In Item
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="stockInItems">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="quantity"><span>Quantity</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="unit"><span>Unit</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="price"><span>Price</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="containerCategory"><span>Container Category</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="containerTrackingId"><span>Container Tracking Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="mfgDate"><span>Mfg Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="expiryDate"><span>Expiry Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="typeOfProduct"><span>Type Of Product</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="stockInBy"><span>Stock In By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="stockInDate"><span>Stock In Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="remarks"><span>Remarks</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="productCategoriesName"><span>Product Categories</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="productsName"><span>Products</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="inventoryLocationsName"><span>Inventory Locations</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="inventorySubLocationsName"><span>Inventory Sub Locations</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="vendorCompanyName"><span>Vendor</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="stockInProcessesId"><span>Stock In Processes</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="requisitionsRequisitionNo"><span>Requisitions</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let stockInItem of stockInItems ;trackBy: trackId">
                <td><a [routerLink]="['/stock-in-item', stockInItem.id, 'view' ]">{{stockInItem.id}}</a></td>
                <td>{{stockInItem.quantity}}</td>
                <td>{{stockInItem.unit}}</td>
                <td>{{stockInItem.price}}</td>
                <td>{{stockInItem.containerCategory}}</td>
                <td>{{stockInItem.containerTrackingId}}</td>
                <td>{{stockInItem.mfgDate | date:'mediumDate'}}</td>
                <td>{{stockInItem.expiryDate | date:'mediumDate'}}</td>
                <td>{{stockInItem.typeOfProduct}}</td>
                <td>{{stockInItem.stockInBy}}</td>
                <td>{{stockInItem.stockInDate | date:'medium'}}</td>
                <td>{{stockInItem.remarks}}</td>
                <td>
                    <div *ngIf="stockInItem.productCategoriesId">
                        <a [routerLink]="['../product-category', stockInItem.productCategoriesId , 'view' ]" >{{stockInItem.productCategoriesName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="stockInItem.productsId">
                        <a [routerLink]="['../product', stockInItem.productsId , 'view' ]" >{{stockInItem.productsName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="stockInItem.inventoryLocationsId">
                        <a [routerLink]="['../inventory-location', stockInItem.inventoryLocationsId , 'view' ]" >{{stockInItem.inventoryLocationsName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="stockInItem.inventorySubLocationsId">
                        <a [routerLink]="['../inventory-sub-location', stockInItem.inventorySubLocationsId , 'view' ]" >{{stockInItem.inventorySubLocationsName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="stockInItem.vendorId">
                        <a [routerLink]="['../vendor', stockInItem.vendorId , 'view' ]" >{{stockInItem.vendorCompanyName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="stockInItem.stockInProcessesId">
                        <a [routerLink]="['../stock-in-process', stockInItem.stockInProcessesId , 'view' ]" >{{stockInItem.stockInProcessesId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="stockInItem.requisitionsId">
                        <a [routerLink]="['../requisition', stockInItem.requisitionsId , 'view' ]" >{{stockInItem.requisitionsRequisitionNo}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/stock-in-item', stockInItem.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/stock-in-item', stockInItem.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'stock-in-item', { outlets: { popup: stockInItem.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
