<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-stock-in-item-heading">Create or edit a Stock In Item</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!stockInItem.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="stockInItem.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_quantity">Quantity</label>
                    <input type="number" class="form-control" name="quantity" id="field_quantity"
                        [(ngModel)]="stockInItem.quantity" required/>
                    <div [hidden]="!(editForm.controls.quantity?.dirty && editForm.controls.quantity?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.quantity?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.quantity?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_unit">Unit</label>
                    <select class="form-control" name="unit" [(ngModel)]="stockInItem.unit" id="field_unit"  required>
                        <option value="PCS">PCS</option>
                        <option value="KG">KG</option>
                        <option value="TON">TON</option>
                        <option value="GRAM">GRAM</option>
                    </select>
                    <div [hidden]="!(editForm.controls.unit?.dirty && editForm.controls.unit?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.unit?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_price">Price</label>
                    <input type="number" class="form-control" name="price" id="field_price"
                        [(ngModel)]="stockInItem.price" required/>
                    <div [hidden]="!(editForm.controls.price?.dirty && editForm.controls.price?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.price?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.price?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_containerCategory">Container Category</label>
                    <select class="form-control" name="containerCategory" [(ngModel)]="stockInItem.containerCategory" id="field_containerCategory"  required>
                        <option value="BOTTLE">BOTTLE</option>
                        <option value="DRUM">DRUM</option>
                        <option value="PACKET">PACKET</option>
                        <option value="SACK">SACK</option>
                        <option value="OTHERS">OTHERS</option>
                    </select>
                    <div [hidden]="!(editForm.controls.containerCategory?.dirty && editForm.controls.containerCategory?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.containerCategory?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_containerTrackingId">Container Tracking Id</label>
                    <input type="text" class="form-control" name="containerTrackingId" id="field_containerTrackingId"
                        [(ngModel)]="stockInItem.containerTrackingId" required/>
                    <div [hidden]="!(editForm.controls.containerTrackingId?.dirty && editForm.controls.containerTrackingId?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.containerTrackingId?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_mfgDate">Mfg Date</label>
                    <div class="input-group">
                        <input id="field_mfgDate" type="text" class="form-control" name="mfgDate" ngbDatepicker  #mfgDateDp="ngbDatepicker" [(ngModel)]="stockInItem.mfgDate"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="mfgDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_expiryDate">Expiry Date</label>
                    <div class="input-group">
                        <input id="field_expiryDate" type="text" class="form-control" name="expiryDate" ngbDatepicker  #expiryDateDp="ngbDatepicker" [(ngModel)]="stockInItem.expiryDate"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="expiryDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_typeOfProduct">Type Of Product</label>
                    <select class="form-control" name="typeOfProduct" [(ngModel)]="stockInItem.typeOfProduct" id="field_typeOfProduct" >
                        <option value="FINISHED_PRODUCT">FINISHED_PRODUCT</option>
                        <option value="BY_PRODUCT">BY_PRODUCT</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_stockInBy">Stock In By</label>
                    <input type="text" class="form-control" name="stockInBy" id="field_stockInBy"
                        [(ngModel)]="stockInItem.stockInBy" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_stockInDate">Stock In Date</label>
                    <div class="d-flex">
                        <input id="field_stockInDate" type="datetime-local" class="form-control" name="stockInDate" [(ngModel)]="stockInDate" placeholder="YYYY-MM-DD HH:mm"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_remarks">Remarks</label>
                    <input type="text" class="form-control" name="remarks" id="field_remarks"
                        [(ngModel)]="stockInItem.remarks" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_productCategories">Product Categories</label>
                    <select class="form-control" id="field_productCategories" name="productCategories" [(ngModel)]="stockInItem.productCategoriesId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="productCategoryOption.id" *ngFor="let productCategoryOption of productcategories; trackBy: trackProductCategoryById">{{productCategoryOption.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_products">Products</label>
                    <select class="form-control" id="field_products" name="products" [(ngModel)]="stockInItem.productsId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="productOption.id" *ngFor="let productOption of products; trackBy: trackProductById">{{productOption.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_inventoryLocations">Inventory Locations</label>
                    <select class="form-control" id="field_inventoryLocations" name="inventoryLocations" [(ngModel)]="stockInItem.inventoryLocationsId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="inventoryLocationOption.id" *ngFor="let inventoryLocationOption of inventorylocations; trackBy: trackInventoryLocationById">{{inventoryLocationOption.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_inventorySubLocations">Inventory Sub Locations</label>
                    <select class="form-control" id="field_inventorySubLocations" name="inventorySubLocations" [(ngModel)]="stockInItem.inventorySubLocationsId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="inventorySubLocationOption.id" *ngFor="let inventorySubLocationOption of inventorysublocations; trackBy: trackInventorySubLocationById">{{inventorySubLocationOption.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_vendor">Vendor</label>
                    <select class="form-control" id="field_vendor" name="vendor" [(ngModel)]="stockInItem.vendorId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="vendorOption.id" *ngFor="let vendorOption of vendors; trackBy: trackVendorById">{{vendorOption.companyName}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_stockInProcesses">Stock In Processes</label>
                    <select class="form-control" id="field_stockInProcesses" name="stockInProcesses" [(ngModel)]="stockInItem.stockInProcessesId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="stockInProcessOption.id" *ngFor="let stockInProcessOption of stockinprocesses; trackBy: trackStockInProcessById">{{stockInProcessOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_requisitions">Requisitions</label>
                    <select class="form-control" id="field_requisitions" name="requisitions" [(ngModel)]="stockInItem.requisitionsId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="requisitionOption.id" *ngFor="let requisitionOption of requisitions; trackBy: trackRequisitionById">{{requisitionOption.requisitionNo}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
