<div class="row justify-content-center">
    <div class="col-12">
        <jhi-alert></jhi-alert>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-6">
        <h2 id="page-heading">Stock In Items</h2>
    </div>
    <div class="col-6">
        <form name="searchForm" class="form-inline">
            <div class="input-group w-100 mt-3">
                <!--<input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch"
                       name="currentSearch" placeholder="Query">
                <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                    <fa-icon [icon]="'search'"></fa-icon>
                </button>
                <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                    <fa-icon [icon]="'trash-alt'"></fa-icon>
                </button>
                <button id="jh-create-entity"
                        class="btn btn-primary float-right jh-create-entity create-stock-in-item"
                        [routerLink]="['/stock-in-item/new']">
                    <fa-icon [icon]="'plus'"></fa-icon>
                </button>-->
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <br/>
    </div>
</div>

<div class="row">

    <div class="col-2">
        <label class="form-control-label" for="field_itemCategories">Item Categories</label>
    </div>

    <div class="col-2">
        <label class="form-control-label" for="field_itemSubCategories">Item Sub Categories</label>
    </div>

    <div class="col-2">
        <label class="form-control-label" for="field_inventoryLocations">Inventory Locations</label>
    </div>

    <div class="col-2">
        <label class="form-control-label" for="field_inventorySubLocations">Inventory Sub Locations</label>
    </div>

    <div class="col-2">
        <label class="form-control-label" for="field_manufacturers">Manufacturers</label>
    </div>
</div>

<div class="row">

    <div class="col-2">
        <select class="form-control" id="field_itemCategories" name="itemCategories"
                [(ngModel)]="s_ItemCategoriesId"
                (ngModelChange)="getItemSubCategories()">
            <option [ngValue]="null">Select Item Category</option>
            <option [ngValue]="itemCategoryOption.id"
                    *ngFor="let itemCategoryOption of itemcategories; trackBy: trackItemCategoryById">{{itemCategoryOption.name}}</option>
        </select>
    </div>

    <div class="col-2">
        <select class="form-control" id="field_itemSubCategories" name="itemSubCategories"
                [(ngModel)]="s_ItemSubCategoriesId">
            <option [ngValue]="null">Select Item Sub Category</option>
            <option [ngValue]="itemSubCategoryOption.id"
                    *ngFor="let itemSubCategoryOption of itemsubcategories; trackBy: trackItemSubCategoryById">{{itemSubCategoryOption.name}}</option>
        </select>
    </div>

    <div class="col-2">
        <select class="form-control" id="field_inventoryLocations" name="inventoryLocations"
                [(ngModel)]="s_InventoryLocationsId" (ngModelChange)="getInventorySubLocation()">
            <option [ngValue]="null">Select Inventory Location</option>
            <option [ngValue]="inventoryLocationOption.id"
                    *ngFor="let inventoryLocationOption of inventorylocations; trackBy: trackInventoryLocationById">{{inventoryLocationOption.name}}</option>
        </select>
    </div>

    <div class="col-2">
        <select class="form-control" id="field_inventorySubLocations" name="inventorySubLocations"
                [(ngModel)]="s_InventorySubLocationsId">
            <option [ngValue]="null">Select Inventory Sub Location</option>
            <option [ngValue]="inventorySubLocationOption.id"
                    *ngFor="let inventorySubLocationOption of inventorysublocations; trackBy: trackInventorySubLocationById">{{inventorySubLocationOption.name}}</option>
        </select>
    </div>

    <div class="col-2">
        <select class="form-control" id="field_manufacturers" name="manufacturers"
                [(ngModel)]="s_ManufacturersId">
            <option [ngValue]="null">Select Manufacturer</option>
            <option [ngValue]="manufacturerOption.id"
                    *ngFor="let manufacturerOption of manufacturers; trackBy: trackManufacturerById">{{manufacturerOption.name}}</option>
        </select>
    </div>

    <div class="col-2">
        <button class="btn btn-info" (click)="search()">
            <fa-icon [icon]="'search'"></fa-icon>
        </button>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-12 ">
        <br/>

        <div class="table-responsive" *ngIf="stockInItems">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th><span>ID</span>
                    </th>
                    <th><span>Item Categories</span>
                    </th>
                    <th><span>Item Sub Categories</span>
                    </th>
                    <th><span>Inventory Locations</span>
                    </th>
                    <th><span>Inventory Sub Locations</span>
                    </th>
                    <th><span>Quantity</span>
                    </th>
                    <th><span>Unit</span>
                    </th>
                    <th><span>Price</span>
                    </th>
                    <th><span>Container Category</span>
                    </th>
                    <th><span>Container Tracking Id</span>
                    </th>
                    <th><span>Expiry Date</span>
                    </th>
                    <!--<th jhiSortBy="stockInBy"><span>Stock In By</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>-->
                    <th><span>Stock In Date</span>
                    </th>
                    <th><span>Purchase Order Id</span>
                    </th>
                    <!--<th jhiSortBy="remarks"><span>Remarks</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>-->
                    <!--<th jhiSortBy="manufacturersName"><span>Manufacturers</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="stockInProcessesId"><span>Stock In Processes</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>-->
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let stockInItem of stockInItems ;trackBy: trackId">
                    <td><a [routerLink]="['/stock-in-item', stockInItem.id, 'view' ]">{{stockInItem.id}}</a></td>
                    <td>
                        <div *ngIf="stockInItem.itemCategoriesId">
                            <a [routerLink]="['../item-category', stockInItem.itemCategoriesId , 'view' ]">{{stockInItem.itemCategoriesName}}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="stockInItem.itemSubCategoriesId">
                            <a [routerLink]="['../item-sub-category', stockInItem.itemSubCategoriesId , 'view' ]">{{stockInItem.itemSubCategoriesName}}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="stockInItem.inventoryLocationsId">
                            <a [routerLink]="['../inventory-location', stockInItem.inventoryLocationsId , 'view' ]">{{stockInItem.inventoryLocationsName}}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="stockInItem.inventorySubLocationsId">
                            <a [routerLink]="['../inventory-sub-location', stockInItem.inventorySubLocationsId , 'view' ]">{{stockInItem.inventorySubLocationsName}}</a>
                        </div>
                    </td>
                    <td>{{stockInItem.quantity}}</td>
                    <td>{{stockInItem.unit}}</td>
                    <td>{{stockInItem.price}}</td>
                    <td>{{stockInItem.containerCategory}}</td>
                    <td>{{stockInItem.containerTrackingId}}</td>
                    <td>{{stockInItem.expiryDate | date:'mediumDate'}}</td>
                    <!--<td>{{stockInItem.stockInBy}}</td>-->
                    <td>{{stockInItem.stockInDate | date:'medium'}}</td>
                    <td>{{stockInItem.purchaseOrderId}}</td>
                    <!--<td>{{stockInItem.remarks}}</td>-->
                    <!--<td>
                        <div *ngIf="stockInItem.manufacturersId">
                            <a [routerLink]="['../manufacturer', stockInItem.manufacturersId , 'view' ]">{{stockInItem.manufacturersName}}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="stockInItem.stockInProcessesId">
                            <a [routerLink]="['../stock-in-process', stockInItem.stockInProcessesId , 'view' ]">{{stockInItem.stockInProcessesId}}</a>
                        </div>
                    </td>-->
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    [routerLink]="['/stock-in-item', stockInItem.id, 'view' ]"
                                    class="btn btn-info btn-sm">
                                <fa-icon [icon]="'eye'"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>
                            <!--<button type="submit"
                                    [routerLink]="['/stock-in-item', stockInItem.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>
                            <button type="submit"
                                    [routerLink]="['/', 'stock-in-item', { outlets: { popup: stockInItem.id + '/delete'} }]"
                                    replaceUrl="true"
                                    queryParamsHandling="merge"
                                    class="btn btn-danger btn-sm">
                                <fa-icon [icon]="'times'"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>-->
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
