<div class="row justify-content-center">
    <div class="col-4" *ngIf="requisitionDetails.requisitionId">
        <h2>Requisition</h2>
        <dl class="row-md  jh-entity-details">
            <dt><span>Requisition No</span></dt>
            <dd>
                <span>{{requisition.requisitionNo}}</span>
            </dd>
            <dt><span>Date</span></dt>
            <dd>
                <span>{{requisition.requisitionDate | date: 'mediumDate'}}</span>
            </dd>
            <dt><span>Department</span></dt>
            <dd>
                <span>{{requisition.departmentName}}</span>
            </dd>
            <dt><span>Office</span></dt>
            <dd>
                <span>{{requisition.officeName}}</span>
            </dd>
        </dl>
    </div>
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-requisition-details-heading">Create or edit a Requisition Details</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
               <div class="row">
                   <div class="form-group col-md-6">
                       <label class="form-control-label" for="field_requiredOn">Required On</label>
                       <div class="input-group">
                           <input id="field_requiredOn" type="text" class="form-control" name="requiredOn" ngbDatepicker  #requiredOnDp="ngbDatepicker" [(ngModel)]="requisitionDetails.requiredOn"
                           />
                           <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="requiredOnDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                       </div>
                   </div>
                   <div class="form-group col-md-6">
                       <label class="form-control-label" for="field_estimatedDate">Estimated Date</label>
                       <div class="input-group">
                           <input id="field_estimatedDate" type="text" class="form-control" name="estimatedDate" ngbDatepicker  #estimatedDateDp="ngbDatepicker" [(ngModel)]="requisitionDetails.estimatedDate"
                           />
                           <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="estimatedDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                       </div>
                   </div>
                   <div class="form-group col-md-6">
                       <label class="form-control-label" for="field_product">Product</label>
                       <select class="form-control" id="field_product" name="product" [(ngModel)]="requisitionDetails.productId" >
                           <option [ngValue]="null"></option>
                           <option [ngValue]="productOption.id" *ngFor="let productOption of products; trackBy: trackProductById">{{productOption.name}}</option>
                       </select>
                   </div>
                   <div class="form-group col-md-6">
                       <label class="form-control-label" for="field_uom">Uom</label>
                       <select class="form-control" name="uom" [(ngModel)]="requisitionDetails.uom" id="field_uom" >
                           <option value="PCS">PCS</option>
                           <option value="KG">KG</option>
                           <option value="TON">TON</option>
                           <option value="GRAM">GRAM</option>
                       </select>
                   </div>
                   <div class="form-group col-md-6">
                       <label class="form-control-label" for="field_unit">Unit</label>
                       <input type="number" class="form-control" name="unit" id="field_unit"
                              [(ngModel)]="requisitionDetails.unit" (input)="calculateQuantity()"/>
                   </div>
                   <div class="form-group col-md-6">
                       <label class="form-control-label" for="field_unitPrice">Unit Price</label>
                       <input type="number" class="form-control" name="unitPrice" id="field_unitPrice" (input)="calculateQuantity()"
                              [(ngModel)]="requisitionDetails.unitPrice" />
                   </div>
                   <div class="form-group col-md-6">
                       <label class="form-control-label" for="field_quantity">Quantity</label>
                       <input type="number" class="form-control" name="quantity" id="field_quantity"
                              [(ngModel)]="requisitionDetails.quantity" />
                   </div>
               </div>

               <!-- <div class="form-group">
                    <label class="form-control-label" for="field_modifiedBy">Modified By</label>
                    <input type="text" class="form-control" name="modifiedBy" id="field_modifiedBy"
                        [(ngModel)]="requisitionDetails.modifiedBy" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_modifiedOn">Modified On</label>
                    <div class="input-group">
                        <input id="field_modifiedOn" type="text" class="form-control" name="modifiedOn" ngbDatepicker  #modifiedOnDp="ngbDatepicker" [(ngModel)]="requisitionDetails.modifiedOn"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="modifiedOnDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>-->

               <!-- <div class="form-group">
                    <label class="form-control-label" for="field_requisition">Requisition</label>
                    <select class="form-control" id="field_requisition" name="requisition" [(ngModel)]="requisitionDetails.requisitionId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="requisitionOption.id" *ngFor="let requisitionOption of requisitions; trackBy: trackRequisitionById">{{requisitionOption.requisitionNo}}</option>
                    </select>
                </div>-->

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
