<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="supplyOrder">
            <h2><span>Order</span> {{supplyOrder.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Order No</span></dt>
                <dd>
                    <span>{{supplyOrder.orderNo}}</span>
                </dd>
                <dt><span>Date Of Order</span></dt>
                <dd>
                    <span>{{supplyOrder.dateOfOrder}}</span>
                </dd>
                <dt><span>Created By</span></dt>
                <dd>
                    <span>{{supplyOrder.createdBy}}</span>
                </dd>
                <dt><span>Created On</span></dt>
                <dd>
                    <span>{{supplyOrder.createdOn}}</span>
                </dd>
                <dt><span>Updated By</span></dt>
                <dd>
                    <span>{{supplyOrder.updatedBy}}</span>
                </dd>
                <dt><span>Updated On</span></dt>
                <dd>
                    <span>{{supplyOrder.updatedOn}}</span>
                </dd>
                <dt><span>Delivery Date</span></dt>
                <dd>
                    <span>{{supplyOrder.deliveryDate}}</span>
                </dd>
                <dt><span>Order Status</span></dt>
                <dd>
                    <span>{{supplyOrder.status}}</span>
                </dd>
                <dt><span>Zone</span></dt>
                <dd>
                    <div *ngIf="supplyOrder.supplyZoneId">
                        <a [routerLink]="['/supply-zone', supplyOrder.supplyZoneId, 'view']">{{supplyOrder.supplyZoneName}}</a>
                    </div>
                </dd>
                <dt><span>Area</span></dt>
                <dd>
                    <div *ngIf="supplyOrder.supplyAreaId">
                        <a [routerLink]="['/supply-area', supplyOrder.supplyAreaId, 'view']">{{supplyOrder.supplyAreaName}}</a>
                    </div>
                </dd>
                <dt><span>Area Manager</span></dt>
                <dd>
                    <div *ngIf="supplyOrder.supplyAreaManagerId">
                        <a [routerLink]="['/supply-area-manager', supplyOrder.supplyAreaManagerId, 'view']">{{supplyOrder.supplyAreaManagerId}}</a>
                    </div>
                </dd>
                <dt><span>Sales Representative</span></dt>
                <dd>
                    <div *ngIf="supplyOrder.supplySalesRepresentativeId">
                        <a [routerLink]="['/supply-sales-representative', supplyOrder.supplySalesRepresentativeId, 'view']">{{supplyOrder.supplySalesRepresentativeName}}</a>
                    </div>
                </dd>
                <dt><span>Supply Shop</span></dt>
                <dd>
                    <div *ngIf="supplyOrder.supplyShopId">
                        <a [routerLink]="['/supply-shop', supplyOrder.supplyShopId, 'view']">{{supplyOrder.supplyShopName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>
        </div>
    </div>
</div>
