<div class="row ">
    <div class="col-12">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-supply-order-heading">Create or edit an Order</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="row">
                    <div class="col-3">
                        <div class="form-group" [hidden]="!supplyOrder.id">
                            <label for="id">ID</label>
                            <input type="text" class="form-control" id="id" name="id"
                                   [(ngModel)]="supplyOrder.id" readonly/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <div class="form-group">
                            <label class="form-control-label" for="field_supplyZone">Zone</label>
                            <select class="form-control" id="field_supplyZone" name="supplyZone"
                                    [(ngModel)]="supplyOrder.supplyZoneId" (ngModelChange)="filterZoneManager()"
                                    required>
                                <option [ngValue]="null"></option>
                                <option [ngValue]="supplyZoneOption.id"
                                        *ngFor="let supplyZoneOption of supplyzones; trackBy: trackSupplyZoneById">{{supplyZoneOption.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label class="form-control-label" for="field_supplyZoneManager">Zone Manager</label>
                            <select class="form-control" id="field_supplyZoneManager" name="supplyZoneManager"
                                    [(ngModel)]="supplyOrder.supplyZoneManagerId" (ngModelChange)="filterAreaManager()"
                                    required>
                                <option *ngIf="!editForm.value.supplyZoneManager" [ngValue]="null" selected></option>
                                <option [ngValue]="supplyZoneManagerOption.id"
                                        *ngFor="let supplyZoneManagerOption of supplyzonemanagers; trackBy: trackSupplyZoneManagerById">{{supplyZoneManagerOption.employeeFullName}}</option>
                            </select>
                        </div>
                        <div
                            [hidden]="!(editForm.controls.supplyZoneManager?.dirty && editForm.controls.supplyZoneManager?.invalid)">
                            <small class="form-text text-danger"
                                   [hidden]="!editForm.controls.supplyZoneManager?.errors?.required">
                                This field is required.
                            </small>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label class="form-control-label" for="field_supplyArea">Area</label>
                            <select class="form-control" id="field_supplyArea" name="supplyArea"
                                    [(ngModel)]="supplyOrder.supplyAreaId" (ngModelChange)="filterAreaManager()"
                                    required>
                                <option [ngValue]="null"></option>
                                <option [ngValue]="supplyAreaOption.id"
                                        *ngFor="let supplyAreaOption of supplyareas; trackBy: trackSupplyAreaById">{{supplyAreaOption.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label class="form-control-label" for="field_supplyAreaManager">Area Manager</label>
                            <select class="form-control" id="field_supplyAreaManager" name="supplyAreaManager"
                                    [(ngModel)]="supplyOrder.supplyAreaManagerId"
                                    (ngModelChange)="filterSalesRepresentative()" required>
                                <option [ngValue]="null"></option>
                                <option [ngValue]="supplyAreaManagerOption.id"
                                        *ngFor="let supplyAreaManagerOption of supplyareamanagers; trackBy: trackSupplyAreaManagerById">{{supplyAreaManagerOption.employeeFullName}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <div class="form-group">
                            <label class="form-control-label" for="field_supplySalesRepresentative">Sales
                                Representative</label>
                            <select class="form-control" id="field_supplySalesRepresentative"
                                    name="supplySalesRepresentative"
                                    [(ngModel)]="supplyOrder.supplySalesRepresentativeId"
                                    (ngModelChange)="filterShop()"
                                    required>
                                <option [ngValue]="null"></option>
                                <option [ngValue]="supplySalesRepresentativeOption.id"
                                        *ngFor="let supplySalesRepresentativeOption of supplysalesrepresentatives; trackBy: trackSupplySalesRepresentativeById">{{supplySalesRepresentativeOption.name}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="form-group">
                            <label class="form-control-label" for="field_supplyShop">Supply Shop</label>
                            <select class="form-control" id="field_supplyShop" name="supplyShop"
                                    [(ngModel)]="supplyOrder.supplyShopId" required>
                                <option *ngIf="!editForm.value.supplyShop" [ngValue]="null" selected></option>
                                <option [ngValue]="supplyShopOption.id"
                                        *ngFor="let supplyShopOption of supplyshops; trackBy: trackSupplyShopById">{{supplyShopOption.name}}</option>
                            </select>
                        </div>
                        <div [hidden]="!(editForm.controls.supplyShop?.dirty && editForm.controls.supplyShop?.invalid)">
                            <small class="form-text text-danger"
                                   [hidden]="!editForm.controls.supplyShop?.errors?.required">
                                This field is required.
                            </small>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-3">
                        <div class="form-group">
                            <label class="form-control-label" for="field_orderNo">Order No</label>
                            <input type="text" class="form-control" name="orderNo" id="field_orderNo"
                                   [(ngModel)]="supplyOrder.orderNo" readOnly required/>
                            <div
                                [hidden]="!(editForm.controls.orderNo?.dirty && editForm.controls.orderNo?.invalid)">
                                <small class="form-text text-danger"
                                       [hidden]="!editForm.controls.orderNo?.errors?.required">
                                    This field is required.
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label class="form-control-label" for="field_dateOfOrder">Date Of Order</label>
                            <div class="input-group">
                                <input id="field_dateOfOrder" type="text" class="form-control" name="dateOfOrder"
                                       ngbDatepicker
                                       #dateOfOrderDp="ngbDatepicker" [(ngModel)]="supplyOrder.dateOfOrder" required
                                />
                                <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateOfOrderDp.toggle()"><fa-icon
                                [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label class="form-control-label" for="field_deliveryDate">Delivery Date</label>
                            <div class="input-group">
                                <input id="field_deliveryDate" type="text" class="form-control" name="deliveryDate"
                                       ngbDatepicker
                                       #deliveryDateDp="ngbDatepicker" [(ngModel)]="supplyOrder.deliveryDate"
                                />
                                <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="deliveryDateDp.toggle()"><fa-icon
                                [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div>

                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving"
                        class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>

<div [hidden]="!supplyOrder.id">
    <hr>
    <div class="row" *ngIf="supplyOrderDetails.length > 0">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th><span>id</span></th>
                        <th><span>Products Category</span></th>
                        <th><span>Product</span></th>
                        <th><span>Quantity (in kg)</span></th>
                        <th><span>Price</span></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let supplyOrderDetail of supplyOrderDetails;">
                        <td>{{supplyOrderDetail.id}}</td>
                        <td>
                            <div
                                *ngIf="supplyOrderDetail.productCategoryName">{{supplyOrderDetail.productCategoryName}}
                            </div>
                        </td>
                        <td>
                            <div
                                *ngIf="supplyOrderDetail.productName">{{supplyOrderDetail.productName}}
                            </div>
                        </td>
                        <td>{{supplyOrderDetail.quantity}}</td>
                        <td>{{supplyOrderDetail.price}}</td>
                        <td width="20%">
                            <div class="btn-group flex-btn-group-container">
                                <button type="button"
                                        [routerLink]="['/supply-order-details', supplyOrderDetail.id, 'view' ]"
                                        class="btn btn-info btn-sm">
                                    <fa-icon [icon]="'eye'"></fa-icon>
                                    <span class="d-none d-md-inline">View</span>
                                </button>
                                <button type="button"
                                        [routerLink]="['/supply-order-details', supplyOrderDetail.id, 'edit']"
                                        class="btn btn-primary btn-sm">
                                    <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                    <span class="d-none d-md-inline">Edit</span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div [hidden]="!supplyOrder.id">
    <div class="row">
        <div class="col-12">
            <button id="jh-create-entity"
                    class="btn btn-primary float-right jh-create-entity create-supply-order-details"
                    [routerLink]="['/supply-order-details', supplyOrder.id, 'new']">
                <fa-icon [icon]="'plus'"></fa-icon>
                <span class="hidden-sm-down">
            Add Products
            </span>
            </button>
        </div>
    </div>
</div>
