<style>
    .wrapper {
        display: flex;
        width: 100%;
        align-items: stretch;
    }
    #sidebar {
        min-width: 250px;
        max-width: 250px;
        min-height: 100vh;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        overflow-x: hidden;
        padding-top: 50px;
    }

    .main{
        margin-left: 250px;
    }

    #sidebar.active {
        margin-left: -250px;
    }

    a[data-toggle="collapse"] {
        position: relative;
    }

    .dropdown-toggle::after {
        display: block;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }


    @media (max-width: 768px) {
        #sidebar {
            margin-left: -250px;
        }
        #sidebar.active {
            margin-left: 0;
        }
    }


    @import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


    body {
        font-family: 'Poppins', sans-serif;
        background: #444444;
    }

    p {
        font-family: 'Poppins', sans-serif;
        font-size: 1.1em;
        font-weight: 300;
        line-height: 1.7em;
        color: #999;
    }

    a, a:hover, a:focus {
        color: inherit;
        text-decoration: none;
        transition: all 0.3s;
    }

    #sidebar {
        /* don't forget to add all the previously mentioned styles here too */
        background: #444444;
        color: #fff;
        transition: all 0.3s;
    }

    #sidebar .sidebar-header {
        padding: 20px;
        background: #444444;
    }

    #sidebar ul.components {
        padding: 20px 0;
        border-bottom: 1px solid #47748b;
    }

    #sidebar ul p {
        color: #fff;
        padding: 10px;
    }

    #sidebar ul li a {
        padding: 10px;
        font-size: 1.1em;
        display: block;
    }
    #sidebar ul li a:hover {
        color: #7386D5;
        background: #fff;
    }

    #sidebar ul li.active > a, a[aria-expanded="true"] {
        color: #fff;
        background: #444444;
    }
    ul ul a {
        font-size: 0.9em !important;
        padding-left: 30px !important;
        background: #444444;
    }
</style>
<jhi-page-ribbon></jhi-page-ribbon>
<div>
    <router-outlet name="navbar"></router-outlet>
</div>
<div class="wrapper" [ngSwitch]="isAuthenticated()">
    <nav id="sidebar" *ngSwitchCase="true" >
        <ul class="list-unstyled components">

           <!-- <p>Dummy Heading</p>-->
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *jhiHasAnyAuthority="'ROLE_ADMIN'">
                <a (click)="configuration=!configuration" data-toggle="collapse"  class="dropdown-toggle" [attr.aria-expanded]="false">
                     <span>
                        <fa-icon icon="cog"></fa-icon>
                        <span>
                            Configurations
                        </span>
                    </span>
                </a>
                <ul [ngbCollapse]="!configuration" class="list-unstyled" id="homeSubmenu">
                    <li>
                        <a class="dropdown-item" routerLink="department" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" >
                            <fa-icon icon="id-card" fixedWidth="true"></fa-icon>
                            <span>Department</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="designation" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" >
                            <fa-icon icon="chess" fixedWidth="true"></fa-icon>
                            <span>Designation</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="office" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" >
                            <fa-icon icon="building" fixedWidth="true"></fa-icon>
                            <span>Office</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *jhiHasAnyAuthority="['ROLE_EMPLOYEE_MANAGEMENT', 'ROLE_ADMIN']">
                <a (click)="employeeManagement=!employeeManagement" data-toggle="collapse"  class="dropdown-toggle" [attr.aria-expanded]="false">
                     <span>
                        <fa-icon icon="user-cog"></fa-icon>
                        <span>
                            Employee Manag.
                        </span>
                    </span>
                </a>
                <ul [ngbCollapse]="!employeeManagement" class="list-unstyled" id="employee-management">
                    <li>
                        <a class="dropdown-item" routerLink="employee" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                            <fa-icon icon="user-edit" fixedWidth="true"></fa-icon>
                            <span>Employee</span>
                        </a>
                    </li>

                </ul>
            </li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *jhiHasAnyAuthority="['ROLE_ADMIN']">
                <a (click)="holidayManagement=!holidayManagement" data-toggle="collapse"  class="dropdown-toggle" [attr.aria-expanded]="false">
                     <span>
                        <fa-icon icon="lights-holiday"></fa-icon>
                        <span>
                            Holiday Manag.
                        </span>
                    </span>
                </a>
                <ul [ngbCollapse]="!holidayManagement" class="list-unstyled" id="holiday-management">
                    <li>
                        <a class="dropdown-item" routerLink="holiday-type" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                            <fa-icon icon="fonticons-fi" fixedWidth="true"></fa-icon>
                            <span>Holiday Type</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="holiday" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                            <fa-icon icon="tree-palm" fixedWidth="true"></fa-icon>
                            <span>Holiday</span>
                        </a>
                    </li>
                </ul>
            </li>
           <!-- <li>
                <a href="#">About</a>
            </li>
            <li>
                <a [routerLink]="['./']" fragment="pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a href="#">Page 1</a>
                    </li>
                    <li>
                        <a href="#">Page 2</a>
                    </li>
                    <li>
                        <a href="#">Page 3</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Portfolio</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>-->
        </ul>
    </nav>
    <div class="container-fluid  main"  style="padding-top:70px;padding-bottom:30px;">
        <div class="card jh-card" >
            <router-outlet></router-outlet>
            <router-outlet name="popup"></router-outlet>
        </div>
        <jhi-footer></jhi-footer>
    </div>
</div>

