<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-requisition-voucher-relation-heading">Create or edit a Requisition Voucher Relation</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group">
                    <label class="form-control-label" for="field_voucherType">Voucher Type</label>
                    <select class="form-control" name="voucherType" [(ngModel)]="requisitionVoucherRelation.voucherType" id="field_voucherType" >
                        <option value="SELLING">SELLING</option>
                        <option value="BUYING">BUYING</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_voucherNo">Voucher No</label>
                    <input type="text" class="form-control" name="voucherNo" id="field_voucherNo"
                        [(ngModel)]="requisitionVoucherRelation.voucherNo" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_amount">Amount</label>
                    <input type="number" class="form-control" name="amount" id="field_amount"
                        [(ngModel)]="requisitionVoucherRelation.amount" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_requisition">Requisition</label>
                    <select class="form-control" id="field_requisition" name="requisition" [(ngModel)]="requisitionVoucherRelation.requisitionId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="requisitionOption.id" *ngFor="let requisitionOption of requisitions; trackBy: trackRequisitionById">{{requisitionOption.requisitionNo}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
