<div class="row justify-content-center">
    <div class="col-4">
        <div class="row">
            <div class="col-md-12">
                <h2>Purchase Order</h2>
            </div>
            <div class="col-md-12">
                <dl class="row-md jh-entity-details">
                    <dt><span>Purchase Order No</span></dt>
                </dl>
            </div>
        </div>
    </div>
    <div class="col-4">

        <ul>
            <li><button type="button" id="new_journal_vouchers" class="btn btn-link" (click)="createJournalVoucher()">Create Journal Voucher</button><br/></li>
            <li><button type="button" id="new_contra_vouchers" class="btn btn-link" [routerLink]="['/contra-voucher/new']">Create Contra Voucher</button><br/></li>
            <li><button type="button" id="new_receipt_vouchers" class="btn btn-link" [routerLink]="['/receipt-voucher/new']">Create Receipt Voucher</button><br/></li>
            <li><button type="button" id="new_payment_vouchers" class="btn btn-link" [routerLink]="['/payment-voucher/new']">Create Payment Voucher</button><br/></li>
        </ul>
    </div>
</div>
