<div>
    <h2 id="page-heading">
        <span>Vouchers</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-requisition-voucher-relation" [disabled]="disableEdit"  [routerLink]="['/requisition-voucher-relation', requisitionId,'new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down" >
            Add
            </span>
        </button>
    </h2>
    <br/>
    <div class="table-responsive" *ngIf="requisitionVoucherRelations">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="voucherNo"><span>Voucher No</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="amount"><span>Amount</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let requisitionVoucherRelation of requisitionVoucherRelations ;trackBy: trackId">
                <td><a (click)="goToVoucher(requisitionVoucherRelation.voucherNo)">{{requisitionVoucherRelation.voucherNo}}</a></td>
                <td>{{requisitionVoucherRelation.amount}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit" [disabled]="disableEdit"
                                [routerLink]="['/requisition-voucher-relation', requisitionVoucherRelation.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                        </button>
                        <button type="submit" [disabled]="disableEdit"
                                [routerLink]="['/requisition-voucher-relation', requisitionVoucherRelation.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                        </button>
                        <button type="submit" [disabled]="disableEdit"
                                [routerLink]="['/', 'requisition-voucher-relation', { outlets: { popup: requisitionVoucherRelation.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
