<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="purchaseOrderMessages">
            <h2><span>Purchase Order Messages</span> {{purchaseOrderMessages.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Comments</span></dt>
                <dd>
                    <span>{{purchaseOrderMessages.comments}}</span>
                </dd>
                <dt><span>Commented On</span></dt>
                <dd>
                    <span>{{purchaseOrderMessages.commentedOn}}</span>
                </dd>
                <dt><span>Commenter</span></dt>
                <dd>
                    <div *ngIf="purchaseOrderMessages.commenterId">
                        <a [routerLink]="['/employee', purchaseOrderMessages.commenterId, 'view']">{{purchaseOrderMessages.commenterFullName}}</a>
                    </div>
                </dd>
                <dt><span>Purchase Order</span></dt>
                <dd>
                    <div *ngIf="purchaseOrderMessages.purchaseOrderId">
                        <a [routerLink]="['/purchase-order', purchaseOrderMessages.purchaseOrderId, 'view']">{{purchaseOrderMessages.purchaseOrderId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/purchase-order-messages', purchaseOrderMessages.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
