<div>
    <h2 id="page-heading">
        <span>Purchase Orders</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-purchase-order" [routerLink]="['/purchase-order', purchaseOrder.requisitionId,'create']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down" >
            Add
            </span>
        </button>
    </h2>

    <br/>
    <div class="table-responsive" *ngIf="purchaseOrders">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="purchaseOrderNo"><span>Purchase Order No</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="issueDate"><span>Issue Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="status"><span>Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let purchaseOrder of purchaseOrders ;trackBy: trackId">
                <td>{{purchaseOrder.purchaseOrderNo}}</td>
                <td>{{purchaseOrder.issueDate | date:'mediumDate'}}</td>
                <td>{{purchaseOrder.status}}</td>

                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/purchase-order', purchaseOrder.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <span class="d-none d-md-inline">View</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Pager is not implemented yet, so this is normal pagination instead -->
    <div *ngIf="purchaseOrders && purchaseOrders.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
