<div class="row justify-content-center">
    <div class="col-12">
        <jhi-alert></jhi-alert>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-6">
        <h2 id="page-heading">Commercial Payment Infos</h2>
    </div>
    <div class="col-6">
        <form name="searchForm" class="form-inline">
            <div class="input-group w-100 mt-3">
                <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch"
                       name="currentSearch" placeholder="Search Commercial Payment">
                <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                    <fa-icon [icon]="'search'"></fa-icon>
                </button>
                <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                    <fa-icon [icon]="'trash-alt'"></fa-icon>
                </button>
                <!--<button id="jh-create-entity"
                        class="btn btn-primary float-right jh-create-entity create-commercial-payment-info"
                        [routerLink]="['/commercial-payment-info/new']">
                    <fa-icon [icon]="'plus'"></fa-icon>
                </button>-->
            </div>
        </form>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-12 ">
        <br/>

        <div class="table-responsive" *ngIf="commercialPaymentInfos">
            <table class="table table-striped">
                <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
                    <th jhiSortBy="id"><span>ID</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="commercialPiProformaNo"><span>Commercial Pi</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="paymentType"><span>Payment Type</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="totalAmountToPay"><span>Total Amount To Pay</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="totalAmountPaid"><span>Total Amount Paid</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="remainingAmountToPay"><span>Remaining Amount To Pay</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="paymentStatus"><span>Payment Status</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <!--<th jhiSortBy="createdOn"><span>Created On</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="createdBy"><span>Created By</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="updatedOn"><span>Updated On</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="updatedBy"><span>Updated By</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>-->
                    <th></th>
                </tr>
                </thead>
                <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']"
                       [infiniteScrollDistance]="0">
                <tr *ngFor="let commercialPaymentInfo of commercialPaymentInfos ;trackBy: trackId">
                    <td><a
                        [routerLink]="['/commercial-payment-info', commercialPaymentInfo.id, 'view' ]">{{commercialPaymentInfo.id}}</a>
                    </td>
                    <td>
                        <div *ngIf="commercialPaymentInfo.commercialPiId">
                            <a [routerLink]="['../commercial-pi', commercialPaymentInfo.commercialPiId , 'view' ]">{{commercialPaymentInfo.commercialPiProformaNo}}</a>
                        </div>
                    </td>
                    <td>{{commercialPaymentInfo.paymentType}}</td>
                    <td>{{commercialPaymentInfo.totalAmountToPay}}</td>
                    <td>{{commercialPaymentInfo.totalAmountPaid}}</td>
                    <td>{{commercialPaymentInfo.remainingAmountToPay}}</td>
                    <td>{{commercialPaymentInfo.paymentStatus}}</td>
                    <!--<td>{{commercialPaymentInfo.createdOn | date:'medium'}}</td>
                    <td>{{commercialPaymentInfo.createdBy}}</td>
                    <td>{{commercialPaymentInfo.updatedOn | date:'medium'}}</td>
                    <td>{{commercialPaymentInfo.updatedBy}}</td>-->

                    <td class="text-right" width="20%">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    [routerLink]="['/commercial-payment-info', commercialPaymentInfo.id, 'view' ]"
                                    class="btn btn-info btn-sm">
                                <fa-icon [icon]="'eye'"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>
                            <button type="submit"
                                    [routerLink]="['/commercial-payment-info', commercialPaymentInfo.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>
                            <!--<button type="submit"
                                    [routerLink]="['/', 'commercial-payment-info', { outlets: { popup: commercialPaymentInfo.id + '/delete'} }]"
                                    replaceUrl="true"
                                    queryParamsHandling="merge"
                                    class="btn btn-danger btn-sm">
                                <fa-icon [icon]="'times'"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>-->
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
