<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="journalVoucher">
            <h2><span>Journal Voucher</span> {{journalVoucher.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Voucher No</span></dt>
                <dd>
                    <span>{{journalVoucher.voucherNo}}</span>
                </dd>
                <dt><span>Voucher Date</span></dt>
                <dd>
                    <span>{{journalVoucher.voucherDate}}</span>
                </dd>
                <dt><span>Post Date</span></dt>
                <dd>
                    <span>{{journalVoucher.postDate}}</span>
                </dd>
                <dt><span>Type</span></dt>
                <dd>
                    <span>{{journalVoucher.type}}</span>
                </dd>
                <dt><span>Conversion Factor</span></dt>
                <dd>
                    <span>{{journalVoucher.conversionFactor}}</span>
                </dd>
                <dt><span>Reference</span></dt>
                <dd>
                    <span>{{journalVoucher.reference}}</span>
                </dd>
                <dt><span>Application Type</span></dt>
                <dd>
                    <span>{{journalVoucher.applicationType}}</span>
                </dd>
                <dt><span>Application Id</span></dt>
                <dd>
                    <span>{{journalVoucher.applicationId}}</span>
                </dd>
                <dt><span>Reference Id</span></dt>
                <dd>
                    <span>{{journalVoucher.referenceId}}</span>
                </dd>
                <dt><span>Modified By</span></dt>
                <dd>
                    <span>{{journalVoucher.modifiedBy}}</span>
                </dd>
                <dt><span>Modified On</span></dt>
                <dd>
                    <span>{{journalVoucher.modifiedOn}}</span>
                </dd>
                <dt><span>Currency</span></dt>
                <dd>
                    <div *ngIf="journalVoucher.currencyId">
                        <a [routerLink]="['/currency', journalVoucher.currencyId, 'view']">{{journalVoucher.currencyNotation}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/journal-voucher', journalVoucher.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
