<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="commercialWorkOrder">
            <h2><span>Commercial Work Order</span> {{commercialWorkOrder.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Ref No</span></dt>
                <dd>
                    <span>{{commercialWorkOrder.refNo}}</span>
                </dd>
                <dt><span>Work Order Date</span></dt>
                <dd>
                    <span>{{commercialWorkOrder.workOrderDate}}</span>
                </dd>
                <dt><span>Delivery Date</span></dt>
                <dd>
                    <span>{{commercialWorkOrder.deliveryDate}}</span>
                </dd>
                <dt><span>Remarks</span></dt>
                <dd>
                    <span>{{commercialWorkOrder.remarks}}</span>
                </dd>
                <dt><span>Created By</span></dt>
                <dd>
                    <span>{{commercialWorkOrder.createdBy}}</span>
                </dd>
                <dt><span>Create On</span></dt>
                <dd>
                    <span>{{commercialWorkOrder.createOn}}</span>
                </dd>
                <dt><span>Updated By</span></dt>
                <dd>
                    <span>{{commercialWorkOrder.updatedBy}}</span>
                </dd>
                <dt><span>Updated On</span></dt>
                <dd>
                    <span>{{commercialWorkOrder.updatedOn}}</span>
                </dd>
                <dt><span>Commercial Purchase Order</span></dt>
                <dd>
                    <div *ngIf="commercialWorkOrder.commercialPurchaseOrderId">
                        <a [routerLink]="['/commercial-purchase-order', commercialWorkOrder.commercialPurchaseOrderId, 'view']">{{commercialWorkOrder.commercialPurchaseOrderPurchaseOrderNo}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/commercial-work-order', commercialWorkOrder.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
