<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="commercialPaymentInfo">
            <h2><span>Commercial Payment Info</span> {{commercialPaymentInfo.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Payment Category</span></dt>
                <dd>
                    <span>{{commercialPaymentInfo.paymentCategory}}</span>
                </dd>
                <dt><span>Total Amount</span></dt>
                <dd>
                    <span>{{commercialPaymentInfo.totalAmount}}</span>
                </dd>
                <dt><span>Currency Type</span></dt>
                <dd>
                    <span>{{commercialPaymentInfo.currencyType}}</span>
                </dd>
                <dt><span>Payment Terms</span></dt>
                <dd>
                    <span>{{commercialPaymentInfo.paymentTerms}}</span>
                </dd>
                <dt><span>Created By</span></dt>
                <dd>
                    <span>{{commercialPaymentInfo.createdBy}}</span>
                </dd>
                <dt><span>Created On</span></dt>
                <dd>
                    <span>{{commercialPaymentInfo.createdOn}}</span>
                </dd>
                <dt><span>Updated By</span></dt>
                <dd>
                    <span>{{commercialPaymentInfo.updatedBy}}</span>
                </dd>
                <dt><span>Updated On</span></dt>
                <dd>
                    <span>{{commercialPaymentInfo.updatedOn}}</span>
                </dd>
                <dt><span>Commercial Purchase Order</span></dt>
                <dd>
                    <div *ngIf="commercialPaymentInfo.commercialPurchaseOrderId">
                        <a [routerLink]="['/commercial-purchase-order', commercialPaymentInfo.commercialPurchaseOrderId, 'view']">{{commercialPaymentInfo.commercialPurchaseOrderPurchaseOrderNo}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/commercial-payment-info', commercialPaymentInfo.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
