<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-commercial-payment-info-heading">Create or edit a Commercial Payment Info</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!commercialPaymentInfo.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="commercialPaymentInfo.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_paymentCategory">Payment Category</label>
                    <select class="form-control" name="paymentCategory" [(ngModel)]="commercialPaymentInfo.paymentCategory" id="field_paymentCategory"  required>
                        <option value="UNDEFINED">UNDEFINED</option>
                        <option value="TT_BASED">TT_BASED</option>
                        <option value="LC_BASED">LC_BASED</option>
                        <option value="CASH">CASH</option>
                        <option value="CHEQUE">CHEQUE</option>
                        <option value="PAY_ORDER">PAY_ORDER</option>
                    </select>
                    <div [hidden]="!(editForm.controls.paymentCategory?.dirty && editForm.controls.paymentCategory?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.paymentCategory?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_totalAmount">Total Amount</label>
                    <input type="number" class="form-control" name="totalAmount" id="field_totalAmount"
                        [(ngModel)]="commercialPaymentInfo.totalAmount" required/>
                    <div [hidden]="!(editForm.controls.totalAmount?.dirty && editForm.controls.totalAmount?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.totalAmount?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.totalAmount?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_currencyType">Currency Type</label>
                    <select class="form-control" name="currencyType" [(ngModel)]="commercialPaymentInfo.currencyType" id="field_currencyType"  required>
                        <option value="BDT">BDT</option>
                        <option value="US_DOLLAR">US_DOLLAR</option>
                    </select>
                    <div [hidden]="!(editForm.controls.currencyType?.dirty && editForm.controls.currencyType?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.currencyType?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_paymentTerms">Payment Terms</label>
                    <input type="text" class="form-control" name="paymentTerms" id="field_paymentTerms"
                        [(ngModel)]="commercialPaymentInfo.paymentTerms" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_createdBy">Created By</label>
                    <input type="text" class="form-control" name="createdBy" id="field_createdBy"
                        [(ngModel)]="commercialPaymentInfo.createdBy" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_createOn">Create On</label>
                    <div class="input-group">
                        <input id="field_createOn" type="text" class="form-control" name="createOn" ngbDatepicker  #createOnDp="ngbDatepicker" [(ngModel)]="commercialPaymentInfo.createOn"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="createOnDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_updatedBy">Updated By</label>
                    <input type="text" class="form-control" name="updatedBy" id="field_updatedBy"
                        [(ngModel)]="commercialPaymentInfo.updatedBy" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_updatedOn">Updated On</label>
                    <input type="text" class="form-control" name="updatedOn" id="field_updatedOn"
                        [(ngModel)]="commercialPaymentInfo.updatedOn" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_commercialPurchaseOrder">Commercial Purchase Order</label>
                    <select class="form-control" id="field_commercialPurchaseOrder" name="commercialPurchaseOrder" [(ngModel)]="commercialPaymentInfo.commercialPurchaseOrderId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="commercialPurchaseOrderOption.id" *ngFor="let commercialPurchaseOrderOption of commercialpurchaseorders; trackBy: trackCommercialPurchaseOrderById">{{commercialPurchaseOrderOption.purchaseOrderNo}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
