<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="commercialProductInfo">
            <h2><span>Commercial Product Info</span> {{commercialProductInfo.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Task No</span></dt>
                <dd>
                    <span>{{commercialProductInfo.taskNo}}</span>
                </dd>
                <dt><span>Product Specification</span></dt>
                <dd>
                    <span>{{commercialProductInfo.productSpecification}}</span>
                </dd>
                <dt><span>Sp Size</span></dt>
                <dd>
                    <span>{{commercialProductInfo.spSize}}</span>
                </dd>
                <dt><span>Offered Quantity</span></dt>
                <dd>
                    <span>{{commercialProductInfo.offeredQuantity}}</span>
                </dd>
                <dt><span>Offered Unit</span></dt>
                <dd>
                    <span>{{commercialProductInfo.offeredUnit}}</span>
                </dd>
                <dt><span>Offered Unit Price</span></dt>
                <dd>
                    <span>{{commercialProductInfo.offeredUnitPrice}}</span>
                </dd>
                <dt><span>Offered Total Price</span></dt>
                <dd>
                    <span>{{commercialProductInfo.offeredTotalPrice}}</span>
                </dd>
                <dt><span>Sp Sticker</span></dt>
                <dd>
                    <span>{{commercialProductInfo.spSticker}}</span>
                </dd>
                <dt><span>Sp Label</span></dt>
                <dd>
                    <span>{{commercialProductInfo.spLabel}}</span>
                </dd>
                <dt><span>Sp Qty In Pack</span></dt>
                <dd>
                    <span>{{commercialProductInfo.spQtyInPack}}</span>
                </dd>
                <dt><span>Sp Qty In Mc</span></dt>
                <dd>
                    <span>{{commercialProductInfo.spQtyInMc}}</span>
                </dd>
                <dt><span>Ip Color</span></dt>
                <dd>
                    <span>{{commercialProductInfo.ipColor}}</span>
                </dd>
                <dt><span>Ip Size</span></dt>
                <dd>
                    <span>{{commercialProductInfo.ipSize}}</span>
                </dd>
                <dt><span>Ip Sticker</span></dt>
                <dd>
                    <span>{{commercialProductInfo.ipSticker}}</span>
                </dd>
                <dt><span>Ip Label</span></dt>
                <dd>
                    <span>{{commercialProductInfo.ipLabel}}</span>
                </dd>
                <dt><span>Ip Qty In Mc</span></dt>
                <dd>
                    <span>{{commercialProductInfo.ipQtyInMc}}</span>
                </dd>
                <dt><span>Mc Color</span></dt>
                <dd>
                    <span>{{commercialProductInfo.mcColor}}</span>
                </dd>
                <dt><span>Mc Ply</span></dt>
                <dd>
                    <span>{{commercialProductInfo.mcPly}}</span>
                </dd>
                <dt><span>Mc Size</span></dt>
                <dd>
                    <span>{{commercialProductInfo.mcSize}}</span>
                </dd>
                <dt><span>Mc Sticker</span></dt>
                <dd>
                    <span>{{commercialProductInfo.mcSticker}}</span>
                </dd>
                <dt><span>Mc Label</span></dt>
                <dd>
                    <span>{{commercialProductInfo.mcLabel}}</span>
                </dd>
                <dt><span>Cyl Color</span></dt>
                <dd>
                    <span>{{commercialProductInfo.cylColor}}</span>
                </dd>
                <dt><span>Cyl Size</span></dt>
                <dd>
                    <span>{{commercialProductInfo.cylSize}}</span>
                </dd>
                <dt><span>Cyl Qty</span></dt>
                <dd>
                    <span>{{commercialProductInfo.cylQty}}</span>
                </dd>
                <dt><span>Buying Quantity</span></dt>
                <dd>
                    <span>{{commercialProductInfo.buyingQuantity}}</span>
                </dd>
                <dt><span>Buying Unit</span></dt>
                <dd>
                    <span>{{commercialProductInfo.buyingUnit}}</span>
                </dd>
                <dt><span>Buying Unit Price</span></dt>
                <dd>
                    <span>{{commercialProductInfo.buyingUnitPrice}}</span>
                </dd>
                <dt><span>Buying Total Price</span></dt>
                <dd>
                    <span>{{commercialProductInfo.buyingTotalPrice}}</span>
                </dd>
                <dt><span>Created By</span></dt>
                <dd>
                    <span>{{commercialProductInfo.createdBy}}</span>
                </dd>
                <dt><span>Created On</span></dt>
                <dd>
                    <span>{{commercialProductInfo.createdOn}}</span>
                </dd>
                <dt><span>Updated By</span></dt>
                <dd>
                    <span>{{commercialProductInfo.updatedBy}}</span>
                </dd>
                <dt><span>Updated On</span></dt>
                <dd>
                    <span>{{commercialProductInfo.updatedOn}}</span>
                </dd>
                <dt><span>Commercial Budget</span></dt>
                <dd>
                    <div *ngIf="commercialProductInfo.commercialBudgetId">
                        <a [routerLink]="['/commercial-budget', commercialProductInfo.commercialBudgetId, 'view']">{{commercialProductInfo.commercialBudgetBudgetNo}}</a>
                    </div>
                </dd>
                <dt><span>Product Categories</span></dt>
                <dd>
                    <div *ngIf="commercialProductInfo.productCategoriesId">
                        <a [routerLink]="['/product-category', commercialProductInfo.productCategoriesId, 'view']">{{commercialProductInfo.productCategoriesName}}</a>
                    </div>
                </dd>
                <dt><span>Products</span></dt>
                <dd>
                    <div *ngIf="commercialProductInfo.productsId">
                        <a [routerLink]="['/product', commercialProductInfo.productsId, 'view']">{{commercialProductInfo.productsName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <!--<button type="button"
                    [routerLink]="['/commercial-product-info', commercialProductInfo.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>-->
        </div>
    </div>
</div>
