<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-supply-zone-manager-heading">Create or edit a Zone Manager</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!supplyZoneManager.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                           [(ngModel)]="supplyZoneManager.id" readonly/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_supplyZone">Zone</label>
                    <select class="form-control" id="field_supplyZone" name="supplyZone" [(ngModel)]="supplyZoneManager.supplyZoneId"  required>
                        <option *ngIf="!editForm.value.supplyZone" [ngValue]="null" selected></option>
                        <option [ngValue]="supplyZoneOption.id" *ngFor="let supplyZoneOption of supplyzones; trackBy: trackSupplyZoneById">{{supplyZoneOption.name}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.supplyZone?.dirty && editForm.controls.supplyZone?.invalid)">
                    <small class="form-text text-danger"
                           [hidden]="!editForm.controls.supplyZone?.errors?.required">
                        This field is required.
                    </small>
                </div>
                <div [hidden]="!(editForm.controls.supplyZone?.dirty && editForm.controls.supplyZone?.invalid)">
                    <small class="form-text text-danger"
                           [hidden]="!editForm.controls.supplyZone?.errors?.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_employee">Employee</label>
                    <select class="form-control" id="field_employee" name="employee"
                            [(ngModel)]="supplyZoneManager.employeeId" required>
                        <option *ngIf="!editForm.value.employee" [ngValue]="null" selected></option>
                        <option [ngValue]="employeeOption.id"
                                *ngFor="let employeeOption of employees; trackBy: trackEmployeeById">{{employeeOption.fullName}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.employee?.dirty && editForm.controls.employee?.invalid)">
                    <small class="form-text text-danger"
                           [hidden]="!editForm.controls.employee?.errors?.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div class="form-group">
                <label class="form-control-label" for="field_endDate">End Date</label>
                <div class="input-group">
                    <input id="field_endDate" type="text" class="form-control" name="endDate" ngbDatepicker
                           #endDateDp="ngbDatepicker" [(ngModel)]="supplyZoneManager.endDate"
                    />
                    <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="endDateDp.toggle()"><fa-icon
                                [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                </div>
            </div>
            <div class="form-group">
                <label class="form-control-label" for="field_status">Status</label>
                <select class="form-control" name="status" [(ngModel)]="supplyZoneManager.status" id="field_status"
                        required>
                    <option value="ACTIVE">ACTIVE</option>
                    <option value="INACTIVE">INACTIVE</option>
                </select>
                <div [hidden]="!(editForm.controls.status?.dirty && editForm.controls.status?.invalid)">
                    <small class="form-text text-danger"
                           [hidden]="!editForm.controls.status?.errors?.required">
                        This field is required.
                    </small>
                </div>
            </div>


            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving"
                        class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
