<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="supplyZoneManager">
            <h2><span>Zone Manager</span> {{supplyZoneManager.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>End Date</span></dt>
                <dd>
                    <span>{{supplyZoneManager.endDate}}</span>
                </dd>
                <dt><span>Created By</span></dt>
                <dd>
                    <span>{{supplyZoneManager.createdBy}}</span>
                </dd>
                <dt><span>Created On</span></dt>
                <dd>
                    <span>{{supplyZoneManager.createdOn}}</span>
                </dd>
                <dt><span>Updated By</span></dt>
                <dd>
                    <span>{{supplyZoneManager.updatedBy}}</span>
                </dd>
                <dt><span>Updated On</span></dt>
                <dd>
                    <span>{{supplyZoneManager.updatedOn}}</span>
                </dd>
                <dt><span>Status</span></dt>
                <dd>
                    <span>{{supplyZoneManager.status}}</span>
                </dd>
                <dt><span>Zone</span></dt>
                <dd>
                    <div *ngIf="supplyZoneManager.supplyZoneId">
                        <a [routerLink]="['/supply-zone', supplyZoneManager.supplyZoneId, 'view']">{{supplyZoneManager.supplyZoneName}}</a>
                    </div>
                </dd>
                <dt><span>Employee</span></dt>
                <dd>
                    <div *ngIf="supplyZoneManager.employeeId">
                        <a [routerLink]="['/employee', supplyZoneManager.employeeId, 'view']">{{supplyZoneManager.employeeFullName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>
        </div>
    </div>
</div>
