<div>
    <h2 id="page-heading">
        <span>Supply Order Details</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-supply-order-details" [routerLink]="['/supply-order-details/new']" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_SCM_ADMIN']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down" >
            Create new Supply Order Details
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="supplyOrderDetails">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createdBy"><span>Created By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createdOn"><span>Created On</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="updatedBy"><span>Updated By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="updatedOn"><span>Updated On</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="quantity"><span>Quantity</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="offeredPrice"><span>Offered Price</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="supplyOrderOrderNo"><span>Supply Order</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="productCategoryName"><span>Product Category</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="productName"><span>Product</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_SCM_ADMIN']"></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let supplyOrderDetails of supplyOrderDetails ;trackBy: trackId">
                <td><a [routerLink]="['/supply-order-details', supplyOrderDetails.id, 'view' ]">{{supplyOrderDetails.id}}</a></td>
                <td>{{supplyOrderDetails.createdBy}}</td>
                <td>{{supplyOrderDetails.createdOn | date:'medium'}}</td>
                <td>{{supplyOrderDetails.updatedBy}}</td>
                <td>{{supplyOrderDetails.updatedOn | date:'medium'}}</td>
                <td>{{supplyOrderDetails.quantity}}</td>
                <td>{{supplyOrderDetails.price}}</td>
                <td>
                    <div *ngIf="supplyOrderDetails.supplyOrderId">
                        <a [routerLink]="['../supply-order', supplyOrderDetails.supplyOrderId , 'view' ]" >{{supplyOrderDetails.supplyOrderOrderNo}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="supplyOrderDetails.productCategoryId">
                        <a [routerLink]="['../product-category', supplyOrderDetails.productCategoryId , 'view' ]" >{{supplyOrderDetails.productCategoryName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="supplyOrderDetails.productId">
                        <a [routerLink]="['../product', supplyOrderDetails.productId , 'view' ]" >{{supplyOrderDetails.productName}}</a>
                    </div>
                </td>
                <td class="text-right" width="20%" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_SCM_ADMIN']">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/supply-order-details', supplyOrderDetails.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/supply-order-details', supplyOrderDetails.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
