<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-depreciation-calculation-heading">Create or edit a Depreciation Calculation</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!depreciationCalculation.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="depreciationCalculation.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_monthType">Month Type</label>
                    <select class="form-control" name="monthType" [(ngModel)]="depreciationCalculation.monthType" id="field_monthType" >
                        <option value="JANUARY">JANUARY</option>
                        <option value="FEBRUARY">FEBRUARY</option>
                        <option value="MARCH">MARCH</option>
                        <option value="APRIL">APRIL</option>
                        <option value="MAY">MAY</option>
                        <option value="JUNE">JUNE</option>
                        <option value="JULY">JULY</option>
                        <option value="AUGUST">AUGUST</option>
                        <option value="SEPTEMBER">SEPTEMBER</option>
                        <option value="OCTOBER">OCTOBER</option>
                        <option value="NOVEMBER">NOVEMBER</option>
                        <option value="DECEMBER">DECEMBER</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_isExecuted">Is Executed</label>
                    <input type="checkbox" class="form-control" name="isExecuted" id="field_isExecuted"
                        [(ngModel)]="depreciationCalculation.isExecuted" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_createdBy">Created By</label>
                    <input type="text" class="form-control" name="createdBy" id="field_createdBy"
                        [(ngModel)]="depreciationCalculation.createdBy" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_createdOn">Created On</label>
                    <div class="d-flex">
                        <input id="field_createdOn" type="datetime-local" class="form-control" name="createdOn" [(ngModel)]="createdOn" placeholder="YYYY-MM-DD HH:mm"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_modifiedBy">Modified By</label>
                    <input type="text" class="form-control" name="modifiedBy" id="field_modifiedBy"
                        [(ngModel)]="depreciationCalculation.modifiedBy" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_modifiedOn">Modified On</label>
                    <div class="d-flex">
                        <input id="field_modifiedOn" type="datetime-local" class="form-control" name="modifiedOn" [(ngModel)]="modifiedOn" placeholder="YYYY-MM-DD HH:mm"
                        />
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_financialAccountYear">Financial Account Year</label>
                    <select class="form-control" id="field_financialAccountYear" name="financialAccountYear" [(ngModel)]="depreciationCalculation.financialAccountYearId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="financialAccountYearOption.id" *ngFor="let financialAccountYearOption of financialaccountyears; trackBy: trackFinancialAccountYearById">{{financialAccountYearOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
