<div>
    <h2 id="page-heading">
        <span>Accumulation (Area)</span>
        <button id="jh-create-entity"
                class="btn btn-primary float-right jh-create-entity create-supply-area-wise-accumulation"
                [routerLink]="['/supply-area-wise-accumulation/new']"
                *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_SCM_ADMIN', 'ROLE_SCM_AREA_MANAGER']">
            <fa-icon [icon]="'plus'"></fa-icon>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="supplyAreaWiseAccumulations">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
                <th jhiSortBy="id"><span>ID</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="supplyZoneName"><span>Zone</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="supplyZoneManagerId"><span>Zone Manager</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="supplyAreaName"><span>Area</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="supplyAreaManagerId"><span>Area Manager</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="productCategoryName"><span>Product Category</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="productName"><span>Product</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="areaWiseAccumulationRefNo"><span>Ref No</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="quantity"><span>Quantity</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="price"><span>Price</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="status"><span>Status</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_SCM_ADMIN', 'ROLE_SCM_AREA_MANAGER']"></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']"
                   [infiniteScrollDistance]="0">
            <tr *ngFor="let supplyAreaWiseAccumulation of supplyAreaWiseAccumulations ;trackBy: trackId">
                <td><a
                    [routerLink]="['/supply-area-wise-accumulation', supplyAreaWiseAccumulation.id, 'view' ]">{{supplyAreaWiseAccumulation.id}}</a>
                </td>
                <td>
                    <div *ngIf="supplyAreaWiseAccumulation.supplyZoneId">
                        <a [routerLink]="['../supply-zone', supplyAreaWiseAccumulation.supplyZoneId , 'view' ]">{{supplyAreaWiseAccumulation.supplyZoneName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="supplyAreaWiseAccumulation.supplyZoneManagerId">
                        <a [routerLink]="['../supply-zone-manager', supplyAreaWiseAccumulation.supplyZoneManagerId , 'view' ]">{{supplyAreaWiseAccumulation.supplyZoneManagerId | scmZoneManagerFilter: supplyZoneManagers}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="supplyAreaWiseAccumulation.supplyAreaId">
                        <a [routerLink]="['../supply-area', supplyAreaWiseAccumulation.supplyAreaId , 'view' ]">{{supplyAreaWiseAccumulation.supplyAreaName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="supplyAreaWiseAccumulation.supplyAreaManagerId">
                        <a [routerLink]="['../supply-area-manager', supplyAreaWiseAccumulation.supplyAreaManagerId , 'view' ]">{{supplyAreaWiseAccumulation.supplyAreaManagerId | scmAreaManagerFilter: supplyAreaManagers}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="supplyAreaWiseAccumulation.productCategoryId">
                        <a [routerLink]="['../product-category', supplyAreaWiseAccumulation.productCategoryId , 'view' ]">{{supplyAreaWiseAccumulation.productCategoryName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="supplyAreaWiseAccumulation.productId">
                        <a [routerLink]="['../product', supplyAreaWiseAccumulation.productId , 'view' ]">{{supplyAreaWiseAccumulation.productName}}</a>
                    </div>
                </td>
                <td>{{supplyAreaWiseAccumulation.areaWiseAccumulationRefNo}}</td>
                <td>{{supplyAreaWiseAccumulation.quantity}}</td>
                <td>{{supplyAreaWiseAccumulation.price}}</td>
                <td>{{supplyAreaWiseAccumulation.status}}</td>
                <td class="text-right" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_SCM_ADMIN', 'ROLE_SCM_AREA_MANAGER']">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/supply-area-wise-accumulation', supplyAreaWiseAccumulation.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/supply-area-wise-accumulation', supplyAreaWiseAccumulation.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-3">
                <div class="form-group">
                    <label class="form-control-label" for="field_dateOfOrderFrom">From</label>
                    <div class="input-group">
                        <input id="field_dateOfOrderFrom" type="text" class="form-control" name="dateOfOrder"
                               ngbDatepicker
                               #dateOfOrderFromDp="ngbDatepicker" [(ngModel)]="dateOfOrderFrom"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateOfOrderFromDp.toggle()"><fa-icon
                                [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label class="form-control-label" for="field_dateOfOrderTo">To</label>
                    <div class="input-group">
                        <input id="field_dateOfOrderTo" type="text" class="form-control" name="dateOfOrder"
                               ngbDatepicker
                               #dateOfOrderToDp="ngbDatepicker" [(ngModel)]="dateOfOrderTo"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateOfOrderToDp.toggle()"><fa-icon
                                [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-3">
                <button type="button"
                        class="btn btn-primary btn-sm" (click)="downloadReport()">
                    <span class="d-none d-md-inline">Download</span>
                </button>
            </div>
        </div>
    </div>
</div>
