<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="financialAccountYear">
            <h2><span>Financial Account Year</span> <b>{{financialAccountYear.durationStr}}</b></h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Start Date</span></dt>
                <dd>
                    <span>{{financialAccountYear.startDate | date:'mediumDate'}}</span>
                </dd>
                <dt><span>End Date</span></dt>
                <dd>
                    <span>{{financialAccountYear.endDate | date:'mediumDate'}}</span>
                </dd>
                <dt><span>Previous Start Date</span></dt>
                <dd>
                    <span>{{financialAccountYear.previousStartDate | date:'mediumDate'}}</span>
                </dd>
                <dt><span>Previous End Date</span></dt>
                <dd>
                    <span>{{financialAccountYear.previousEndDate | date:'mediumDate'}}</span>
                </dd>
                <dt><span>Status</span></dt>
                <dd>
                    <span>{{financialAccountYear.status}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/financial-account-year', financialAccountYear.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
