<jhi-alert></jhi-alert>
<div class=" row ">
    <div class="col-md-12">
        <ngb-tabset justify="center" #tabSet="ngbTabset" (tabChange)="tabSelected($event)" [activeId]="activeTabId">
            <ngb-tab title="Personal Information" id="personalInformation" >
                <ng-template ngbTabContent>
                    <jhi-employee-update [employee]="employee" *ngIf="editable" [editable]="editable" (disableEdit)="disablePersonalInformationEdit()"  (closeEmployeeManagement)="previousState()"></jhi-employee-update>
                    <jhi-employee-detail [employee]="employee" *ngIf="!editable" [editable]="editable" (enableEdit)="enablePersonalInformationEdit()" (closeEmployeeManagement)="previousState()"></jhi-employee-detail>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Academic Information" id="academicInformation" >
                <ng-template ngbTabContent>
                    <div class="row" *ngIf="employee.id===undefined" align="center">
                        <div class="card bg-warning text-white">
                            <div class="card-body" align="center">Please fill up employee personal information</div>
                        </div>
                    </div>
                    <div class="row" *ngIf="employee.id!==undefined">
                        <div class="col-md-8">
                            <div class="card">
                                <div class="card-header bg-primary text-white">Academic Information</div>
                                <div class="card-body">
                                    <jhi-academic-information [employee]="employee" ></jhi-academic-information>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-header bg-primary text-white" >Academic Information Attachment</div>
                                <div class="card-body">
                                    <jhi-academic-information-attachment [employee]="employee"></jhi-academic-information-attachment>
                                </div>
                            </div>

                        </div>
                    </div>
                </ng-template>
            </ngb-tab>
            <!--<ngb-tab title="Experience Information" id="experienceInformation" >
                <ng-template ngbTabContent>
                    <jhi-experience-information [employee]="employee"></jhi-experience-information>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Family Information" id="familyInformation" >
                <ng-template ngbTabContent>
                    <jhi-family-information [employee]="employee"></jhi-family-information>
                </ng-template>

            </ngb-tab>
            <ngb-tab title="Training Information" id="trainingInformation" >
                <ng-template ngbTabContent>
                    <jhi-training-information [employee]="employee"></jhi-training-information>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Reference Information" id="referenceInformation" >
                <ng-template ngbTabContent>
                    <jhi-reference-information [employee]="employee"></jhi-reference-information>
                </ng-template>
            </ngb-tab>
-->
        </ngb-tabset>
    </div>
</div>
<!--<div class="row">
    <div class="col-md-12" align="right">
        <button class="btn btn-primary" *ngIf="editable && showEditOrCancelButton" (click)="cancelEdit()">Cancel</button>
        <button class="btn btn-primary" *ngIf="!editable && showEditOrCancelButton" (click)="edit()">Edit</button>
        <button class="btn btn-success" (click)="previousState()" >Back</button>
    </div>
</div>-->
