<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="monthlySalary">
            <h2><span>Monthly Salary</span> {{monthlySalary.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Year</span></dt>
                <dd>
                    <span>{{monthlySalary.year}}</span>
                </dd>
                <dt><span>Month</span></dt>
                <dd>
                    <span>{{monthlySalary.month}}</span>
                </dd>
                <dt><span>Basic</span></dt>
                <dd>
                    <span>{{monthlySalary.basic}}</span>
                </dd>
                <dt><span>Gross</span></dt>
                <dd>
                    <span>{{monthlySalary.gross}}</span>
                </dd>
                <dt><span>House Rent</span></dt>
                <dd>
                    <span>{{monthlySalary.houseRent}}</span>
                </dd>
                <dt><span>Medical Allowance</span></dt>
                <dd>
                    <span>{{monthlySalary.medicalAllowance}}</span>
                </dd>
                <dt><span>Over Time Allowance</span></dt>
                <dd>
                    <span>{{monthlySalary.overTimeAllowance}}</span>
                </dd>
                <dt><span>Food Allowance</span></dt>
                <dd>
                    <span>{{monthlySalary.foodAllowance}}</span>
                </dd>
                <dt><span>Arrear Allowance</span></dt>
                <dd>
                    <span>{{monthlySalary.arrearAllowance}}</span>
                </dd>
                <dt><span>Driver Allowance</span></dt>
                <dd>
                    <span>{{monthlySalary.driverAllowance}}</span>
                </dd>
                <dt><span>Fuel Lub Allowance</span></dt>
                <dd>
                    <span>{{monthlySalary.fuelLubAllowance}}</span>
                </dd>
                <dt><span>Mobile Allowance</span></dt>
                <dd>
                    <span>{{monthlySalary.mobileAllowance}}</span>
                </dd>
                <dt><span>Travel Allowance</span></dt>
                <dd>
                    <span>{{monthlySalary.travelAllowance}}</span>
                </dd>
                <dt><span>Other Allowance</span></dt>
                <dd>
                    <span>{{monthlySalary.otherAllowance}}</span>
                </dd>
                <dt><span>Festival Allowance</span></dt>
                <dd>
                    <span>{{monthlySalary.festivalAllowance}}</span>
                </dd>
                <dt><span>Absent</span></dt>
                <dd>
                    <span>{{monthlySalary.absent}}</span>
                </dd>
                <dt><span>Fine</span></dt>
                <dd>
                    <span>{{monthlySalary.fine}}</span>
                </dd>
                <dt><span>Advance HO</span></dt>
                <dd>
                    <span>{{monthlySalary.advanceHO}}</span>
                </dd>
                <dt><span>Advance Factory</span></dt>
                <dd>
                    <span>{{monthlySalary.advanceFactory}}</span>
                </dd>
                <dt><span>Provident Fund</span></dt>
                <dd>
                    <span>{{monthlySalary.providentFund}}</span>
                </dd>
                <dt><span>Tax</span></dt>
                <dd>
                    <span>{{monthlySalary.tax}}</span>
                </dd>
                <dt><span>Loan Amount</span></dt>
                <dd>
                    <span>{{monthlySalary.loanAmount}}</span>
                </dd>
                <dt><span>Bill Payable</span></dt>
                <dd>
                    <span>{{monthlySalary.billPayable}}</span>
                </dd>
                <dt><span>Bill Receivable</span></dt>
                <dd>
                    <span>{{monthlySalary.billReceivable}}</span>
                </dd>
                <dt><span>Payable</span></dt>
                <dd>
                    <span>{{monthlySalary.payable}}</span>
                </dd>
                <dt><span>Approved</span></dt>
                <dd>
                    <span>{{monthlySalary.approved}}</span>
                </dd>
                <dt><span>On Hold</span></dt>
                <dd>
                    <span>{{monthlySalary.onHold}}</span>
                </dd>
                <dt><span>Status</span></dt>
                <dd>
                    <span>{{monthlySalary.status}}</span>
                </dd>
                <dt><span>Modified By</span></dt>
                <dd>
                    <span>{{monthlySalary.modifiedBy}}</span>
                </dd>
                <dt><span>Modified On</span></dt>
                <dd>
                    <span>{{monthlySalary.modifiedOn}}</span>
                </dd>
                <dt><span>Voucher Generated</span></dt>
                <dd>
                    <span>{{monthlySalary.voucherGenerated}}</span>
                </dd>
                <dt><span>Employee</span></dt>
                <dd>
                    <div *ngIf="monthlySalary.employeeId">
                        <a [routerLink]="['/employee', monthlySalary.employeeId, 'view']">{{monthlySalary.employeeFullName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/monthly-salary', monthlySalary.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
