<div>
    <h2 id="page-heading">
        <span>Supply Area Managers</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-supply-area-manager" [routerLink]="['/supply-area-manager/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down" >
            Create new Supply Area Manager
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="supplyAreaManagers">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createdBy"><span>Created By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createdOn"><span>Created On</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="updatedBy"><span>Updated By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="updatedOn"><span>Updated On</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="endDate"><span>End Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="status"><span>Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="supplyZoneName"><span>Supply Zone</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="supplyAreaName"><span>Supply Area</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="employeeFullName"><span>Employee</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="supplyZoneManagerId"><span>Supply Zone Manager</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let supplyAreaManager of supplyAreaManagers ;trackBy: trackId">
                <td><a [routerLink]="['/supply-area-manager', supplyAreaManager.id, 'view' ]">{{supplyAreaManager.id}}</a></td>
                <td>{{supplyAreaManager.createdBy}}</td>
                <td>{{supplyAreaManager.createdOn | date:'medium'}}</td>
                <td>{{supplyAreaManager.updatedBy}}</td>
                <td>{{supplyAreaManager.updatedOn | date:'medium'}}</td>
                <td>{{supplyAreaManager.endDate | date:'mediumDate'}}</td>
                <td>{{supplyAreaManager.status}}</td>
                <td>
                    <div *ngIf="supplyAreaManager.supplyZoneId">
                        <a [routerLink]="['../supply-zone', supplyAreaManager.supplyZoneId , 'view' ]" >{{supplyAreaManager.supplyZoneName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="supplyAreaManager.supplyAreaId">
                        <a [routerLink]="['../supply-area', supplyAreaManager.supplyAreaId , 'view' ]" >{{supplyAreaManager.supplyAreaName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="supplyAreaManager.employeeId">
                        <a [routerLink]="['../employee', supplyAreaManager.employeeId , 'view' ]" >{{supplyAreaManager.employeeFullName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="supplyAreaManager.supplyZoneManagerId">
                        <a [routerLink]="['../supply-zone-manager', supplyAreaManager.supplyZoneManagerId , 'view' ]" >{{supplyAreaManager.supplyZoneManagerId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/supply-area-manager', supplyAreaManager.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/supply-area-manager', supplyAreaManager.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'supply-area-manager', { outlets: { popup: supplyAreaManager.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
