<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="monthlyBalance">
            <h2><span>Monthly Balance</span> {{monthlyBalance.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Month Type</span></dt>
                <dd>
                    <span>{{monthlyBalance.monthType}}</span>
                </dd>
                <dt><span>Tot Month Db Bal</span></dt>
                <dd>
                    <span>{{monthlyBalance.totMonthDbBal}}</span>
                </dd>
                <dt><span>Tot Month Cr Bal</span></dt>
                <dd>
                    <span>{{monthlyBalance.totMonthCrBal}}</span>
                </dd>
                <dt><span>Modified By</span></dt>
                <dd>
                    <span>{{monthlyBalance.modifiedBy}}</span>
                </dd>
                <dt><span>Modified On</span></dt>
                <dd>
                    <span>{{monthlyBalance.modifiedOn}}</span>
                </dd>
                <dt><span>Account Balance</span></dt>
                <dd>
                    <div *ngIf="monthlyBalance.accountBalanceId">
                        <a [routerLink]="['/account-balance', monthlyBalance.accountBalanceId, 'view']">{{monthlyBalance.accountBalanceId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/monthly-balance', monthlyBalance.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
