<div>
    <h2 id="page-heading">
        <span>Debtor Ledgers</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-debtor-ledger" [routerLink]="['/debtor-ledger/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down" >
            Create new Debtor Ledger
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="debtorLedgers">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="serialNo"><span>Serial No</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="billNo"><span>Bill No</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="billDate"><span>Bill Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="amount"><span>Amount</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="paidAmount"><span>Paid Amount</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="billClosingFlag"><span>Bill Closing Flag</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dueDate"><span>Due Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="vatNo"><span>Vat No</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="contCode"><span>Cont Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="orderNo"><span>Order No</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifiedBy"><span>Modified By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifiedOn"><span>Modified On</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="customerName"><span>Customer</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let debtorLedger of debtorLedgers ;trackBy: trackId">
                <td><a [routerLink]="['/debtor-ledger', debtorLedger.id, 'view' ]">{{debtorLedger.id}}</a></td>
                <td>{{debtorLedger.serialNo}}</td>
                <td>{{debtorLedger.billNo}}</td>
                <td>{{debtorLedger.billDate | date:'mediumDate'}}</td>
                <td>{{debtorLedger.amount}}</td>
                <td>{{debtorLedger.paidAmount}}</td>
                <td>{{debtorLedger.billClosingFlag}}</td>
                <td>{{debtorLedger.dueDate | date:'mediumDate'}}</td>
                <td>{{debtorLedger.vatNo}}</td>
                <td>{{debtorLedger.contCode}}</td>
                <td>{{debtorLedger.orderNo}}</td>
                <td>{{debtorLedger.modifiedBy}}</td>
                <td>{{debtorLedger.modifiedOn | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="debtorLedger.customerId">
                        <a [routerLink]="['../customer', debtorLedger.customerId , 'view' ]" >{{debtorLedger.customerName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/debtor-ledger', debtorLedger.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/debtor-ledger', debtorLedger.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'debtor-ledger', { outlets: { popup: debtorLedger.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Pager is not implemented yet, so this is normal pagination instead -->
    <div *ngIf="debtorLedgers && debtorLedgers.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
