<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="supplyArea">
            <h2><span>Supply Area</span> {{supplyArea.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Area Name</span></dt>
                <dd>
                    <span>{{supplyArea.name}}</span>
                </dd>
                <dt><span>Area Code</span></dt>
                <dd>
                    <span>{{supplyArea.code}}</span>
                </dd>
                <dt><span>Created By</span></dt>
                <dd>
                    <span>{{supplyArea.createdBy}}</span>
                </dd>
                <dt><span>Created On</span></dt>
                <dd>
                    <span>{{supplyArea.createdOn}}</span>
                </dd>
                <dt><span>Updated By</span></dt>
                <dd>
                    <span>{{supplyArea.updatedBy}}</span>
                </dd>
                <dt><span>Updated On</span></dt>
                <dd>
                    <span>{{supplyArea.updatedOn}}</span>
                </dd>
                <dt><span>Supply Zone</span></dt>
                <dd>
                    <div *ngIf="supplyArea.supplyZoneId">
                        <a [routerLink]="['/supply-zone', supplyArea.supplyZoneId, 'view']">{{supplyArea.supplyZoneName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>
        </div>
    </div>
</div>
