<div>
    <h2 id="page-heading">
        <span>Area</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-supply-area" [routerLink]="['/supply-area/new']" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_SCM_ADMIN', 'ROLE_SCM_ZONE_MANAGER']">
            <fa-icon [icon]="'plus'"></fa-icon>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="supplyAreas">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="supplyZoneName"><span>Zone</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="supplyZoneManagerId"><span>Supply Zone Manager</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span>Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="code"><span>Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_SCM_ADMIN', 'ROLE_SCM_ZONE_MANAGER']"></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let supplyArea of supplyAreas ;trackBy: trackId">
                <td><a [routerLink]="['/supply-area', supplyArea.id, 'view' ]">{{supplyArea.id}}</a></td>
                <td>
                    <div *ngIf="supplyArea.supplyZoneId">
                        <a [routerLink]="['../supply-zone', supplyArea.supplyZoneId , 'view' ]" >{{supplyArea.supplyZoneName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="supplyArea.supplyZoneManagerId">
                        <a [routerLink]="['../supply-zone-manager', supplyArea.supplyZoneManagerId , 'view' ]" >{{supplyArea.supplyZoneManagerId | scmZoneManagerFilter: supplyzonemanagers}}</a>
                    </div>
                </td>
                <td>{{supplyArea.name}}</td>
                <td>{{supplyArea.code}}</td>
                <td class="text-right" width="20%" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_SCM_ADMIN', 'ROLE_SCM_ZONE_MANAGER']">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/supply-area', supplyArea.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/supply-area', supplyArea.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
