<div [ngSwitch]="isAuthenticated()">
    <div class="row" *ngSwitchCase="false">
        <div class="col-md-3">
            <span class="hipster img-fluid rounded"></span>
        </div>
        <div class="col-md-9">
            <h1 class="display-4">Welcome to Seven Oceans!</h1>
            <p class="lead">You are not logged in. Please <a class="alert-link" (click)="login()">sign in</a> </p>

            <br/>

            <div [ngSwitch]="isAuthenticated()">
                <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account"
                > You are logged in as user "{{account.login}}". </span>
                </div>

            </div>

        </div>
    </div>
    <div class="row" *ngSwitchCase="true">
        <div class="col-4" *ngIf="employee!==undefined && employee.photo!==undefined">
            <img [src]="'data:' + employee.photoContentType + ';base64,' + employee.photo" class="rounded-circle" width="170" height="165" alt="employee image"/>
        </div>
        <div class="col-4" *ngIf="employee!==undefined && employee.photo=== undefined">
            <span class="user img-fluid rounded"></span>
        </div>
        <div class="col-4">
            <table class="table">
                <tbody>
                <tr>
                    <td>Name</td>
                    <td>{{employee.fullName}}</td>
                </tr>
                <tr>
                    <td>Department</td>
                    <td>{{department.name}}</td>
                </tr>
                <tr>
                    <td>Designation</td>
                    <td>{{designation.name}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-4"></div>
    </div>
</div>

