<div>
    <h2 id="page-heading">
        <span>Supply Challans</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-supply-challan" [routerLink]="['/supply-challan/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down" >
            Create new Supply Challan
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="supplyChallans">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="challanNo"><span>Challan No</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dateOfChallan"><span>Date Of Challan</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="remarks"><span>Remarks</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createdBy"><span>Created By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createdOn"><span>Created On</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="updatedBy"><span>Updated By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="updatedOn"><span>Updated On</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="supplyZoneName"><span>Supply Zone</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="supplyZoneManagerId"><span>Supply Zone Manager</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="supplyAreaName"><span>Supply Area</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="supplyAreaManagerId"><span>Supply Area Manager</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="supplySalesRepresentativeName"><span>Supply Sales Representative</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="supplyShopName"><span>Supply Shop</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="supplyOrderOrderNo"><span>Supply Order</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let supplyChallan of supplyChallans ;trackBy: trackId">
                <td><a [routerLink]="['/supply-challan', supplyChallan.id, 'view' ]">{{supplyChallan.id}}</a></td>
                <td>{{supplyChallan.challanNo}}</td>
                <td>{{supplyChallan.dateOfChallan | date:'mediumDate'}}</td>
                <td>{{supplyChallan.remarks}}</td>
                <td>{{supplyChallan.createdBy}}</td>
                <td>{{supplyChallan.createdOn | date:'medium'}}</td>
                <td>{{supplyChallan.updatedBy}}</td>
                <td>{{supplyChallan.updatedOn | date:'medium'}}</td>
                <td>
                    <div *ngIf="supplyChallan.supplyZoneId">
                        <a [routerLink]="['../supply-zone', supplyChallan.supplyZoneId , 'view' ]" >{{supplyChallan.supplyZoneName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="supplyChallan.supplyZoneManagerId">
                        <a [routerLink]="['../supply-zone-manager', supplyChallan.supplyZoneManagerId , 'view' ]" >{{supplyChallan.supplyZoneManagerId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="supplyChallan.supplyAreaId">
                        <a [routerLink]="['../supply-area', supplyChallan.supplyAreaId , 'view' ]" >{{supplyChallan.supplyAreaName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="supplyChallan.supplyAreaManagerId">
                        <a [routerLink]="['../supply-area-manager', supplyChallan.supplyAreaManagerId , 'view' ]" >{{supplyChallan.supplyAreaManagerId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="supplyChallan.supplySalesRepresentativeId">
                        <a [routerLink]="['../supply-sales-representative', supplyChallan.supplySalesRepresentativeId , 'view' ]" >{{supplyChallan.supplySalesRepresentativeName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="supplyChallan.supplyShopId">
                        <a [routerLink]="['../supply-shop', supplyChallan.supplyShopId , 'view' ]" >{{supplyChallan.supplyShopName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="supplyChallan.supplyOrderId">
                        <a [routerLink]="['../supply-order', supplyChallan.supplyOrderId , 'view' ]" >{{supplyChallan.supplyOrderOrderNo}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/supply-challan', supplyChallan.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/supply-challan', supplyChallan.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'supply-challan', { outlets: { popup: supplyChallan.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
