<div class="row justify-content-center">
    <div class="col-4">
        <h2>Requisition</h2>
        <div class="row">
            <div class="col-md-12">
                <dl class="row-md jh-entity-details">
                    <dt><span>Requisition No</span></dt>
                    <dd><span>{{requisition.requisitionNo}}</span></dd>

                    <dt><span>Requisition Date</span></dt>
                    <dd><span>{{requisition.requisitionDate | date: 'mediumDate'}}</span></dd>

                    <dt><span>Department</span></dt>
                    <dd>
                        <span>{{requisition.departmentName}}</span>
                    </dd>

                    <dt><span>Office</span></dt>
                    <dd>
                        <span>{{requisition.officeName}}</span>
                    </dd>
                </dl>
            </div>

        </div>
    </div>
    <div class="col-8">
        <form name="editForm" role="form" novalidate  #editForm="ngForm">
            <h2  *ngIf="quotation.id">Edit Quotation {{quotation.quotationNo}}</h2>
            <h2  *ngIf="!quotation.id">Create a Quotation</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
               <div class="row">
                   <div class="col-4">
                       <div class="form-group">
                           <label class="form-control-label" for="field_quotationNo">Quotation No</label>
                           <input type="text" class="form-control" name="quotationNo" id="field_quotationNo"
                                  [(ngModel)]="quotation.quotationNo" />
                       </div>
                       <div class="form-group">
                           <label class="form-control-label" for="field_selectionStatus">Selection Status</label>
                           <select class="form-control" name="selectionStatus" [(ngModel)]="quotation.selectionStatus" id="field_selectionStatus" >
                               <option value="SELECTED">SELECTED</option>
                               <option value="NOT_SELECTED">NOT_SELECTED</option>
                           </select>
                       </div>
                   </div>
                   <div class="col-4">
                       <div class="form-group">
                           <label class="form-control-label" for="field_requisition">Requisition</label>
                           <input type="text" class="form-control" name="requisition" id="field_requisition" [disabled]="true" [value]="requisition.requisitionNo">
                       </div>
                       <div class="form-group">
                           <label class="form-control-label" for="field_attachment">Attachment</label>
                           <div>
                               <div *ngIf="quotation.attachment" class="form-text text-danger clearfix">
                                   <a class="pull-left" (click)="openFile(quotation.attachmentContentType, quotation.attachment)">open</a><br>
                                   <span class="pull-left">{{quotation.attachmentContentType}}, {{byteSize(quotation.attachment)}}</span>
                                   <button type="button" (click)="quotation.attachment=null;quotation.attachmentContentType=null;"
                                           class="btn btn-secondary btn-xs pull-right">
                                       <fa-icon [icon]="'times'"></fa-icon>
                                   </button>
                               </div>
                               <input type="file" id="file_attachment" (change)="setFileData($event, quotation, 'attachment', false)"/>
                           </div>
                           <input type="hidden" class="form-control" name="attachment" id="field_attachment"
                                  [(ngModel)]="quotation.attachment" required/>
                           <input type="hidden" class="form-control" name="attachmentContentType" id="field_attachmentContentType"
                                  [(ngModel)]="quotation.attachmentContentType" />
                           <div [hidden]="!(editForm.controls.attachment?.dirty && editForm.controls.attachment?.invalid)">
                               <small class="form-text text-danger"
                                      [hidden]="!editForm.controls.attachment?.errors?.required">
                                   This field is required.
                               </small>
                           </div>
                       </div>
                   </div>
                   <div class="col-4">
                       <div class="form-group">
                           <label class="form-control-label" for="field_vendor">Vendor</label>
                           <select class="form-control" id="field_vendor" name="vendor" [(ngModel)]="quotation.vendorId" >
                               <option [ngValue]="null"></option>
                               <option [ngValue]="vendorOption.id" *ngFor="let vendorOption of vendors; trackBy: trackVendorById">{{vendorOption.companyName}}</option>
                           </select>
                       </div>
                   </div>
               </div>
            </div>
            <div class="col-12" *ngIf="quotation.id">
                <br/>
            </div>
            <div>

            </div>
        </form>
    </div>
    <div class="col-md-12" *ngIf="quotation.id">
        <jhi-quotation-details-extended-directive-for-quotation [quotation]="quotation"></jhi-quotation-details-extended-directive-for-quotation>
    </div>
    <div class="col-md-12">
        <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
            <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span>Back</span>
        </button>
        <button type="submit" id="save-entity" (click)="save()" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
        </button>
    </div>
</div>
