<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="commercialWorkOrderDetails">
            <h2><span>Commercial Work Order Details</span> {{commercialWorkOrderDetails.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Goods</span></dt>
                <dd>
                    <span>{{commercialWorkOrderDetails.goods}}</span>
                </dd>
                <dt><span>Reason</span></dt>
                <dd>
                    <span>{{commercialWorkOrderDetails.reason}}</span>
                </dd>
                <dt><span>Size</span></dt>
                <dd>
                    <span>{{commercialWorkOrderDetails.size}}</span>
                </dd>
                <dt><span>Color</span></dt>
                <dd>
                    <span>{{commercialWorkOrderDetails.color}}</span>
                </dd>
                <dt><span>Quantity</span></dt>
                <dd>
                    <span>{{commercialWorkOrderDetails.quantity}}</span>
                </dd>
                <dt><span>Currency Type</span></dt>
                <dd>
                    <span>{{commercialWorkOrderDetails.currencyType}}</span>
                </dd>
                <dt><span>Rate</span></dt>
                <dd>
                    <span>{{commercialWorkOrderDetails.rate}}</span>
                </dd>
                <dt><span>Created By</span></dt>
                <dd>
                    <span>{{commercialWorkOrderDetails.createdBy}}</span>
                </dd>
                <dt><span>Created On</span></dt>
                <dd>
                    <span>{{commercialWorkOrderDetails.createdOn}}</span>
                </dd>
                <dt><span>Updated By</span></dt>
                <dd>
                    <span>{{commercialWorkOrderDetails.updatedBy}}</span>
                </dd>
                <dt><span>Updated On</span></dt>
                <dd>
                    <span>{{commercialWorkOrderDetails.updatedOn}}</span>
                </dd>
                <dt><span>Commercial Work Order</span></dt>
                <dd>
                    <div *ngIf="commercialWorkOrderDetails.commercialWorkOrderId">
                        <a [routerLink]="['/commercial-work-order', commercialWorkOrderDetails.commercialWorkOrderId, 'view']">{{commercialWorkOrderDetails.commercialWorkOrderRefNo}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/commercial-work-order-details', commercialWorkOrderDetails.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
