<div>
    <h2 id="page-heading">
        <span>Commercial Work Order Details</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-commercial-work-order-details" [routerLink]="['/commercial-work-order-details/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down" >
            Create new Commercial Work Order Details
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="commercialWorkOrderDetails">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="goods"><span>Goods</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="reason"><span>Reason</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="size"><span>Size</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="color"><span>Color</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="quantity"><span>Quantity</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="currencyType"><span>Currency Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="rate"><span>Rate</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createdBy"><span>Created By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createdOn"><span>Created On</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="updatedBy"><span>Updated By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="updatedOn"><span>Updated On</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="commercialWorkOrderRefNo"><span>Commercial Work Order</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let commercialWorkOrderDetails of commercialWorkOrderDetails ;trackBy: trackId">
                <td><a [routerLink]="['/commercial-work-order-details', commercialWorkOrderDetails.id, 'view' ]">{{commercialWorkOrderDetails.id}}</a></td>
                <td>{{commercialWorkOrderDetails.goods}}</td>
                <td>{{commercialWorkOrderDetails.reason}}</td>
                <td>{{commercialWorkOrderDetails.size}}</td>
                <td>{{commercialWorkOrderDetails.color}}</td>
                <td>{{commercialWorkOrderDetails.quantity}}</td>
                <td>{{commercialWorkOrderDetails.currencyType}}</td>
                <td>{{commercialWorkOrderDetails.rate}}</td>
                <td>{{commercialWorkOrderDetails.createdBy}}</td>
                <td>{{commercialWorkOrderDetails.createdOn | date:'mediumDate'}}</td>
                <td>{{commercialWorkOrderDetails.updatedBy}}</td>
                <td>{{commercialWorkOrderDetails.updatedOn | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="commercialWorkOrderDetails.commercialWorkOrderId">
                        <a [routerLink]="['../commercial-work-order', commercialWorkOrderDetails.commercialWorkOrderId , 'view' ]" >{{commercialWorkOrderDetails.commercialWorkOrderRefNo}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/commercial-work-order-details', commercialWorkOrderDetails.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/commercial-work-order-details', commercialWorkOrderDetails.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'commercial-work-order-details', { outlets: { popup: commercialWorkOrderDetails.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
