<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-commercial-purchase-order-item-heading">Create or edit a Commercial Purchase Order Item</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!commercialPurchaseOrderItem.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="commercialPurchaseOrderItem.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_goodsOrServices">Goods Or Services</label>
                    <input type="text" class="form-control" name="goodsOrServices" id="field_goodsOrServices"
                        [(ngModel)]="commercialPurchaseOrderItem.goodsOrServices" required/>
                    <div [hidden]="!(editForm.controls.goodsOrServices?.dirty && editForm.controls.goodsOrServices?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.goodsOrServices?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_descriptionOfGoodsOrServices">Description Of Goods Or Services</label>
                    <input type="text" class="form-control" name="descriptionOfGoodsOrServices" id="field_descriptionOfGoodsOrServices"
                        [(ngModel)]="commercialPurchaseOrderItem.descriptionOfGoodsOrServices" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_packaging">Packaging</label>
                    <input type="text" class="form-control" name="packaging" id="field_packaging"
                        [(ngModel)]="commercialPurchaseOrderItem.packaging" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_sizeOrGrade">Size Or Grade</label>
                    <input type="text" class="form-control" name="sizeOrGrade" id="field_sizeOrGrade"
                        [(ngModel)]="commercialPurchaseOrderItem.sizeOrGrade" required/>
                    <div [hidden]="!(editForm.controls.sizeOrGrade?.dirty && editForm.controls.sizeOrGrade?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.sizeOrGrade?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_qtyOrMc">Qty Or Mc</label>
                    <input type="number" class="form-control" name="qtyOrMc" id="field_qtyOrMc"
                        [(ngModel)]="commercialPurchaseOrderItem.qtyOrMc" required/>
                    <div [hidden]="!(editForm.controls.qtyOrMc?.dirty && editForm.controls.qtyOrMc?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.qtyOrMc?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.qtyOrMc?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_qtyOrKgs">Qty Or Kgs</label>
                    <input type="number" class="form-control" name="qtyOrKgs" id="field_qtyOrKgs"
                        [(ngModel)]="commercialPurchaseOrderItem.qtyOrKgs" required/>
                    <div [hidden]="!(editForm.controls.qtyOrKgs?.dirty && editForm.controls.qtyOrKgs?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.qtyOrKgs?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.qtyOrKgs?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_rateOrKg">Rate Or Kg</label>
                    <input type="number" class="form-control" name="rateOrKg" id="field_rateOrKg"
                        [(ngModel)]="commercialPurchaseOrderItem.rateOrKg" required/>
                    <div [hidden]="!(editForm.controls.rateOrKg?.dirty && editForm.controls.rateOrKg?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.rateOrKg?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.rateOrKg?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_currencyType">Currency Type</label>
                    <select class="form-control" name="currencyType" [(ngModel)]="commercialPurchaseOrderItem.currencyType" id="field_currencyType"  required>
                        <option value="BDT">BDT</option>
                        <option value="US_DOLLAR">US_DOLLAR</option>
                    </select>
                    <div [hidden]="!(editForm.controls.currencyType?.dirty && editForm.controls.currencyType?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.currencyType?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_total">Total</label>
                    <input type="number" class="form-control" name="total" id="field_total"
                        [(ngModel)]="commercialPurchaseOrderItem.total" required/>
                    <div [hidden]="!(editForm.controls.total?.dirty && editForm.controls.total?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.total?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.total?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_createdBy">Created By</label>
                    <input type="text" class="form-control" name="createdBy" id="field_createdBy"
                        [(ngModel)]="commercialPurchaseOrderItem.createdBy" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_createdOn">Created On</label>
                    <div class="input-group">
                        <input id="field_createdOn" type="text" class="form-control" name="createdOn" ngbDatepicker  #createdOnDp="ngbDatepicker" [(ngModel)]="commercialPurchaseOrderItem.createdOn"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="createdOnDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_updatedBy">Updated By</label>
                    <input type="text" class="form-control" name="updatedBy" id="field_updatedBy"
                        [(ngModel)]="commercialPurchaseOrderItem.updatedBy" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_updatedOn">Updated On</label>
                    <div class="input-group">
                        <input id="field_updatedOn" type="text" class="form-control" name="updatedOn" ngbDatepicker  #updatedOnDp="ngbDatepicker" [(ngModel)]="commercialPurchaseOrderItem.updatedOn"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="updatedOnDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_commercialPurchaseOrder">Commercial Purchase Order</label>
                    <select class="form-control" id="field_commercialPurchaseOrder" name="commercialPurchaseOrder" [(ngModel)]="commercialPurchaseOrderItem.commercialPurchaseOrderId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="commercialPurchaseOrderOption.id" *ngFor="let commercialPurchaseOrderOption of commercialpurchaseorders; trackBy: trackCommercialPurchaseOrderById">{{commercialPurchaseOrderOption.purchaseOrderNo}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
