<div class="row justify-content-center">
    <div [ngClass]="{'col-4':budgetAllocationService.showSelect}" *ngIf="budgetAllocationService.showSelect">
        <div class="card">
            <div class="card-header bg-secondary text-white">Select</div>
            <div class="card-body">
                <form name="selectForm" novalidate id="selectForm" (ngSubmit)="fetch()" #editForm="ngForm">
                    <div class="form-group form-inline">
                        <label  for="office" class="col-4 form-control-label" align="left">Financial Year</label>
                        <select class="col-8 form-control" name="office" id="office" [(ngModel)]="budgetAllocationService.financialAccountYearId" >
                            <option [ngValue]="yearOption.id" *ngFor="let yearOption of financialAccountYears">{{yearOption.startDate| date:'dd-MM-yyyy'}} - {{yearOption.endDate|date:'dd-MM-yyyy'}}</option>
                        </select>
                    </div>
                    <div align="right">
                        <button type="submit" id="save-entity"  class="btn btn-primary">
                            <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Fetch</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div [ngClass]="{'col-8':budgetAllocationService.showSelect,'col-12':!budgetAllocationService.showSelect}">
        <div class="card">
            <div class="card-header bg-secondary text-white">
            <span>
                        <fa-icon icon="align-justify" (click)="hideSelect()" [styles]="{cursor:'pointer'}"></fa-icon>
                        <span>
                            Budget Allocation
                        </span>
                    </span>
             </div>
            <div class="card-body">
                <div >
                    <div>
                        <h2 id="page-heading">
                            <span>Budget Allocations</span>
                            <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-budget-allocation" [routerLink]="['/budget-allocation',budgetAllocationService.financialAccountYearId,'new']">
                                <fa-icon [icon]="'plus'"></fa-icon>
                                <span class="hidden-sm-down" >
            Create new Budget Allocation
            </span>
                            </button>
                        </h2>
                        <jhi-alert></jhi-alert>
                        <div class="row">
                            <div class="col-sm-12">
                                <form name="searchForm" class="form-inline">
                                    <div class="input-group w-100 mt-3">
                                        <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                                        <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                                            <fa-icon [icon]="'search'"></fa-icon>
                                        </button>
                                        <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                                            <fa-icon [icon]="'trash-alt'"></fa-icon>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <br/>
                        <div class="table-responsive" *ngIf="budgetAllocations">
                            <table class="table table-striped">
                                <thead>
                                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
                                    <th jhiSortBy="amount"><span>Amount</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                                    <th jhiSortBy="officeName"><span>Office</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                                    <th jhiSortBy="departmentName"><span>Department</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                                <tr *ngFor="let budgetAllocation of budgetAllocations ;trackBy: trackId">
                                    <td>{{budgetAllocation.amount}}</td>
                                    <td>
                                        <div *ngIf="budgetAllocation.officeId">
                                            <a [routerLink]="['../office', budgetAllocation.officeId , 'view' ]" >{{budgetAllocation.officeName}}</a>
                                        </div>
                                    </td>
                                    <td>
                                        <div *ngIf="budgetAllocation.departmentId">
                                            <a [routerLink]="['../department', budgetAllocation.departmentId , 'view' ]" >{{budgetAllocation.departmentName}}</a>
                                        </div>
                                    </td>
                                    <td class="text-right">
                                        <div class="btn-group flex-btn-group-container">
                                            <button type="submit"
                                                    [routerLink]="['/budget-allocation', budgetAllocation.id, 'view' ]"
                                                    class="btn btn-info btn-sm">
                                                <fa-icon [icon]="'eye'"></fa-icon>
                                                <span class="d-none d-md-inline">View</span>
                                            </button>
                                            <button type="submit"
                                                    [routerLink]="['/budget-allocation', budgetAllocation.id, 'edit']"
                                                    class="btn btn-primary btn-sm">
                                                <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                                <span class="d-none d-md-inline">Edit</span>
                                            </button>
                                            <button type="submit"
                                                    [routerLink]="['/', 'budget-allocation', { outlets: { popup: budgetAllocation.id + '/delete'} }]"
                                                    replaceUrl="true"
                                                    queryParamsHandling="merge"
                                                    class="btn btn-danger btn-sm">
                                                <fa-icon [icon]="'times'"></fa-icon>
                                                <span class="d-none d-md-inline">Delete</span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


