<div>
    <h2 id="page-heading">
        <span>Stock Statuses</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-stock-status" [routerLink]="['/stock-status/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down" >
            Create new Stock Status
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="stockStatuses">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="containerTrackingId"><span>Container Tracking Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="totalQuantity"><span>Total Quantity</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="unit"><span>Unit</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="availableQuantity"><span>Available Quantity</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="totalPrice"><span>Total Price</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="availablePrice"><span>Available Price</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="stockInBy"><span>Stock In By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="stockInDate"><span>Stock In Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="stockInItemId"><span>Stock In Item</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="productCategoriesName"><span>Product Categories</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="productsName"><span>Products</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="inventoryLocationsName"><span>Inventory Locations</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="inventorySubLocationsName"><span>Inventory Sub Locations</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let stockStatus of stockStatuses ;trackBy: trackId">
                <td><a [routerLink]="['/stock-status', stockStatus.id, 'view' ]">{{stockStatus.id}}</a></td>
                <td>{{stockStatus.containerTrackingId}}</td>
                <td>{{stockStatus.totalQuantity}}</td>
                <td>{{stockStatus.unit}}</td>
                <td>{{stockStatus.availableQuantity}}</td>
                <td>{{stockStatus.totalPrice}}</td>
                <td>{{stockStatus.availablePrice}}</td>
                <td>{{stockStatus.stockInBy}}</td>
                <td>{{stockStatus.stockInDate | date:'medium'}}</td>
                <td>
                    <div *ngIf="stockStatus.stockInItemId">
                        <a [routerLink]="['../stock-in-item', stockStatus.stockInItemId , 'view' ]" >{{stockStatus.stockInItemId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="stockStatus.productCategoriesId">
                        <a [routerLink]="['../product-category', stockStatus.productCategoriesId , 'view' ]" >{{stockStatus.productCategoriesName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="stockStatus.productsId">
                        <a [routerLink]="['../product', stockStatus.productsId , 'view' ]" >{{stockStatus.productsName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="stockStatus.inventoryLocationsId">
                        <a [routerLink]="['../inventory-location', stockStatus.inventoryLocationsId , 'view' ]" >{{stockStatus.inventoryLocationsName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="stockStatus.inventorySubLocationsId">
                        <a [routerLink]="['../inventory-sub-location', stockStatus.inventorySubLocationsId , 'view' ]" >{{stockStatus.inventorySubLocationsName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/stock-status', stockStatus.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/stock-status', stockStatus.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'stock-status', { outlets: { popup: stockStatus.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
