<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-quotation-heading">Create or edit a Quotation</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!quotation.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="quotation.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_quotationNo">Quotation No</label>
                    <input type="text" class="form-control" name="quotationNo" id="field_quotationNo"
                        [(ngModel)]="quotation.quotationNo" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_attachment">Attachment</label>
                    <div>
                        <div *ngIf="quotation.attachment" class="form-text text-danger clearfix">
                            <a class="pull-left" (click)="openFile(quotation.attachmentContentType, quotation.attachment)">open</a><br>
                            <span class="pull-left">{{quotation.attachmentContentType}}, {{byteSize(quotation.attachment)}}</span>
                            <button type="button" (click)="quotation.attachment=null;quotation.attachmentContentType=null;"
                                    class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_attachment" (change)="setFileData($event, quotation, 'attachment', false)"/>
                    </div>
                    <input type="hidden" class="form-control" name="attachment" id="field_attachment"
                        [(ngModel)]="quotation.attachment" required/>
                    <input type="hidden" class="form-control" name="attachmentContentType" id="field_attachmentContentType"
                        [(ngModel)]="quotation.attachmentContentType" />
                    <div [hidden]="!(editForm.controls.attachment?.dirty && editForm.controls.attachment?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.attachment?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_selectionStatus">Selection Status</label>
                    <select class="form-control" name="selectionStatus" [(ngModel)]="quotation.selectionStatus" id="field_selectionStatus" >
                        <option value="SELECTED">SELECTED</option>
                        <option value="NOT_SELECTED">NOT_SELECTED</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_totalAmount">Total Amount</label>
                    <input type="number" class="form-control" name="totalAmount" id="field_totalAmount"
                        [(ngModel)]="quotation.totalAmount" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_modifiedBy">Modified By</label>
                    <input type="text" class="form-control" name="modifiedBy" id="field_modifiedBy"
                        [(ngModel)]="quotation.modifiedBy" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_modifiedOn">Modified On</label>
                    <div class="input-group">
                        <input id="field_modifiedOn" type="text" class="form-control" name="modifiedOn" ngbDatepicker  #modifiedOnDp="ngbDatepicker" [(ngModel)]="quotation.modifiedOn"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="modifiedOnDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_requisition">Requisition</label>
                    <select class="form-control" id="field_requisition" name="requisition" [(ngModel)]="quotation.requisitionId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="requisitionOption.id" *ngFor="let requisitionOption of requisitions; trackBy: trackRequisitionById">{{requisitionOption.requisitionNo}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_vendor">Vendor</label>
                    <select class="form-control" id="field_vendor" name="vendor" [(ngModel)]="quotation.vendorId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="vendorOption.id" *ngFor="let vendorOption of vendors; trackBy: trackVendorById">{{vendorOption.companyName}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
