<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="manager">
            <h2><span>Manager -</span> {{manager.parentEmployeeId}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">

                <dt><span>Employee</span></dt>
                <dd>
                    <div *ngIf="manager.employeeId">
                        {{manager.employeeFullName}}
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/manager', manager.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
