<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="manager">
            <h2><span>Manager</span> {{manager.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Parent Employee Id</span></dt>
                <dd>
                    <span>{{manager.parentEmployeeId}}</span>
                </dd>
                <dt><span>Modified By</span></dt>
                <dd>
                    <span>{{manager.modifiedBy}}</span>
                </dd>
                <dt><span>Modified On</span></dt>
                <dd>
                    <span>{{manager.modifiedOn}}</span>
                </dd>
                <dt><span>Employee</span></dt>
                <dd>
                    <div *ngIf="manager.employeeId">
                        <a [routerLink]="['/employee', manager.employeeId, 'view']">{{manager.employeeFullName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/manager', manager.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
