<div class="row justify-content-center">
    <div class="col-12">
        <jhi-alert></jhi-alert>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-6">
        <h2 id="page-heading">Purchase Order Items</h2>
    </div>
    <div class="col-6">
        <form name="searchForm" class="form-inline">
            <div class="input-group w-100 mt-3">
                <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch"
                       name="currentSearch" placeholder="Purchase Order Id">
                <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                    <fa-icon [icon]="'search'"></fa-icon>
                </button>
                <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                    <fa-icon [icon]="'trash-alt'"></fa-icon>
                </button>
                <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-commercial-purchase-order-item"
                        [routerLink]="['/commercial-purchase-order-item/new']" *jhiHasAnyAuthority="['ROLE_ADMIN']">
                    <fa-icon [icon]="'plus'"></fa-icon>
                </button>
            </div>
        </form>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-12 ">
        <br/>
        <div class="table-responsive" *ngIf="commercialPurchaseOrderItems">
            <table class="table table-striped">
                <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
                    <th jhiSortBy="id"><span>ID</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="commercialPurchaseOrderPurchaseOrderNo"><span>Commercial Purchase Order</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="goodsOrServices"><span>Goods Or Services</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <!--<th jhiSortBy="descriptionOfGoodsOrServices"><span>Description Of Goods Or Services</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="packaging"><span>Packaging</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>-->
                    <th jhiSortBy="sizeOrGrade"><span>Size Or Grade</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="qtyOrMc"><span>Qty Or Mc</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="qtyOrKgs"><span>Qty Or Kgs</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="rateOrKg"><span>Rate Or Kg</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="currencyType"><span>Currency Type</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="total"><span>Total</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <!--<th jhiSortBy="createdBy"><span>Created By</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="createOn"><span>Create On</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="updatedBy"><span>Updated By</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th jhiSortBy="updatedOn"><span>Updated On</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>-->
                    <th></th>
                </tr>
                </thead>
                <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']"
                       [infiniteScrollDistance]="0">
                <tr *ngFor="let commercialPurchaseOrderItem of commercialPurchaseOrderItems ;trackBy: trackId">
                    <td><a
                        [routerLink]="['/commercial-purchase-order-item', commercialPurchaseOrderItem.id, 'view' ]">{{commercialPurchaseOrderItem.id}}</a>
                    </td>
                    <td>
                        <div *ngIf="commercialPurchaseOrderItem.commercialPurchaseOrderId">
                            <a [routerLink]="['../commercial-purchase-order', commercialPurchaseOrderItem.commercialPurchaseOrderId , 'view' ]">{{commercialPurchaseOrderItem.commercialPurchaseOrderPurchaseOrderNo}}</a>
                        </div>
                    </td>
                    <td>{{commercialPurchaseOrderItem.goodsOrServices}}</td>
                    <!--<td>{{commercialPurchaseOrderItem.descriptionOfGoodsOrServices}}</td>
                    <td>{{commercialPurchaseOrderItem.packaging}}</td>-->
                    <td>{{commercialPurchaseOrderItem.sizeOrGrade}}</td>
                    <td>{{commercialPurchaseOrderItem.qtyOrMc}}</td>
                    <td>{{commercialPurchaseOrderItem.qtyOrKgs}}</td>
                    <td>{{commercialPurchaseOrderItem.rateOrKg}}</td>
                    <td>{{commercialPurchaseOrderItem.currencyType}}</td>
                    <td>{{commercialPurchaseOrderItem.total}}</td>
                    <!--<td>{{commercialPurchaseOrderItem.createdBy}}</td>
                    <td>{{commercialPurchaseOrderItem.createOn | date:'mediumDate'}}</td>
                    <td>{{commercialPurchaseOrderItem.updatedBy}}</td>
                    <td>{{commercialPurchaseOrderItem.updatedOn | date:'mediumDate'}}</td>-->
                    <td class="text-right" width="20%">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    [routerLink]="['/commercial-purchase-order-item', commercialPurchaseOrderItem.id, 'view' ]"
                                    class="btn btn-info btn-sm">
                                <fa-icon [icon]="'eye'"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>
                            <button type="submit"
                                    [routerLink]="['/commercial-purchase-order-item', commercialPurchaseOrderItem.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>
                            <button type="submit"
                                    [routerLink]="['/', 'commercial-purchase-order-item', { outlets: { popup: commercialPurchaseOrderItem.id + '/delete'} }]"
                                    replaceUrl="true"
                                    queryParamsHandling="merge"
                                    class="btn btn-danger btn-sm">
                                <fa-icon [icon]="'times'"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
