<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="supplySalesRepresentative">
            <h2><span>Sales Representative</span> {{supplySalesRepresentative.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{supplySalesRepresentative.name}}</span>
                </dd>
                <dt><span>Contact</span></dt>
                <dd>
                    <span>{{supplySalesRepresentative.contact}}</span>
                </dd>
                <dt><span>Email</span></dt>
                <dd>
                    <span>{{supplySalesRepresentative.email}}</span>
                </dd>
                <dt><span>Additional Information</span></dt>
                <dd>
                    <span>{{supplySalesRepresentative.additionalInformation}}</span>
                </dd>
                <dt><span>Created By</span></dt>
                <dd>
                    <span>{{supplySalesRepresentative.createdBy}}</span>
                </dd>
                <dt><span>Created On</span></dt>
                <dd>
                    <span>{{supplySalesRepresentative.createdOn}}</span>
                </dd>
                <dt><span>Updated By</span></dt>
                <dd>
                    <span>{{supplySalesRepresentative.updatedBy}}</span>
                </dd>
                <dt><span>Updated On</span></dt>
                <dd>
                    <span>{{supplySalesRepresentative.updatedOn}}</span>
                </dd>
                <dt><span>Status</span></dt>
                <dd>
                    <span>{{supplySalesRepresentative.status}}</span>
                </dd>
                <dt><span>Zone</span></dt>
                <dd>
                    <div *ngIf="supplySalesRepresentative.supplyZoneId">
                        <a [routerLink]="['/supply-zone', supplySalesRepresentative.supplyZoneId, 'view']">{{supplySalesRepresentative.supplyZoneName}}</a>
                    </div>
                </dd>
                <dt><span>Area</span></dt>
                <dd>
                    <div *ngIf="supplySalesRepresentative.supplyAreaId">
                        <a [routerLink]="['/supply-area', supplySalesRepresentative.supplyAreaId, 'view']">{{supplySalesRepresentative.supplyAreaName}}</a>
                    </div>
                </dd>
                <dt><span>Zone Manager</span></dt>
                <dd>
                    <div *ngIf="supplySalesRepresentative.supplyZoneManagerId">
                        <a [routerLink]="['/supply-zone-manager', supplySalesRepresentative.supplyZoneManagerId, 'view']">{{supplySalesRepresentative.supplyZoneManagerId}}</a>
                    </div>
                </dd>
                <dt><span>Area Manager</span></dt>
                <dd>
                    <div *ngIf="supplySalesRepresentative.supplyAreaManagerId">
                        <a [routerLink]="['/supply-area-manager', supplySalesRepresentative.supplyAreaManagerId, 'view']">{{supplySalesRepresentative.supplyAreaManagerId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>
        </div>
    </div>
</div>
