<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="purchaseOrder">
            <h2><span>Purchase Order</span> {{purchaseOrder.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Purchase Order No</span></dt>
                <dd>
                    <span>{{purchaseOrder.purchaseOrderNo}}</span>
                </dd>
                <dt><span>Work Order No</span></dt>
                <dd>
                    <span>{{purchaseOrder.workOrderNo}}</span>
                </dd>
                <dt><span>Issue Date</span></dt>
                <dd>
                    <span>{{purchaseOrder.issueDate}}</span>
                </dd>
                <dt><span>Referred To</span></dt>
                <dd>
                    <span>{{purchaseOrder.referredTo}}</span>
                </dd>
                <dt><span>Subject</span></dt>
                <dd>
                    <span>{{purchaseOrder.subject}}</span>
                </dd>
                <dt><span>Note</span></dt>
                <dd>
                    <span>{{purchaseOrder.note}}</span>
                </dd>
                <dt><span>Labor Or Other Amount</span></dt>
                <dd>
                    <span>{{purchaseOrder.laborOrOtherAmount}}</span>
                </dd>
                <dt><span>Discount</span></dt>
                <dd>
                    <span>{{purchaseOrder.discount}}</span>
                </dd>
                <dt><span>Status</span></dt>
                <dd>
                    <span>{{purchaseOrder.status}}</span>
                </dd>
                <dt><span>Modified By</span></dt>
                <dd>
                    <span>{{purchaseOrder.modifiedBy}}</span>
                </dd>
                <dt><span>Modified On</span></dt>
                <dd>
                    <span>{{purchaseOrder.modifiedOn}}</span>
                </dd>
                <dt><span>Requisition</span></dt>
                <dd>
                    <div *ngIf="purchaseOrder.requisitionId">
                        <a [routerLink]="['/requisition', purchaseOrder.requisitionId, 'view']">{{purchaseOrder.requisitionRequisitionNo}}</a>
                    </div>
                </dd>
                <dt><span>Quotation</span></dt>
                <dd>
                    <div *ngIf="purchaseOrder.quotationId">
                        <a [routerLink]="['/quotation', purchaseOrder.quotationId, 'view']">{{purchaseOrder.quotationQuotationNo}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/purchase-order', purchaseOrder.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
