<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-purchase-order-heading">Create or edit a Purchase Order</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!purchaseOrder.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="purchaseOrder.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_purchaseOrderNo">Purchase Order No</label>
                    <input type="text" class="form-control" name="purchaseOrderNo" id="field_purchaseOrderNo"
                        [(ngModel)]="purchaseOrder.purchaseOrderNo" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_workOrderNo">Work Order No</label>
                    <input type="text" class="form-control" name="workOrderNo" id="field_workOrderNo"
                        [(ngModel)]="purchaseOrder.workOrderNo" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_issueDate">Issue Date</label>
                    <div class="input-group">
                        <input id="field_issueDate" type="text" class="form-control" name="issueDate" ngbDatepicker  #issueDateDp="ngbDatepicker" [(ngModel)]="purchaseOrder.issueDate"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="issueDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_referredTo">Referred To</label>
                    <input type="text" class="form-control" name="referredTo" id="field_referredTo"
                        [(ngModel)]="purchaseOrder.referredTo" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_subject">Subject</label>
                    <input type="text" class="form-control" name="subject" id="field_subject"
                        [(ngModel)]="purchaseOrder.subject" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_note">Note</label>
                    <textarea class="form-control" name="note" id="field_note"
                        [(ngModel)]="purchaseOrder.note" ></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_laborOrOtherAmount">Labor Or Other Amount</label>
                    <input type="number" class="form-control" name="laborOrOtherAmount" id="field_laborOrOtherAmount"
                        [(ngModel)]="purchaseOrder.laborOrOtherAmount" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_discount">Discount</label>
                    <input type="number" class="form-control" name="discount" id="field_discount"
                        [(ngModel)]="purchaseOrder.discount" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_status">Status</label>
                    <select class="form-control" name="status" [(ngModel)]="purchaseOrder.status" id="field_status" >
                        <option value="WAITING_FOR_ACCOUNTS_APPROVAL">WAITING_FOR_ACCOUNTS_APPROVAL</option>
                        <option value="APPROVED_BY_ACCOUNTS">APPROVED_BY_ACCOUNTS</option>
                        <option value="REJECTED_BY_ACCOUNTS">REJECTED_BY_ACCOUNTS</option>
                        <option value="MODIFICATION_REQUEST_BY_ACCOUNTS">MODIFICATION_REQUEST_BY_ACCOUNTS</option>
                        <option value="WAITING_FOR_CFO_APPROVAL">WAITING_FOR_CFO_APPROVAL</option>
                        <option value="APPROVED_BY_CFO">APPROVED_BY_CFO</option>
                        <option value="REJECTED_BY_CFO">REJECTED_BY_CFO</option>
                        <option value="MODIFICATION_REQUEST_BY_CFO">MODIFICATION_REQUEST_BY_CFO</option>
                        <option value="CLOSED_BY_CFO">CLOSED_BY_CFO</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_modifiedBy">Modified By</label>
                    <input type="text" class="form-control" name="modifiedBy" id="field_modifiedBy"
                        [(ngModel)]="purchaseOrder.modifiedBy" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_modifiedOn">Modified On</label>
                    <div class="input-group">
                        <input id="field_modifiedOn" type="text" class="form-control" name="modifiedOn" ngbDatepicker  #modifiedOnDp="ngbDatepicker" [(ngModel)]="purchaseOrder.modifiedOn"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="modifiedOnDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_requisition">Requisition</label>
                    <select class="form-control" id="field_requisition" name="requisition" [(ngModel)]="purchaseOrder.requisitionId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="requisitionOption.id" *ngFor="let requisitionOption of requisitions; trackBy: trackRequisitionById">{{requisitionOption.requisitionNo}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_quotation">Quotation</label>
                    <select class="form-control" id="field_quotation" name="quotation" [(ngModel)]="purchaseOrder.quotationId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="quotationOption.id" *ngFor="let quotationOption of quotations; trackBy: trackQuotationById">{{quotationOption.quotationNo}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
